


.orders-table{
	margin:55px 0 0 0;
}
.orders-table{

}
.orders-table .orders-table-container{
	width:1125px;
	border-collapse: collapse;
	padding:0;
	margin:0 auto;
}
.orders-table .orders-table-container, .orders-table-container th, .orders-table-container td {
    border:1px solid #e7e7e7;
}
.orders-table .orders-table-container {
    border-bottom:0;
    border-left:0;
}
.orders-table .orders-table-container thead tr th{
	background: #f7f7f7;
}
.orders-table .orders-table-container td{
    padding:16px 24px;
}
.orders-table .orders-table-container th{
    padding:25px 24px;
}
.orders-table .orders-table-container td, .orders-table .orders-table-container th {
    border-top:0;
    border-right:0;
    text-align:center;
	color: #5a5a5a;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
}
.orders-table .orders-table-container tr th:nth-child(1){
	width:104px;
	padding-left:21px;
	padding-right:18px;
}
.orders-table .orders-table-container tr th:nth-child(2){
	width:77px;
	padding-left:30px;
	padding-right:30px;
}
.orders-table .orders-table-container tr th:nth-child(3){
	width:38px;
}
.orders-table .orders-table-container tr th:nth-child(4){
	width:210px;
}
.orders-table .orders-table-container tr th:nth-child(5){
	width:137px;
}
.orders-table .orders-table-container tr th:nth-child(6){
	width:100px;
	padding-left:24px;
	padding-right:24px;
}
.orders-table .orders-table-container tr th:nth-child(7){
	width:90px;
}
.orders-table .orders-table-container tr td:nth-child(7){
	background: url(../img/download.png) no-repeat 18px 27px;
	padding-left: 30px;
}
.orders-table .orders-table-container tr td:nth-child(7):hover{
	color:#02abd6;
	cursor:pointer;
}
.orders-table .orders-table-container tr td:nth-child(4),.orders-table .orders-table-container tr th:nth-child(4){
	text-align:left;
}
.orders-table .orders-table-container tbody tr td:nth-child(3),.orders-table .orders-table-container tbody tr td:nth-child(4),
.orders-table .orders-table-container tbody tr td:nth-child(5){
	font-weight:bold;
	color:#5a5a5a;
}
.orders-table .orders-table-container tbody tr td:nth-child(5){
	text-align:left;
}
.orders-table .orders-table-container tbody tr td span{
	font-weight:normal;
}

.orders-panel{
	margin-top:45px;
}
.orders-panel > div:not(.filter-panel){
	float:left;
}
.orders-panel::after,.filter-panel::after{
	content:'';
	display:block;
	clear:both;
}
.orders-wrapper .search-panel label{
	color: #8e8e8e;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
}
.orders-wrapper .search-panel{
	width:655px;
	margin-right:25px;
}
.orders-wrapper .search-panel input{
	display:block;
	width:calc(100% - 30px);

    margin-top: 8px;
    background-color: white;
    border: 1px solid #dadada;
    border-radius: 3px 4px 4px 3px;
    text-overflow: ellipsis;
    padding: 12px 15px 14px 15px;
    color: #182939;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
}
.orders-picker label{
	color: #8e8e8e;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
}
.orders-picker input{
    padding:12px 15px 14px 15px;
    width: 117px;
    cursor: pointer;
    text-overflow: ellipsis;
    border: 1px solid #dadada;
    border-radius: 3px 4px 4px 3px;
    color: #182939;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    display:block;
    margin:8px 0 0 0;
}
.orders-pickers > div{
	float:left;
}
.from-picker{
	margin-right:85px;
}
.orders-picker{
	position:relative;
}

.order-picker-trigger{
    display: inline-block;
	width: 54px;
	height: 47px;
	border: 1px solid #edecec;
	border-radius: 3px 4px 4px 3px;
    position: absolute;
    left: 155px;
    top: 27px;
    cursor:pointer;
    outline:none;
	background: #f7f7f7 url(../img/picker.png) no-repeat 50% 50%;
}
.order-picker-trigger:hover{
	background-color: #ebebeb;	
}

.filter-panel{
	clear:both;
	padding-top:40px;
}
.filter-panel > div{
	float:left;
}

.filter-button{
	border: 1px solid #edecec;
	border-radius: 3px;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	padding:13px 0;
	width:123px;
	text-align:center;
	cursor:pointer;
}
.orders-wrapper .apply-filter{
	background-color: #00c6f9;
	color:#fff;
}
.orders-wrapper .clear-filter{
	background-color: #f7f7f7;
	color: #585d60;
}
.orders-wrapper .filter-button:last-child{
	margin-left:10px;
}
.orders-wrapper .filter-widget{
	margin-right:30px;
	width:655px;
}
.orders-wrapper .filter-widget label{
	color: #8e8e8e;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
}
.orders-wrapper .filter-widget label span{
	font-weight:bold;
}
.orders-wrapper .filter-slider{
	height:8px;
	background: #ececec;
	position:relative;
	cursor:pointer;
	margin-top:21px;
}
.orders-wrapper .filter-slider .ui-slider-handle{
	width: 12px;
	height: 26px;
	background-color: #f7f7f7;
	border: 1px solid #e3e3e3;
	border-radius: 3px;
	display:inline-block;
	position:absolute;
	top:-9px;
	cursor:pointer;
	outline:none;
}
.orders-wrapper .filter-slider .ui-slider-range{
	height:8px;
	background: #00c6f9;
	position:relative;
}
.orders-wrapper .handler{
	position:absolute;
	top:23px;
	color: #5a5a5a;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 700;
}
.orders-wrapper .filter-buttons{
    position: relative;
    top: 19px;
}
.input-item input[type='text']{
    background-color: white;
    border: 1px solid #dadada;
    border-radius: 3px 4px 4px 3px;
    text-overflow: ellipsis;
    padding: 13px 15px 14px 15px;
    color: #182939;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
}
.filter-widget span{
	float:none !important;
	margin:0 !important;
}
.input-item input[type='text']:focus{
	outline:none;
	border:1px solid #00c6f9;
}
.panel-pickers input{
	cursor:pointer;
}
.datepicker-input-item .ui-datepicker-trigger{
	display: inline-block;
    width: 54px;
	height: 49px;
    border: 1px solid #edecec;
    border-radius: 3px 4px 4px 3px;
    position: relative;
    left: 8px;
    cursor: pointer;
    top: -6px;
    background: #f7f7f7 url(../img/picker.png) no-repeat 50% 50%;
}
.panel-pickers{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.panel-pickers .input-item:last-child{
	margin-left:25px;
}
.datepicker-input-item .ui-datepicker-trigger:hover{
	background-color: #ebebeb;	
}
.ui-datepicker-title select{
    position: relative;	
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: 2px;
    padding: 0 4px 5px 4px;
    outline: none;
    -webkit-appearance: none;
    -ms-appearance: none;
	-moz-appearance:none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #1d2e3d;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    background: url(../img/appereance.png) no-repeat 95% 40%;
}
.ui-datepicker-month {
    left: -4px;
    width: 90px;
}
.ui-datepicker-year {
    left: 4px;
    width: 90px;
}
.ui-datepicker-title > * {
    vertical-align: -66%;
}
.table-content {
    width: 1125px;
}
.datepicker-input-item input {
    width: 117px;
    cursor: pointer;
    padding: 13px 13px 14px 14px;
}
.iteora-pager{
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto';
    margin: 55px 0 100px 0;
}
.iteora-pager ul{
    list-style:none;
    padding:0;
    margin-top: 10px;
    display:-ms-flexbox;
    display:-webkit-box;
    display:flex ;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
    -ms-flex-pack: center ;
    -webkit-box-pack: center ;
            justify-content: center ;
    -ms-flex-flow:row nowrap;
    flex-flow:row nowrap;
}
.iteora-pager .page a{
    border: none;
    display:inline-block;
    background-color: #f7f7f7;
    border: 1px solid #edecec;
    border-radius: 3px;
    margin-left: 13px;
    width: 75px;
    text-align: center;
    padding: 8px 0 10px 0;
    cursor: pointer;
}
.iteora-pager .page.selected a{
    background-color: #00c6f9;
}
.iteora-pager .page.selected a{
    color: #fefefe;
}
.iteora-pager li:not(.page){
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin:0 3px;
}
.iteora-pager li:not(.page) a{
    color: #2e3c47;
    font-size: 17px;
    font-family: 'Roboto';
}
.iteora-pager li:not(.page) a:hover{
    color:#585d60;
}
.iteora-pager li.next{
    margin-left:15px;
}
.iteora-pager .page a{
    color: #585d60;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.iteora-pager .hidden {
    display: none;
}
#ui-datepicker-div{

    float: left;
    min-width: 190px;
    display:none;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
 	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#ui-datepicker-div::before{
	content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0,0,0,.2);
    position: absolute;
    top: -7px;
    left: 6px;
}
#ui-datepicker-div::after{
	content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    position: absolute;
    top: -6px;
    left: 7px;
}
.ui-datepicker-div-higher::before,.ui-datepicker-div-higher::after{
	display:none !important;
}
.ui-datepicker-header{
	display:block;
    color: #2e3c47;
    font-size: 16px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.ui-datepicker-prev{
	float:left;
}
.ui-datepicker-next{
	float:right;
}
.ui-datepicker-prev,.ui-datepicker-next{
    text-align: center;
    width: 30px;
    height: 40px;
    border-radius:4px;
    cursor:pointer;	
    color: #2e3c47;
    font-size:22px;
    font-weight:bold;
}
.ui-datepicker-prev span,.ui-datepicker-next span{
    vertical-align: -29%;
}
.ui-datepicker-next:hover,.ui-datepicker-prev:hover{
	background: #eee;
}
.ui-datepicker-title{
	text-align:center;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.input-item label {
    color: #8e8e8e;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    display: block;
    margin-bottom: 4px;
    cursor: pointer;
}
.ui-datepicker-title > *{
	vertical-align: -66%;
}
.ui-datepicker-calendar{
	width:100%;
}
.ui-datepicker-calendar th{
	padding:5px;
    color: #2e3c47;
    font-size: 16px;
}
.ui-datepicker-calendar td a,.ui-datepicker-calendar td span{
	padding:5px;
	font-size: 14px;
	color: #636363;
	border-radius:4px;
    width: 20px;
    display:inline-block;
    text-align:center;
    height: 18px;
    cursor:pointer;
}
.ui-state-disabled span{
	opacity:0.5;
}
.ui-state-hover{
	background: #eee;
}
.ui-state-highlight{
    background-image: -webkit-linear-gradient(top,#08c,#04c);
    background-image: linear-gradient(to bottom,#08c,#04c);
	color:#fff !important;	
}
.ui-state-active-date{
    background-image: -webkit-linear-gradient(top,#08c,#04c);
    background-image: linear-gradient(to bottom,#08c,#04c);
	color:#fff !important;
}
