@font-face {
    font-family: 'Melbourne Reg';
    src: url('../fonts/Melbourne_reg.eot');
    src: url('../fonts/Melbourne_reg.eot') format('embedded-opentype'),
    url('../fonts/Melbourne_reg.woff2') format('woff2'),
    url('../fonts/Melbourne_reg.woff') format('woff'),
    url('../fonts/Melbourne_reg.ttf') format('truetype'),
    url('../fonts/Melbourne_reg.svg#Melbourne_reg') format('svg');
}
body {
    font-family: Melbourne Reg;
}

#page {
    padding-top: 60px;
}