<p><br />
    &nbsp;</p>

<table cellpadding="7" cellspacing="0" style="width:100%">
    <tbody>
    <tr>
        <td>
            <p><strong>Summary of Benefits </strong></p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Please note that it is a limited summary only. It does not form part of Your Policy and it cannot be relied on as a full description of the cover provided.</p>

            <p>Although We have tried to draw important features of the PDS to Your attention, each benefit section is subject to terms, conditions, exclusions and limitations not listed in the summary.</p>

            <p>Please note that other documents that make up the Policy such as the Certificate of Insurance may also amend the standard terms, conditions and exclusions contained in this PDS.</p>

            <p><strong>What We Pay</strong></p>

            <p>Maximum sum insured amounts apply, as set out in the Summary of Benefits table. The benefit sum insured applies on a per Adult basis unless otherwise stated. Children share the sum insured with Adults. Where specified, sub-limits also apply.</p>

            <p>The term &lsquo;Unlimited&rsquo; only means there is no specified dollar sum insured and does not relate to the terms, conditions and exclusions. Policy terms do apply limits on what We will pay for such benefits.</p>
        </td>
    </tr>
    </tbody>
</table>

<p><strong>Summary of Benefits tables</strong></p>

<ul>
    <li>
        <p><a href="#overseas">Core Plan &ndash; Single Trips Overseas</a></p>
    </li>
    <li>
        <p><a href="#domestic">Core Plans &ndash; Single Trips in Australia (Domestic)</a></p>
    </li>
    <li>
        <p><a href="#benefits">Optional Add-on Benefit Packs</a><!-- Link to relevant table  --></p>
    </li>
</ul>

<p><br />
    &nbsp;</p>

<p><strong><a id="overseas" name="overseas"></a>Core Plans &ndash;Single Trips Overseas</strong></p>

<table cellpadding="7" cellspacing="0" style="width:100%">
    <tbody>
    <tr>
        <td colspan="3">
            <p><strong>Section</strong></p>
        </td>
        <td>
            <p><strong>Cover Description</strong></p>
        </td>
        <td colspan="3">
            <p><strong>Plan</strong></p>

            <p><strong>Maximum Sum Insured</strong></p>
        </td>
        <td>
            <p><strong>Excess/Waiting Period</strong></p>
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <p><strong>Medical Expenses Overseas</strong></p>
        </td>
        <td>
            <p><strong>Prestige</strong></p>
        </td>
        <td>
            <p><strong>Comprehensive</strong></p>
        </td>
        <td>
            <p><strong>Essential</strong></p>
        </td>
        <td>
            <p>&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Medical Expenses Overseas</p>
        </td>
        <td colspan="2">
            <p>Cover for Medical Expenses incurred Overseas as a direct result of Accidental Injury or Sickness and Dental Expenses incurred Overseas as a direct result of Accidental Injury.</p>
        </td>
        <td>
            <p>Unlimited</p>
        </td>
        <td>
            <p>Unlimited</p>
        </td>
        <td>
            <p>Unlimited</p>
        </td>
        <td>
            <p>Yes</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>&nbsp;</p>
        </td>
        <td colspan="2">
            <p>There is a sub-limit for Dental Expenses</p>
        </td>
        <td>
            <p>$2,500</p>
        </td>
        <td>
            <p>$1,000</p>
        </td>
        <td>
            <p>$500</p>
        </td>
        <td>
            <p>Yes</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Trauma Counselling Overseas</p>
        </td>
        <td colspan="2">
            <p>Cover for the cost of trauma counselling Overseas if you suffer psychological trauma because you have been a victim of or witnessed a criminal act such as kidnap, sexual assault, rape, murder, violent robbery or an Act of Terrorism.</p>
        </td>
        <td>
            <p>$2,000</p>
        </td>
        <td>
            <p>$1,000</p>
        </td>
        <td>
            <p>Not applicable</p>
        </td>
        <td>
            <p>No</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Overseas Resident In-patient Additional Expenses</p>
        </td>
        <td colspan="2">
            <p>Cover for a daily contribution to additional expenses when a Doctor deems it necessary for You to be Confined in a Hospital for more than a day due to an Accidental Injury or Sickness.</p>
        </td>
        <td>
            <p>$200 per day</p>

            <p>$10,000 in the aggregate</p>
        </td>
        <td>
            <p>$200 per day</p>

            <p>$5,000 in the aggregate</p>
        </td>
        <td>
            <p>$100 per day</p>

            <p>$2,000 in the aggregate</p>
        </td>
        <td>
            <p>No</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Additional Public Transportation and Accommodation Expenses</p>
        </td>
        <td colspan="2">
            <p>4(a) Your or Your Travel Companion&rsquo;s Cancellation Expenses or Additional Trip Expenses:</p>

            <p>Cover for Your Cancellation Expenses and Additional Trip Expenses due to an Accidental Injury or Sickness that prevents You from continuing Your Trip.</p>

            <p>4(b) Relative or friends Public Transportation and accommodation expenses:</p>

            <p>Cover for Your Relative or friend to travel to You and accompany Your Children Home or to remain with You.</p>
        </td>
        <td>
            <p>Unlimited</p>
        </td>
        <td>
            <p>Unlimited</p>
        </td>
        <td>
            <p>Unlimited</p>
        </td>
        <td>
            <p>Yes</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Overseas Phone Charges in an Emergency</p>
        </td>
        <td colspan="2">
            <p>Cover for phone charges (excluding via public telephone using an international calling card) incurred when engaging with Chubb Assistance during an emergency.</p>
        </td>
        <td>
            <p>$500</p>
        </td>
        <td>
            <p>$500</p>
        </td>
        <td>
            <p>Not applicable</p>
        </td>
        <td>
            <p>No</p>
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <p><strong>Personal Accident</strong></p>
        </td>
        <td>
            <p><strong>Prestige</strong></p>
        </td>
        <td>
            <p><strong>Comprehensive</strong></p>
        </td>
        <td>
            <p><strong>Essential</strong></p>
        </td>
        <td>
            <p>&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Permanent Disablement</p>
        </td>
        <td colspan="2">
            <p>Cover in the Event that an Accidental Injury results in Your Permanent Disablement.</p>

            <p>A sub-limit applies for Children.</p>
        </td>
        <td>
            <p>$25,000</p>

            <p>$10,000 sub-limit</p>
        </td>
        <td>
            <p>$15,000</p>

            <p>$10,000 sub-limit</p>
        </td>
        <td>
            <p>Not applicable</p>
        </td>
        <td>
            <p>No</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Loss of Income</p>
        </td>
        <td colspan="2">
            <p>Cover for Your regular weekly wage/salary when You are unable to attend Your Usual Work in Australia due to You being disabled (as certified by a Doctor) following an Accidental Injury Overseas.</p>
        </td>
        <td>
            <p>$400 per week</p>

            <p>$10,400 in the aggregate</p>

            <p>(6 months)</p>
        </td>
        <td>
            <p>$400 per week</p>

            <p>$5,200 in the aggregate</p>

            <p>(3 months)</p>
        </td>
        <td>
            <p>Not applicable</p>
        </td>
        <td>
            <p>30 days</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Unexpired Membership</p>
        </td>
        <td colspan="2">
            <p>Cover for the pro-rata amount of Your pre-paid membership, association or registration fees when You are unable to participate in any sport or gym activity (as certified by a Doctor) following an Accidental Injury Overseas and You are not able to suspend Your membership.</p>
        </td>
        <td>
            <p>$2,000</p>
        </td>
        <td>
            <p>$500</p>
        </td>
        <td>
            <p>Not applicable</p>
        </td>
        <td>
            <p>No</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Home Help</p>
        </td>
        <td colspan="2">
            <p>Cover in the Event You are unable to conduct Your normal household duties for more than 7 consecutive days (as certified by a Doctor) after You return Home due to an Accidental Injury Overseas.</p>
        </td>
        <td>
            <p>$1,000</p>
        </td>
        <td>
            <p>$500</p>
        </td>
        <td>
            <p>Not applicable</p>
        </td>
        <td>
            <p>No</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Accidental Loss of Life</p>
        </td>
        <td colspan="2">
            <p>Cover in the Event an Accidental Injury results in Your Accidental Loss of Life.</p>

            <p>A sub-limit applies for Children.</p>
        </td>
        <td>
            <p>$25,000</p>

            <p>$1,000 sub-limit</p>
        </td>
        <td>
            <p>$15,000</p>

            <p>$1,000 sub-limit</p>
        </td>
        <td>
            <p>Not applicable</p>
        </td>
        <td>
            <p>No</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Return of Mortal Remains</p>
        </td>
        <td colspan="2">
            <p>Cover for expenses for services provided or arranged by Chubb Assistance for the transportation of Your mortal remains to Your Home or another place in Australia as nominated by the legal representative of Your estate.</p>
        </td>
        <td>
            <p>$10,000</p>
        </td>
        <td>
            <p>$10,000</p>
        </td>
        <td>
            <p>$10,000</p>
        </td>
        <td>
            <p>No</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Credit Card Cover</p>
        </td>
        <td colspan="2">
            <p>Cover for the outstanding balance on Your charge or credit card at the time of an Accidental Injury resulting in Your Accidental Loss of Life.</p>
        </td>
        <td>
            <p>$5,000</p>
        </td>
        <td>
            <p>$2,500</p>
        </td>
        <td>
            <p>Not applicable</p>
        </td>
        <td>
            <p>No</p>
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <p><strong>Travel Cancellation and Disruption</strong></p>
        </td>
        <td>
            <p><strong>Prestige</strong></p>
        </td>
        <td>
            <p><strong>Comprehensive</strong></p>
        </td>
        <td>
            <p><strong>Essential</strong></p>
        </td>
        <td>
            <p>&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Trip Cancellation or Postponement</p>
        </td>
        <td colspan="2">
            <p>13(a) Trip Cancellation Expenses</p>

            <p>Cover for Your Cancellation Expenses when it is necessary for You to cancel Your Trip due to specified reasons.</p>

            <p>13(b) Trip Postponement Expenses</p>

            <p>Cover for Your Additional Trip Expenses when it is necessary for You to postpone Your Trip due to specified reasons.</p>
        </td>
        <td rowspan="3">
            <p>Unlimited</p>

            <p>&nbsp;</p>

            <p>$4,000 sub-limit applies when due to Relative or Business Partner Pre-existing Medical Condition</p>
        </td>
        <td rowspan="3">
            <p>$15,000</p>

            <p>per Event</p>

            <p>and in the aggregate for sections 13, 14 and 15</p>

            <p>&nbsp;</p>

            <p>$4,000 sub-limit applies when due to Relative or Business Partner Pre-existing Medical Condition</p>
        </td>
        <td rowspan="3">
            <p>$5,000</p>

            <p>per Event</p>

            <p>and in the aggregate for sections 13, 14 and 15</p>

            <p>&nbsp;</p>

            <p>$4,000 sub-limit applies when due to Relative or Business Partner Pre-existing Medical Condition</p>
        </td>
        <td>
            <p>Yes</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Missed Departure or Public Transportation Delay (specified reasons)</p>
        </td>
        <td colspan="2">
            <p>14(a) You miss Your Public Transportation</p>

            <p>Cover for either Cancellation Expenses or Additional Trip Expenses due to You missing the departure of Your Public Transportation due to specified reasons and to arrange the replacement of Your Travel Documents where we have accepted Your claim under Section 23 .</p>

            <p>14(b) Your Public Transportation is delayed, rescheduled or cancelled for specified reasons</p>

            <p>Cover for either Cancellation Expenses or Additional Trip Expenses due to Your Public Transportation being delayed, rescheduled or cancelled due to specified reasons.</p>
        </td>
        <td>
            <p>Yes</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Cut Trip Short</p>
        </td>
        <td colspan="2">
            <p>Cover for Cancellation Expenses and Additional Trip Expenses when You cut Your Trip short and return directly to Your Home due to:</p>

            <ol>
                <li>
                    <p>Your Relative or Business Partner&rsquo;s unexpected death, Accidental Injury or Sickness which their Doctor has certified as being life-threatening; or</p>
                </li>
                <li>
                    <p>Your Home becoming uninhabitable or Your Business Premises are significantly damaged following fire, storm, flood or Natural Disaster meaning Your presence is required on premises.</p>
                </li>
            </ol>
        </td>
        <td>
            <p>Yes</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Public Transportation Delay (unspecified reasons) and Overbooking</p>
        </td>
        <td colspan="2">
            <p>Cover in the Event Your Public Transportation is delayed by more than 6 hours or You are denied boarding due to overbooking.</p>

            <p>Allowance to cover meals, refreshments, internet or other items at Your departure point.</p>

            <p>Necessary additional accommodation costs and related transfer costs due to the delay</p>
        </td>
        <td>
            <p>$3,500</p>

            <p>in the aggregate</p>

            <p>&nbsp;</p>

            <p>$150 sub-limit</p>

            <p>&nbsp;</p>

            <p>$2,000</p>
        </td>
        <td>
            <p>$2,500</p>

            <p>in the aggregate</p>

            <p>&nbsp;</p>

            <p>$100 sub-limit</p>

            <p>&nbsp;</p>

            <p>$1,000</p>
        </td>
        <td>
            <p>$1,500</p>

            <p>in the aggregate</p>

            <p>&nbsp;</p>

            <p>$50 sub-limit</p>

            <p>&nbsp;</p>

            <p>$500</p>
        </td>
        <td>
            <p>No</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Special Events</p>
        </td>
        <td colspan="2">
            <p>Cover for the reasonable additional cost to make alternative Public Transportation arrangements in order to arrive at Your destination on time for a Special Event when Your Public Transportation has been delayed or You have been denied boarding due to overbooking.</p>
        </td>
        <td>
            <p>$3,000</p>
        </td>
        <td>
            <p>$2,000</p>
        </td>
        <td>
            <p>Not applicable</p>
        </td>
        <td>
            <p>Yes</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Denied Access to Accommodation</p>
        </td>
        <td colspan="2">
            <p>Cover for Cancellation Expenses or Additional Trip Expenses when you need to make alternative accommodation arrangements due to being denied access to Your pre-booked and pre-paid accommodation due to specified reasons.</p>
        </td>
        <td>
            <p>$2,000</p>
        </td>
        <td>
            <p>$1,000</p>
        </td>
        <td>
            <p>Not applicable</p>
        </td>
        <td>
            <p>Yes</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Travel Agent Cancellation Fees</p>
        </td>
        <td colspan="2">
            <p>Cover for cancellation fees charged by travel agents related to claims accepted under Sections 4, 13, 14, 15 or 18.</p>
        </td>
        <td>
            <p>Lesser of $1,500 or 15% of the refundable amount of the cancelled travel arrangements</p>
        </td>
        <td>
            <p>Lesser of $1,000 or 15% of the refundable amount of the cancelled travel arrangements</p>
        </td>
        <td>
            <p>Lesser $750 or 15% of the refundable amount of the cancelled travel arrangements</p>
        </td>
        <td>
            <p>Yes</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Resumption of Trip</p>
        </td>
        <td colspan="2">
            <p>Cover for Your Additional Trip Expenses for Public Transportation where You have been covered under Section 15 &ndash; Cut Trip Short or Chubb Assistance returned You to Australia under Section 1 &ndash; Medical Expenses Overseas and You want to resume Your Trip.</p>
        </td>
        <td>
            <p>$5,000</p>
        </td>
        <td>
            <p>$3,000</p>
        </td>
        <td>
            <p>Not applicable</p>
        </td>
        <td>
            <p>No</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Pet Boarding Expenses</p>
        </td>
        <td colspan="2">
            <p>Cover for additional pet boarding expenses due to You being prevented from returning Home by the End Date as a result of specified reasons.</p>
        </td>
        <td>
            <p>$500</p>
        </td>
        <td>
            <p>$500</p>
        </td>
        <td>
            <p>Not applicable</p>
        </td>
        <td>
            <p>No</p>
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <p><strong>Baggage, Personal Effects, Travel Documents and Money</strong></p>
        </td>
        <td>
            <p><strong>Prestige</strong></p>
        </td>
        <td>
            <p><strong>Comprehensive</strong></p>
        </td>
        <td>
            <p><strong>Essential</strong></p>
        </td>
        <td>
            <p>&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td rowspan="5">
            <p>Baggage and Personal Effects (excluding Travel Documents and Money)</p>
        </td>
        <td colspan="2">
            <p>Cover for Your baggage and personal effects (excluding Travel Documents and Money) when they are lost, stolen or damaged. Per item limits apply.</p>
        </td>
        <td>
            <p>$25,000</p>

            <p>in the aggregate for all items</p>
        </td>
        <td>
            <p>$10,000</p>

            <p>in the aggregate for all items</p>
        </td>
        <td>
            <p>$5,000</p>

            <p>in the aggregate for all items</p>
        </td>
        <td>
            <p>Yes</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td colspan="2">
            <ol type="i" style="list-style: lower-roman;" start="1">
                <li>
                    <p>Electronic Equipment (excluding mobile phones)</p>
                </li>
            </ol>

            <p>A sub-limit applies when the Public Transportation provider has specifically instructed that the items must be placed in the hold and no prior instruction or advice regarding this was available to You prior to checking in.</p>
        </td>
        <td>
            <p>$5,000 per item</p>

            <p>$1,000 sub-limit</p>
        </td>
        <td>
            <p>$3,000 per item</p>

            <p>$1,000 sub-limit</p>
        </td>
        <td>
            <p>$1,500 per item</p>

            <p>$1,000 sub-limit</p>
        </td>
        <td>
            <p>$250</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td colspan="2">
            <ol type="i" style="list-style: lower-roman;" start="2">
                <li>
                    <p>Mobile phone</p>
                </li>
            </ol>
        </td>
        <td>
            <p>$1,500 per item</p>
        </td>
        <td>
            <p>$1,000 per item</p>
        </td>
        <td>
            <p>$1,000 per item</p>
        </td>
        <td>
            <p>$250</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td colspan="2">
            <ol type="i" style="list-style: lower-roman;" start="3">
                <li>
                    <p>Jewellery</p>
                </li>
            </ol>

            <p>A sub-limit applies when the Public Transportation provider has specifically instructed that the items must be placed in the hold and no prior instruction or advice regarding this was available to You prior to checking in.</p>
        </td>
        <td>
            <p>$1,500 per item</p>

            <p>$1,000 sub-limit</p>
        </td>
        <td>
            <p>$750 per item</p>

            <p>$1,000 sub-limit</p>
        </td>
        <td>
            <p>$500 per item</p>

            <p>$1,000 sub-limit</p>
        </td>
        <td>
            <p>Yes</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td colspan="2">
            <ol type="i" style="list-style: lower-roman;" start="4">
                <li>
                    <p>Any other item</p>
                </li>
            </ol>
        </td>
        <td>
            <p>$1,000 per item</p>
        </td>
        <td>
            <p>$500 per item</p>
        </td>
        <td>
            <p>$500 per item</p>
        </td>
        <td>
            <p>Yes</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Travel Documents</p>
        </td>
        <td colspan="2">
            <p>Cover for the cost to replace Travel Documents lost, stolen or damaged Overseas.</p>
        </td>
        <td>
            <p>$500</p>
        </td>
        <td>
            <p>$500</p>
        </td>
        <td>
            <p>$500</p>
        </td>
        <td>
            <p>Yes</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Money and Unauthorised use of Cards</p>
        </td>
        <td colspan="2">
            <p>Cover for the value of Money and legal liability arising from unauthorised use of credit card transactions when lost or stolen Overseas whilst they are carried on Your person or in a locked safe at Your accommodation.</p>
        </td>
        <td>
            <p>$1,000</p>
        </td>
        <td>
            <p>$250</p>
        </td>
        <td>
            <p>Not applicable</p>
        </td>
        <td>
            <p>Yes</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Baggage Delay</p>
        </td>
        <td colspan="2">
            <p>Cover for reimbursement for the cost of reasonable essential clothing and toiletries when all of Your baggage is delayed by Your Public Transportation provider for more than 12 or 48 hours.</p>
        </td>
        <td>
            <p>$500 12 hours</p>

            <p>$1,000 48 hours</p>
        </td>
        <td>
            <p>$250 12 hours</p>

            <p>$500 48 hours</p>
        </td>
        <td>
            <p>$250 12 hours</p>

            <p>$500 48 hours</p>
        </td>
        <td>
            <p>No</p>
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <p><strong>Other</strong></p>
        </td>
        <td>
            <p><strong>Prestige</strong></p>
        </td>
        <td>
            <p><strong>Comprehensive</strong></p>
        </td>
        <td>
            <p><strong>Essential</strong></p>
        </td>
        <td>
            <p>&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Personal Liability</p>
        </td>
        <td colspan="2">
            <p>Cover for compensation that You become legally liable to pay due to Your negligence resulting in either physical damage to someone else&rsquo;s tangible property or the bodily injury or death of someone else.</p>
        </td>
        <td>
            <p>$5,000,000</p>
        </td>
        <td>
            <p>$2,000,000</p>
        </td>
        <td>
            <p>$1,000,000</p>
        </td>
        <td>
            <p>Yes</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Hijack/Kidnap</p>
        </td>
        <td colspan="2">
            <p>Cover in the Event You are forcibly detained on Public Transportation due to it being hijacked by persons using violence or threat of violence or You being kidnapped Overseas.</p>
        </td>
        <td>
            <p>$1,000 per day and $30,000 in the aggregate</p>
        </td>
        <td>
            <p>$300 per day and $10,000 in the aggregate</p>
        </td>
        <td>
            <p>Not applicable</p>
        </td>
        <td>
            <p>No</p>
        </td>
    </tr>
    </tbody>
</table>

<p><br />
    &nbsp;</p>

<p><br />
    &nbsp;</p>

<p><br />
    &nbsp;</p>

<p><strong><a id="domestic" name="domestic"></a>Core Plans &ndash; Single Trips in Australia (Domestic)</strong></p>

<table cellpadding="7" cellspacing="0" style="width:100%">
    <tbody>
    <tr>
        <td colspan="3">
            <p><strong>Section</strong></p>
        </td>
        <td colspan="2">
            <p><strong>Cover Description</strong></p>
        </td>
        <td colspan="6">
            <p><strong>Plan</strong></p>

            <p><strong>Maximum Sum Insured</strong></p>
        </td>
        <td>
            <p><strong>Excess</strong></p>
        </td>
    </tr>
    <tr>
        <td colspan="5">
            <p><strong>Personal Accident</strong></p>
        </td>
        <td colspan="2">
            <p><strong>Prestige</strong></p>
        </td>
        <td colspan="2">
            <p><strong>Comprehensive</strong></p>
        </td>
        <td colspan="2">
            <p><strong>Essential</strong></p>
        </td>
        <td>
            <p>&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td colspan="2">
            <p>Permanent Disablement</p>
        </td>
        <td colspan="2">
            <p>Cover in the Event that an Accidental Injury results in Your Permanent Disablement.</p>

            <p>A sub-limit applies for Children.</p>
        </td>
        <td colspan="2">
            <p>$10,000</p>

            <p>$5,000 sub-limit</p>
        </td>
        <td colspan="2">
            <p>$5,000</p>

            <p>$2,500 sub-limit</p>
        </td>
        <td colspan="2">
            <p>Not applicable</p>
        </td>
        <td colspan="2">
            <p>No</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td colspan="2">
            <p>Accidental Loss of Life</p>
        </td>
        <td colspan="2">
            <p>Cover in the Event an Accidental Injury results in Your Accidental Loss of Life.</p>

            <p>A sub-limit applies for Children.</p>
        </td>
        <td colspan="2">
            <p>$10,000</p>

            <p>$1,000 sub-limit</p>
        </td>
        <td colspan="2">
            <p>$5,000</p>

            <p>$1,000 sub-limit</p>
        </td>
        <td colspan="2">
            <p>Not applicable</p>
        </td>
        <td colspan="2">
            <p>No</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td colspan="2">
            <p>Return of Mortal Remains</p>
        </td>
        <td colspan="2">
            <p>Cover for expenses for services provided or arranged by Chubb Assistance for the transportation of Your mortal remains to Your Home or another place in Australia as nominated by the legal representative of Your estate.</p>
        </td>
        <td colspan="2">
            <p>$10,000</p>
        </td>
        <td colspan="2">
            <p>$10,000</p>
        </td>
        <td colspan="2">
            <p>$10,000</p>
        </td>
        <td colspan="2">
            <p>No</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td colspan="2">
            <p>Credit Card Cover</p>
        </td>
        <td colspan="2">
            <p>Cover for the outstanding balance on Your charge or credit card at the time of an Accidental Injury resulting in Your Accidental Loss of Life.</p>
        </td>
        <td colspan="2">
            <p>$5,000</p>
        </td>
        <td colspan="2">
            <p>$2,500</p>
        </td>
        <td colspan="2">
            <p>Not applicable</p>
        </td>
        <td colspan="2">
            <p>No</p>
        </td>
    </tr>
    <tr>
        <td colspan="5">
            <p><strong>Travel Cancellation and Disruption</strong></p>
        </td>
        <td colspan="2">
            <p><strong>Prestige</strong></p>
        </td>
        <td colspan="2">
            <p><strong>Comprehensive</strong></p>
        </td>
        <td colspan="2">
            <p><strong>Essential</strong></p>
        </td>
        <td>
            <p>&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td colspan="2">
            <p>Trip Cancellation or Postponement</p>
        </td>
        <td colspan="2">
            <p>13(a) Trip Cancellation Expenses</p>

            <p>Cover for Your Cancellation Expenses when it is necessary for You to cancel Your Trip due to specified reasons.</p>

            <p>13(b) Trip Postponement Expenses</p>

            <p>Cover for Your Additional Trip Expenses when it is necessary for You to postpone Your Trip due to specified reasons.</p>
        </td>
        <td colspan="2" rowspan="3">
            <p>$15,000</p>

            <p>&nbsp;</p>

            <p>$2,000 sub-limit applies when due to Relative or Business Partner Pre-existing Medical Condition</p>
        </td>
        <td colspan="2" rowspan="3">
            <p>up to</p>

            <p>$5,000</p>

            <p>per Event</p>

            <p>and in the aggregate for sections 13, 14 and 15</p>

            <p>&nbsp;</p>

            <p>$2,000 sub-limit applies when due to Relative or Business Partner Pre-existing Medical Condition</p>
        </td>
        <td colspan="2" rowspan="3">
            <p>up to</p>

            <p>$2,500</p>

            <p>per Event</p>

            <p>and in the aggregate for sections 13, 14 and 15</p>

            <p>&nbsp;</p>

            <p>$2,000 sub-limit applies when due to Relative or Business Partner Pre-existing Medical Condition</p>
        </td>
        <td colspan="2">
            <p>Yes</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td colspan="2">
            <p>Missed Departure or Public Transportation Delay (specified reasons)</p>
        </td>
        <td colspan="2">
            <p>14(a) You miss Your Public Transportation</p>

            <p>Cover for either Cancellation Expenses or Additional Trip Expenses due to You missing the departure of Your Public Transportation due to specified reasons.</p>

            <p>14(b) Your Public Transportation is delayed, rescheduled or cancelled for specified reasons</p>

            <p>Cover for either Cancellation Expenses or Additional Trip Expenses due to Your Public Transportation being delayed, rescheduled or cancelled due to specified reasons.</p>
        </td>
        <td colspan="2">
            <p>Yes</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td colspan="2">
            <p>Cut Trip Short</p>
        </td>
        <td colspan="2">
            <p>Cover for Cancellation Expenses and Additional Trip Expenses when You cut Your Trip short and return directly to Your Home due to:</p>

            <ol>
                <li>
                    <p>Your Relative or Business Partner&rsquo;s unexpected death, Accidental Injury or Sickness which their Doctor has certified as being life-threatening; or</p>
                </li>
                <li>
                    <p>Your Home becoming uninhabitable or Your Business Premises are significantly damaged following fire, storm, flood or Natural Disaster meaning Your presence is required on premises.</p>
                </li>
            </ol>
        </td>
        <td colspan="2">
            <p>Yes</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td colspan="2">
            <p>Public Transportation Delay (unspecified reasons) and Overbooking</p>
        </td>
        <td colspan="2">
            <p>Cover in the Event Your Public Transportation is delayed by more than six (6) hours or You are denied boarding due to overbooking.</p>

            <p>Allowance to cover meals, refreshments, internet or other items at Your departure point.</p>

            <p>Necessary additional accommodation costs and related transfer costs due to the delay</p>
        </td>
        <td colspan="2">
            <p>$3,500</p>

            <p>in the aggregate</p>

            <p>&nbsp;</p>

            <p>$150 sub-limit</p>

            <p>&nbsp;</p>

            <p>$1,000</p>
        </td>
        <td colspan="2">
            <p>$2,500</p>

            <p>in the aggregate</p>

            <p>&nbsp;</p>

            <p>$100 sub-limit</p>

            <p>&nbsp;</p>

            <p>$500</p>
        </td>
        <td colspan="2">
            <p>$1,500</p>

            <p>in the aggregate</p>

            <p>&nbsp;</p>

            <p>$50 sub-limit</p>

            <p>&nbsp;</p>

            <p>$250</p>
        </td>
        <td colspan="2">
            <p>No</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td colspan="2">
            <p>Special Events</p>
        </td>
        <td colspan="2">
            <p>Cover for the reasonable additional cost to make alternative Public Transportation arrangements in order to arrive at Your destination on time for a Special Event when Your Public Transportation has been delayed or You have been denied boarding due to overbooking.</p>
        </td>
        <td colspan="2">
            <p>$3,000</p>
        </td>
        <td colspan="2">
            <p>$2,000</p>
        </td>
        <td colspan="2">
            <p>Not applicable</p>
        </td>
        <td colspan="2">
            <p>Yes</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td colspan="2">
            <p>Denied Access to Accommodation</p>
        </td>
        <td colspan="2">
            <p>Cover for Cancellation Expenses or Additional Trip Expenses when you need to make alternative accommodation arrangements due to being denied access to Your pre-booked and pre-paid accommodation due to specified reasons.</p>
        </td>
        <td colspan="2">
            <p>$2,000</p>
        </td>
        <td colspan="2">
            <p>$1,000</p>
        </td>
        <td colspan="2">
            <p>Not applicable</p>
        </td>
        <td colspan="2">
            <p>Yes</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td colspan="2">
            <p>Travel Agent Cancellation Fees</p>
        </td>
        <td colspan="2">
            <p>Cover for cancellation fees charged by travel agents related to claims accepted under Sections 13, 14, 15 or 18.</p>
        </td>
        <td colspan="2">
            <p>Lesser of $1,500 or 15% of the refundable amount of the cancelled travel arrangements</p>
        </td>
        <td colspan="2">
            <p>Lesser of $1,000 or 15% of the refundable amount of the cancelled travel arrangements</p>
        </td>
        <td colspan="2">
            <p>Lesser $750 or 15% of the refundable amount of the cancelled travel arrangements</p>
        </td>
        <td colspan="2">
            <p>Yes</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td colspan="2">
            <p>Pet Boarding Expenses</p>
        </td>
        <td colspan="2">
            <p>Cover for additional pet boarding expenses due to You being prevented from returning Home by the End Date as a result of specified reasons.</p>
        </td>
        <td colspan="2">
            <p>$500</p>
        </td>
        <td colspan="2">
            <p>$500</p>
        </td>
        <td colspan="2">
            <p>Not applicable</p>
        </td>
        <td colspan="2">
            <p>No</p>
        </td>
    </tr>
    <tr>
        <td colspan="5">
            <p><strong>Baggage, Personal Effects, Travel Documents and Money</strong></p>
        </td>
        <td colspan="2">
            <p><strong>Prestige</strong></p>
        </td>
        <td colspan="2">
            <p><strong>Comprehensive</strong></p>
        </td>
        <td colspan="2">
            <p><strong>Essential</strong></p>
        </td>
        <td>
            <p>&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td colspan="2" rowspan="5">
            <p>Baggage and Personal Effects (excluding Travel Documents and Money)</p>
        </td>
        <td colspan="2">
            <p>Cover for Your baggage and personal effects (excluding Travel Documents and Money) when they are lost, stolen or damaged. Per item limits apply.</p>
        </td>
        <td colspan="2">
            <p>$25,000</p>

            <p>in the aggregate for all items</p>
        </td>
        <td colspan="2">
            <p>$10,000</p>

            <p>in the aggregate for all items</p>
        </td>
        <td colspan="2">
            <p>$5,000</p>

            <p>in the aggregate for all items</p>
        </td>
        <td colspan="2">
            <p>Yes</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td colspan="2">
            <ol type="i" style="list-style: lower-roman;" start="1">
                <li>
                    <p>Electronic Equipment (excluding mobile phones)</p>
                </li>
            </ol>

            <p>A sub-limit applies when the Public Transportation provider has specifically instructed that the items must be placed in the hold and no prior instruction or advice regarding this was available to You prior to checking in.</p>
        </td>
        <td colspan="2">
            <p>$5,000 per item</p>

            <p>$1,000 sub-limit</p>
        </td>
        <td colspan="2">
            <p>$3,000 per item</p>

            <p>$1,000 sub-limit</p>
        </td>
        <td colspan="2">
            <p>$1,500 per item</p>

            <p>$1,000 sub-limit</p>
        </td>
        <td colspan="2">
            <p>$250</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td colspan="2">
            <ol type="i" style="list-style: lower-roman;" start="2">
                <li>
                    <p>Mobile phone</p>
                </li>
            </ol>
        </td>
        <td colspan="2">
            <p>$1,500 per item</p>
        </td>
        <td colspan="2">
            <p>$1,000 per item</p>
        </td>
        <td colspan="2">
            <p>$1,000 per item</p>
        </td>
        <td colspan="2">
            <p>$250</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td colspan="2">
            <ol type="i" style="list-style: lower-roman;" start="3">
                <li>
                    <p>Jewellery/watches</p>
                </li>
            </ol>

            <p>A sub-limit applies when the Public Transportation provider has specifically instructed that the items must be placed in the hold and no prior instruction or advice regarding this was available to You prior to checking in.</p>
        </td>
        <td colspan="2">
            <p>$1,500 per item</p>

            <p>$1,000 sub-limit</p>
        </td>
        <td colspan="2">
            <p>$750 per item</p>

            <p>$1,000 sub-limit</p>
        </td>
        <td colspan="2">
            <p>$500 per item</p>

            <p>$1,000 sub-limit</p>
        </td>
        <td colspan="2">
            <p>Yes</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td colspan="2">
            <ol type="i" style="list-style: lower-roman;" start="4">
                <li>
                    <p>Any other item</p>
                </li>
            </ol>
        </td>
        <td colspan="2">
            <p>$1,000 per item</p>
        </td>
        <td colspan="2">
            <p>$500 per item</p>
        </td>
        <td colspan="2">
            <p>$500 per item</p>
        </td>
        <td colspan="2">
            <p>Yes</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td colspan="2">
            <p>Baggage Delay</p>
        </td>
        <td colspan="2">
            <p>Cover for reimbursement for the cost of reasonable essential clothing and toiletries when all of Your baggage is delayed by Your Public Transportation provider for more than 12 or 48 hours.</p>
        </td>
        <td colspan="2">
            <p>$500 12 hours</p>

            <p>$1,000 48 hours</p>
        </td>
        <td colspan="2">
            <p>$250 12 hours</p>

            <p>$500 48 hours</p>
        </td>
        <td colspan="2">
            <p>$250 12 hours</p>

            <p>$500 48 hours</p>
        </td>
        <td colspan="2">
            <p>No</p>
        </td>
    </tr>
    <tr>
        <td colspan="5">
            <p><strong>Other</strong></p>
        </td>
        <td colspan="2">
            <p><strong>Prestige</strong></p>
        </td>
        <td colspan="2">
            <p><strong>Comprehensive</strong></p>
        </td>
        <td colspan="2">
            <p><strong>Essential</strong></p>
        </td>
        <td>
            <p>&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td colspan="2">
            <p>Personal Liability</p>
        </td>
        <td colspan="2">
            <p>Cover for compensation that You become legally liable to pay due to Your negligence resulting in either physical damage to someone else&rsquo;s tangible property or the bodily injury or death of someone else.</p>
        </td>
        <td colspan="2">
            <p>$1,000,000</p>
        </td>
        <td colspan="2">
            <p>$500,000</p>
        </td>
        <td colspan="2">
            <p>$200,000</p>
        </td>
        <td colspan="2">
            <p>Yes</p>
        </td>
    </tr>
    </tbody>
</table>

<p><br />
    &nbsp;</p>

<p><strong><a id="benefits" name="benefits"></a>Optional Add-on Benefit Packs</strong></p>

<p><br />
    &nbsp;</p>

<table cellpadding="7" cellspacing="0" style="width:100%">
    <tbody>
    <tr>
        <td colspan="2">
            <p><strong>Section</strong></p>
        </td>
        <td colspan="3">
            <p><strong>Cover Description</strong></p>
        </td>
        <td colspan="6">
            <p><strong>Plan</strong></p>

            <p><strong>Maximum Sum Insured</strong></p>
        </td>
        <td>
            <p><strong>Excess</strong></p>
        </td>
    </tr>
    <tr>
        <td colspan="5">
            <p><strong>Cruise Pack</strong></p>
        </td>
        <td>
            <p><strong>Prestige</strong></p>
        </td>
        <td colspan="2">
            <p><strong>Comprehensive</strong></p>
        </td>
        <td colspan="3">
            <p><strong>Essential</strong></p>
        </td>
        <td>
            <p>&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Cruise</p>
        </td>
        <td colspan="3">
            <p>General Exclusion 15 is not applicable for your Policy when Cruise Pack is shown as &lsquo;Included&rsquo; on Your Certificate of Insurance. The definition of Cancellation Expenses is extended to include reasonable pre-paid, non-refundable and unused portion of cruise activities and day excursions.</p>
        </td>
        <td colspan="6">
            <p>&nbsp;</p>
        </td>
        <td>
            <p>&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Cabin Confinement</p>
        </td>
        <td colspan="3">
            <p>Cover for a daily contribution to additional expenses when a Doctor deems it necessary for You to be confined in Your cabin on a cruise for more than a day due to an Accidental Injury or Sickness.</p>
        </td>
        <td colspan="6">
            <p>$100 per day</p>

            <p>$1,000 in the aggregate</p>
        </td>
        <td>
            <p>No</p>
        </td>
    </tr>
    <tr>
        <td colspan="5">
            <p><strong>Winter Sports Pack</strong></p>
        </td>
        <td>
            <p><strong>Prestige</strong></p>
        </td>
        <td colspan="2">
            <p><strong>Comprehensive</strong></p>
        </td>
        <td colspan="3">
            <p><strong>Essential</strong></p>
        </td>
        <td>
            <p>&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Winter Sports</p>
        </td>
        <td colspan="3">
            <p>General Exclusion 22(b) is not applicable for your Policy when Winter Sports Pack is shown as &lsquo;Included&rsquo; on Your Certificate of Insurance.</p>
        </td>
        <td colspan="6">
            <p>&nbsp;</p>
        </td>
        <td>
            <p>&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Own Winter Sport Equipment</p>
        </td>
        <td colspan="3">
            <p>Cover for when Your Winter Sports Equipment is lost, stolen or damaged.</p>
        </td>
        <td colspan="6">
            <p>$1,500 per item</p>

            <p>$3,000 in the aggregate</p>
        </td>
        <td>
            <p>Yes</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Winter Sport Equipment Hire</p>
        </td>
        <td colspan="3">
            <p>Cover for the cost of hiring alternative Winter Sports Equipment when Your Winter Sports Equipment is lost, stolen or damaged or is delayed by Your Public Transportation by more than 24 hours.</p>
        </td>
        <td colspan="6">
            <p>$1,500</p>
        </td>
        <td>
            <p>Yes</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Unused Winter Sports Costs</p>
        </td>
        <td colspan="3">
            <p>Cover in the Event You suffer an Accidental Injury or Sickness and a Doctor certifies that you are unable to use the unused pre-booked and pre-paid ski passes, ski hire, tuition fees or lift passes we will reimburse You for the non-refundable amount.</p>
        </td>
        <td colspan="6">
            <p>$1,000</p>
        </td>
        <td>
            <p>Yes</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Piste Closure</p>
        </td>
        <td colspan="3">
            <p>Cover for the cost of transport and additional ski passes at the nearest alternative resort when all the lift systems are closed for more than 24 hours due to insufficient snow, severe weather or power failure at Your pre-booked ski holiday resort.</p>
        </td>
        <td colspan="6">
            <p>$1,000</p>
        </td>
        <td>
            <p>Yes</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Weather and Avalanche Closure</p>
        </td>
        <td colspan="3">
            <p>Cover for Your reasonable Additional Trip Expenses due to You being delayed from leaving Your ski holiday resort for more than 12 hours due to severe weather or an avalanche that has been confirmed in writing by the relevant authority.</p>
        </td>
        <td colspan="6">
            <p>$1,000</p>
        </td>
        <td>
            <p>Yes</p>
        </td>
    </tr>
    <tr>
        <td colspan="5">
            <p><strong>Adventure Sports Pack</strong></p>
        </td>
        <td colspan="2">
            <p><strong>Prestige</strong></p>
        </td>
        <td colspan="2">
            <p><strong>Comprehensive</strong></p>
        </td>
        <td colspan="2">
            <p><strong>Essential</strong></p>
        </td>
        <td>
            <p>&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Adventure Sports</p>
        </td>
        <td colspan="3">
            <p>General Exclusion 22(c) is not applicable for your Policy when Adventure Sports Pack is shown as &lsquo;Included&rsquo; on You Certificate of Insurance.</p>
        </td>
        <td colspan="6">
            <p>&nbsp;</p>
        </td>
        <td>
            <p>&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Own Adventure Sport Equipment</p>
        </td>
        <td colspan="3">
            <p>Cover for when Your Adventure Sports Equipment is lost, stolen or damaged.</p>
        </td>
        <td colspan="6">
            <p>$1,500 per item</p>

            <p>$3,000 in the aggregate</p>
        </td>
        <td>
            <p>Yes</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Adventure Sport Equipment Hire</p>
        </td>
        <td colspan="3">
            <p>Cover for the cost of hiring alternative Adventure Sports Equipment when Your Adventure Sports Equipment is lost, stolen or damaged or is delayed by Your Public Transportation by more than 24 hours.</p>
        </td>
        <td colspan="6">
            <p>$1,500</p>
        </td>
        <td>
            <p>Yes</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Unused Adventure Sports Costs</p>
        </td>
        <td colspan="3">
            <p>Cover in the Event You suffer an Accidental Injury or Sickness and a Doctor certifies that you are unable to use the unused pre-booked and pre-paid Adventure Sports costs we will reimburse You for the non-refundable amount.</p>
        </td>
        <td colspan="6">
            <p>$1,000</p>
        </td>
        <td>
            <p>Yes</p>
        </td>
    </tr>
    <tr>
        <td colspan="5">
            <p><strong>Golf Pack</strong></p>
        </td>
        <td colspan="2">
            <p><strong>Prestige</strong></p>
        </td>
        <td colspan="2">
            <p><strong>Comprehensive</strong></p>
        </td>
        <td colspan="2">
            <p><strong>Essential</strong></p>
        </td>
        <td>
            <p>&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Own Golf Equipment</p>
        </td>
        <td colspan="3">
            <p>Cover for when Your Golf Equipment is lost, stolen or damaged.</p>
        </td>
        <td colspan="6">
            <p>$1,500 per item</p>

            <p>$3,000 in the aggregate</p>
        </td>
        <td>
            <p>Yes</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Golf Equipment Hire</p>
        </td>
        <td colspan="3">
            <p>Cover for the cost of hiring alternative Golf Equipment when Your Golf Equipment is lost, stolen or damaged or is delayed by Your Public Transportation by more than 24 hours.</p>
        </td>
        <td colspan="6">
            <p>$1,500</p>
        </td>
        <td>
            <p>Yes</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Unused Golf Costs</p>
        </td>
        <td colspan="3">
            <p>Cover in the Event You suffer an Accidental Injury or Sickness and a Doctor certifies that you are unable to use the unused pre-booked and pre-paid green fees, golf buggy hire or golf club hire we will reimburse You for the non-refundable amount.</p>
        </td>
        <td colspan="6">
            <p>$1,000</p>
        </td>
        <td>
            <p>Yes</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Hole- in-One</p>
        </td>
        <td colspan="3">
            <p>Cover for reimbursement of the customary food and beverages at the golf club house for the purpose of celebrating Your hole-in-one.</p>
        </td>
        <td colspan="6">
            <p>$500</p>
        </td>
        <td>
            <p>Yes</p>
        </td>
    </tr>
    <tr>
        <td colspan="5">
            <p><strong>Driving Holiday Pack</strong></p>
        </td>
        <td colspan="2">
            <p><strong>Prestige</strong></p>
        </td>
        <td colspan="2">
            <p><strong>Comprehensive</strong></p>
        </td>
        <td colspan="2">
            <p><strong>Essential</strong></p>
        </td>
        <td>
            <p>&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Rental Vehicle Excess</p>
        </td>
        <td colspan="3">
            <p>Cover in the Event You become liable to pay a Rental Vehicle insurance excess as a result of the theft or collision involving Your Rental Vehicle whilst in Your control.</p>
        </td>
        <td colspan="6">
            <p>$5,000</p>
        </td>
        <td>
            <p>No</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Baggage and Personal Effects whilst in vehicle</p>
        </td>
        <td colspan="3">
            <p>Cover for when Your baggage and personal effects when stored out of sight in Your locked Rental Vehicle during the day are stolen.</p>
        </td>
        <td colspan="6">
            <p>$500 per item</p>

            <p>$2.000 in the aggregate</p>
        </td>
        <td>
            <p>Yes</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Lost Key</p>
        </td>
        <td colspan="3">
            <p>Cover for the expenses to replace the key to Your Rental Vehicle if you lose it.</p>
        </td>
        <td colspan="6">
            <p>$500</p>
        </td>
        <td>
            <p>Yes</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Towing Expenses</p>
        </td>
        <td colspan="3">
            <p>Cover for reasonably incurred towing expenses to return Your Rental Vehicle to the nearest depot when You are unfit to drive it by reason of an Accidental Injury or Sickness.</p>
        </td>
        <td colspan="6">
            <p>$1,000</p>
        </td>
        <td>
            <p>No</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Carjacking Incident or Road Rage Incident</p>
        </td>
        <td colspan="3">
            <p>Cover in the Event you sustain an Accidental Injury as a result of being the victim of a Carjacking Incident or Road Rage Incident.</p>
        </td>
        <td colspan="6">
            <p>$2,000</p>
        </td>
        <td>
            <p>No</p>
        </td>
    </tr>
    <tr>
        <td colspan="5">
            <p><strong>Family Protection Pack</strong></p>
        </td>
        <td colspan="2">
            <p><strong>Prestige</strong></p>
        </td>
        <td colspan="2">
            <p><strong>Comprehensive</strong></p>
        </td>
        <td colspan="2">
            <p><strong>Essential</strong></p>
        </td>
        <td>
            <p>&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Extended the per item for strollers, child car seats and baby capsules</p>
        </td>
        <td colspan="3">
            <p>Cover for when Your stroller, child car seat and baby capsule is lost, stolen or damaged.</p>
        </td>
        <td colspan="6">
            <p>$1,500 per item</p>

            <p>$3,000 in the aggregate</p>
        </td>
        <td>
            <p>Yes</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Childcare Benefit</p>
        </td>
        <td colspan="3">
            <p>Cover for the reasonable and necessary daily expenses incurred for the services of a registered childcare provider when you sustain an Accidental Injury Overseas.</p>
        </td>
        <td colspan="6">
            <p>$200 per day</p>

            <p>$2,000 in the aggregate</p>
        </td>
        <td>
            <p>No</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Student Tutorial Costs</p>
        </td>
        <td colspan="3">
            <p>Cover for the reasonable and necessary incurred home tutorial services where You are a registered full time student and when You sustain an Accidental Injury Overseas and You are unable to attend registered classes.</p>
        </td>
        <td colspan="6">
            <p>$200 per day</p>

            <p>$2,000 in the aggregate</p>
        </td>
        <td>
            <p>No</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Child Education Fees</p>
        </td>
        <td colspan="3">
            <p>Cover for the reimbursement of school or university fees in the Event You sustain an Accidental Injury that results in Your Accidental Loss of Life and You have surviving Children.</p>
        </td>
        <td colspan="6">
            <p>$2,500 per child</p>

            <p>$5,000 in aggregate</p>
        </td>
        <td>
            <p>No</p>
        </td>
    </tr>
    <tr>
        <td colspan="5">
            <p><strong>Increased Electronic Equipment Pack</strong></p>
        </td>
        <td colspan="2">
            <p><strong>Prestige</strong></p>
        </td>
        <td colspan="2">
            <p><strong>Comprehensive</strong></p>
        </td>
        <td colspan="2">
            <p><strong>Essential</strong></p>
        </td>
        <td>
            <p>&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>Increased per item limit</p>
        </td>
        <td colspan="3">
            <p>Electronic Equipment</p>
        </td>
        <td colspan="2">
            <p>$10,000 per item</p>
        </td>
        <td colspan="2">
            <p>$6,000 per item</p>
        </td>
        <td colspan="2">
            <p>$3,000 per item</p>
        </td>
        <td>
            <p>$250</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>&nbsp;</p>
        </td>
        <td colspan="3">
            <p>Mobile phone</p>
        </td>
        <td colspan="2">
            <p>$3,000 per item</p>
        </td>
        <td colspan="2">
            <p>$2,000 per item</p>
        </td>
        <td colspan="2">
            <p>$2,000 per item</p>
        </td>
        <td>
            <p>$250</p>
        </td>
    </tr>
    </tbody>
</table>

<p><br />
    &nbsp;</p>

<p>&nbsp;</p>
