@media (max-width:800px){
	body{
		width:100%;
		min-width:320px;
	}
	.header{
		padding:13px 15px 0 15px;
		background: none;
		border-bottom:none;
	}
	.head-content-bl{
		width:100%;
	}
	.head-cont-logo{
		background: url(../img/mobilelogo.png) no-repeat 50% 0;
		top:-15px;
		height: 88px;
	}
	.head-logo{
		display:none;
	}
	.contacts{
		display:none;
	}
	.sign{
		clear:both;
		padding:0;
	}
	.sign a{
		padding-top:7px;
		font-size: 12px;
		font-weight: 400;
		color: #a6a6a6;
	}
	.head-content-bl{
		margin:5px auto 0 auto;
	}
	.head-content-bl h1{
		color: #05587b;
		font-size: 24px;
		font-weight: 700;
		line-height: 24px;
	}
	.header-content{
		padding:0 25px 100px 25px;
		background: url(../img/head-bg-mobile.png) no-repeat 0 100%;
		background-size: contain;
	}
	.head-content-bl-form {
		width:225px;
		margin:17px auto 0 auto;
   	 	padding: 0;
	}
	.inp label{
		color: #05587b;
		font-family: Roboto;
		font-size: 13px;
		font-weight: 400;
	}
	.where-inp{
		padding:0;
		width:100%;
	}
	.where-div .easy-autocomplete{
		width:100% !important;
	}
	.where-div{
		width:205px;
		margin: 4px auto 0 auto;
	    padding: 1px 5px 4px 10px;
	}
	.where-div input{
		font-size:14px;
	}
	.head-content-bl-form .where-inp {
    	float: none;
	}
	.inp input:not(#where){
		font-size:14px;
		margin-top: 4px;
	}
	.when-inp{
		margin-top:12px;
	}
	.when-inp input{
		width:54px;
		padding:5px 3px 7px 4px;
	}
	.arr-r {
	    display: inline-block;
	    width: 6px;
	    height: 11px;
	    background: url(../img/arr-r-mobile.png) no-repeat 0 0;
	    vertical-align: -2px;
	    position: relative;
	    left: 2px;
	}
	.when-inp input:last-child {
	    margin-left: 4px;
	}
	.age-inp {
	    margin: 12px 0 0 13px;
	}
	.age-inp input{
		padding:5px 0 7px 0;
		width:39px;
	}
	.age-inp input:last-child{
		margin-left:1px;
	}
	.head-content-bl-form .quote-button-wrapper{
		padding-top:25px;
	}
	.quote-button-wrapper .quote-button {
        width: 122px;
        font-size: 16px;
        padding:9px 0;
        height:auto;
	}
	.submit-bl {
	    padding-top: 25px;
	}

	.content-wrapper {
	    padding: 30px 0 40px 0;
	}
	.benefits-bl-wrapper {
	    padding-bottom: 40px;
	}
	.benefits-bl-wrapper h1{
		color: #585d60;
		font-size: 24px;
		font-weight: 400;
	}
	.benefits-bl {
	    width: 265px;
	    margin:0 auto;
	    padding:0 30px 0 28px;
	}
	.benefits-bl .column{
		margin-top:25px;
	}
	.size-1of4 {
	    width: 50%;
	}
	.benefits-block h3{
		color: #00c7fa;
		font-size: 16px;
		font-weight: 700;
		line-height: 16px;
		width: 79px;
	}
	.benefits-block p{
		font-size:11px;
		width:118px;
	}
	.blocks-group {
	    width: auto;
	    margin: 40px auto 0 auto;
	    padding:0 30px 0 28px;
	}
	.blocks-group-bl > div:first-child{
		margin:0 auto;
	}
	.blocks-group-bl > div{
		margin:14px auto 0 auto;
		padding:25px 0 0 0;
	    min-width: 262px;
	    float:none;
	    height: 190px;
	}
	.blocks-group-bl .blocks-group-bl1{
		height:218px;
		background-size: 192px 109px;
	}
	.blocks-group > div h2{
		font-size:28px;
		width:165px;
		margin:0 auto;
		line-height: 29px;
	}
	.blocks-group .blocks-number{
		font-size:32px;
		margin-top:10px;
	}
	.blocks-group > div p{
		color: #545454;
		font-family: Roboto;
		font-size: 12px;
		font-weight: 400;
		width: 218px;
		margin:25px auto 0 auto;
	}
	.blocks-group-bl1 p{
		width: 130px !important;
		left:-45px;
	    text-align:left;
	}
	.group-btn{
		width:197px;
		padding:14px 0 13px 0;
		font-size:14px;
		position:static;
		margin:20px 0 0 0;
	}


	.companies{
	    padding: 35px 0 50px 0;
	    height: auto;
	    width: 203px;
	    text-align: center;
	}
	.companies > a:first-child{
		margin:0;
	}
	.companies > a{
		text-align:center;
		position:static;
		width:203px;
		float:none;
		margin:15px 0 0 0 !important;
	}
	.companies > a img{
		width:100%;
	}
	.companies::after{
		content:'';
		clear:both;
		display:block;
	}


	.footer-bottom{
		padding:42px 0 105px 0;
		width:255px;
		margin:0 auto;
		position:relative;
	}
	.footer-bottom-bl-wrap .float-left,.footer-bottom-bl-wrap .float-right{
		float:none;
	}
	.foot-nav{
		color: #05587b;
		font-family: 'Roboto';
		font-size: 12px;
		font-weight: 400;
	}
	.foot-nav li{
		margin-left:20px;
	}
	.copyright{
		font-size: 12px;
		text-align:center;
		margin:10px auto 0 auto;
		width:229px;
	}
	.socials{
		text-align:center;
		position: relative;
    	top: -49px;
	}
	.socials a:first-child{
		margin-left:0;
	}
	.socials a{
		height:40px;
		width:40px;
		margin-left:12px;
		background-size:cover;
	}
	.tw {
	    background: url(../img/soc.png) no-repeat -57px 0;
	}
	.inst {
	    background: url(../img/soc.png) no-repeat -113px 0;
	}
	.footer-info{
		position: relative;
    	top: 83px;
	}
}