@font-face {
    font-family: 'Melbourne Reg';
    src: url('../fonts/Melbourne_reg.eot');
    src: url('../fonts/Melbourne_reg.eot') format('embedded-opentype'),
    url('../fonts/Melbourne_reg.woff2') format('woff2'),
    url('../fonts/Melbourne_reg.woff') format('woff'),
    url('../fonts/Melbourne_reg.ttf') format('truetype'),
    url('../fonts/Melbourne_reg.svg#Melbourne_reg') format('svg');
}

body{
    padding:0;
    margin:0;
    font-family: 'Melbourne Reg';
    /*min-width:1125px;*/
   	min-width:900px;
    position:relative;
}
p{
    margin:0;
}
a{
    text-decoration: none;
}
.pages-header{
    color: #585d60;
    font-family: 'Melbourne Reg';
    margin:0 0 0 0;
    text-align:center;
    font-size: 48px;
    font-weight: 400;
}
#ui-datepicker-div{
    z-index:100 !important;
}
.wrapper{
    position:relative;
}
.header-content{
    max-height: 670px;
    position: relative;
    top: -76px;
    padding-top: 76px;
    padding-bottom: 185px;
    background: url(../img/head-bg.png) no-repeat center 0;
    background-size: cover;
}
.header{
    padding: 15px 26px 14px 23px;
    border-bottom:1px solid #e4e4e4;
    background: #fff;
    z-index:1;
    position: relative;
}
.header.header-main-page{
    border-bottom:none;
    background: none;
}
.menu-btn{
    display:inline-block;
    width: 26px;
    height: 25px;
    margin-top:4px;
    background: url(../img/strip.png) no-repeat 0 0;
}
.logo{
    display:inline-block;
    width: 254px;
    height: 42px;
    margin-left:25px;
    background: url(../img/logo.png) no-repeat 0 0;
}
.sign a{
    color: #676a6c;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    display:inline-block;
    padding:0 0 0 0;
}
.sign{
    padding:0 26px 0 0;
}
.sign a{
    display:inline-block;
    /*padding-top:15px;*/
    padding-top: 0px;
}
.sign a:hover{
    color:#03b1de;
}
.header-right div:last-child{
    border-left:1px solid #ededed;
    text-align:right;
    padding-left:27px;
}
.header-right .number{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: #676a6c;
}
.address{
    color: #676a6c;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin-top:-5px;
}

/*   HEADER CONTENT  */

.head-cont-logo{
    text-align:center;
    background: url(../img/logo2.png) no-repeat 50% 0;
    height:215px;
    position:relative;
    top:-25px;
}

.head-content-bl{
    width:900px;
    margin:40px auto 0 auto;
}
.head-content-bl h1{
    color: #05587b;
    font-size: 65px;
    font-weight: 700;
    line-height: 65px;
    text-align:center;
    margin:0;

}
.head-content-bl-form{
    width: 875px;
    padding: 0 31px 0 40px;
    margin: 72px auto 0 auto;
}
.head-content-bl-form > div,.head-content-bl-form form > div{
    float:left;
}
.where-inp{
    width: 373px;
    padding-right: 30px;
    position:relative;
}
.where-div{
    width: 99%;
    padding:8px 10px 14px 20px;
    cursor:text;
    margin-top:10px;
    background-color: white;
    border: 1px solid #dadada;
    border-radius: 4px;
    color: #182939;
    font-family: Roboto;
    font-size: 19px;
    font-weight: 700;
    text-overflow:ellipsis;
    outline:none;
}
.where-div input{
    border:none;
    outline:none;
    font-family: Roboto;
    font-size: 19px;
    font-weight: 700;
    margin-top:5px;
    width: 80px;
}
.selected-country{
    display: inline-block;
    padding: 5px 0;
    border-radius: 9px 0 0 9px;
    cursor: pointer;
    opacity: 0.85;
    margin: 7px 35px 0 0;
    position: relative;
}
.selected-country:hover{
    opacity:1;
}
.when-inp input{
    max-width:91px;
    width:83px;
    text-align:center;
    padding: 14px 3px 16px 4px;
    cursor:pointer;
}
.main-when{
    margin-left:27px;
}
.when-inp input:active{
    box-shadow: inset 0px 2px 5px #cecece;
}
.easy-autocomplete{
    width: 100% !important;
}
.easy-autocomplete-container{
    position: absolute;
    z-index: 1;
    width: calc(100% - 4px);
    margin-top: 7px;
    left: 0;
    background: #fff;
    border-radius: 0 0 4px 4px;
}
.steps-wrapper2 .easy-autocomplete-container{
	width: 540px;
}
.easy-autocomplete-container ul{
	padding:0 0 0 0;
	margin:0;
	list-style:none;
}
.easy-autocomplete-container ul div:first-child{
	padding-top:14px;
}
.easy-autocomplete-container ul div:last-child{
	padding-bottom:12px;
}
.easy-autocomplete-container ul li{
	cursor:pointer;
}
.easy-autocomplete-container ul li:hover{
	background: rgba(206,206,206,0.3);
}
.easy-autocomplete-container ul li div{
	color: #1d2e3d;
    font-family: Roboto;
    font-size: 16px;
    padding: 8px 0 8px 25px;
}
.arr-r{
	display:inline-block;
	width: 8px;
	height: 15px;
	background: url(../img/arr-r.png) no-repeat 0 0;
	vertical-align: -14%;
	position:relative;
	left:6px;
}
.when-inp input:last-child{
	margin-left:10px;
}
.age-inp{
    margin-left: 25px;
}
.age-inp input{
	max-width: 42px;
    padding: 13px 5px 15px 6px;
	text-align:center;
}
.inp label{
	display:block;
	color: #05587b;
	font-family: 'Roboto', sans-serif;
	font-size: 21px;
	font-weight: 700;
	position: relative;
}
.inp input:not(#where){
	margin-top:10px;
	background-color: white;
	border: 1px solid #dadada;
	border-radius: 4px;
	color: #182939;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 700;
	text-overflow:ellipsis;
	outline:none;
}
.inp input:focus::-webkit-input-placeholder{
	color:transparent;
}
.inp input:focus::-ms-input-placeholder{
	color:transparent;
}
.inp input:input-placeholder{
	color: #182939;
	font-family: Roboto;
	font-size: 19px;
	font-weight: 700;
}
.inp input::-webkit-input-placeholder {
	color: #182939;
	font-family: Roboto;
	font-size: 19px;
	font-weight: 700;
}
.inp input:-ms-input-placeholder {
	color: #182939;
	font-family: Roboto;
	font-size: 19px;
	font-weight: 700;
}
.age-inp input:last-child{
	margin-left:5px;
}
.submit-bl{
	text-align:center;
	padding-top:52px;
	width:100%;
}
.submit{
	width: 309px;
	height:72px;
	padding:24px 0 22px 0;
	display:inline-block;
	margin:0 auto;
	background-color: #e1164b;
	border-radius: 4px;
	color: white;
	font-family: Roboto;
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	text-align:center;
	border:none;
	outline:none;
	cursor:pointer;
	-webkit-transition: .3s all;
	transition: .3s all;
}
.submit:hover{
	background: #9c071d;
}
/*   HEADER CONTENT END  */

/*   CONTENT*/

.content-wrapper{
	padding:0;
	margin-bottom:40px;
}
.content-bl{
	padding:0;
}
.benefits-bl-wrapper h1{
	color: #585d60;
	font-size: 48px;
	font-weight: 400;
	margin:0;
	text-align:center;
}
.benefits-bl[data-columns]::before{
	content: '4 .column.size-1of4';
}
.column{
	float:left;
}
.size-1of4{
	width:25%;
}
.column > div:first-child{
	margin-top:0;
}
.column > div{
	margin-top:30px;
}
.benefits-bl{
	/*width:1125px;*/
	width:95%;
	margin:67px auto 0 auto;
}

.benefits-block{
	text-align:center;
}
.benefits-block h3{
	color: #00c7fa;
	font-size: 30px;
	font-weight: 700;
	width:240px;
	margin:36px auto 25px auto;
}
.benefits-block h3::after{
	content:'';
	display:block;
	width:48px;
	height:2px;
	margin:20px auto 0 auto;
	background: url(../img/ben-header-border.png) no-repeat 0 0;
}
h3.two-row-header::after{
	margin:13px auto 0 auto;
}
.benefits-block p:first-child{
	margin-top:0;
}
.ben-img-bl{
	height:147px;
}
.ben-img-bl img{
	max-height:147px;
}
.benefits-block p{
	padding:0;
	margin:10px auto 0 auto;
	width: 233px;
	color: #676a6c;
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 400;
	margin:10px auto 0 auto;
	width: 233px;
}
.benefits-block ul{
	list-style:none;
	padding:0;
	margin:10px auto 0 auto;
	width: 233px;
	color: #676a6c;
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 400;
	margin:10px auto 0 auto;
	width: 233px;
}
.benefits-block ul li:first-child{
	margin:0;
}
.benefits-block ul li{
	margin:10px 0 0 0;
}
.blocks-group{
	/*width:1125px;*/
    width: 86%;
	margin:70px auto 0 auto;
}
.blocks-group-bl > div:first-child{
	margin-left:0;
}
.blocks-group-bl > div{
    width: calc((100% / 3) - 3%);
    min-width: 250px;
	height: 281px;
    margin-left: 4.5%;
	text-align:center;
	background-color: #f7f7f7;
	padding:35px 0 0 0;
	float:left;
	position:relative;
}
.blocks-group > div h2{
	color: #05587b;
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;
	text-transform: uppercase;
	margin:0 0 0 0;
}
.blocks-group .blocks-number{
	color: #e1164b;
	font-size: 41px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top:14px;
	display: inline-block;
}
@media (min-width: 901px) and (max-width: 1080px){
	.benefits-block p{
		font-size:14px;
		width:90%;
	}
	.benefits-block h3 {
	    color: #00c7fa;
	    font-size: 27px;
	    font-weight: 700;
	    width: 100%;
	    margin: 36px auto 25px auto;
	}
	.blocks-group-bl > div{
		min-width: 250px;
	}
}

.blocks-group-bl1{
	background: url(../img/group-bl1.png) no-repeat right bottom;
}
.two-row-header{
	position:relative;
	margin: 23px auto 24px auto !important;
	line-height: 26px;
}
.proof-link{
	margin-top:12px;
	display:inline-block;
	color: #02abd6;
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 400;
}
.blocks-group > div p{
	color: #545454;
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 400;
	width: 286px;
	margin:34px auto 0 auto;
}
@media (min-width: 901px) and (max-width: 1140px){
	.blocks-group > div p {
	    color: #545454;
	    font-family: 'Roboto';
	    font-size: 14px;
	    font-weight: 400;
	    width: 90%;
	    margin: 34px auto 0 auto;
	}
	.blocks-group-bl1 p{
		left:-37px !important;
	}
	.blocks-group .blocks-number{
		font-size:37px;
	}
}
@media (min-width: 901px) and (max-width: 990px){
	.blocks-group-bl{
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	.blocks-group-bl > div{
		min-width: 0;
		margin-left:auto;
	}
	.blocks-group{
		width:92%;
	}
}
.blocks-group-bl1 p{
	width: 164px !important;
	margin:9px auto 0 auto !important;
	position:relative;
	left:-55px;
}
.blocks-group-bl2 h2{
	position:relative;
	top:15px;
}
.blocks-group-bl3 h2{
	position:relative;
	top:15px;
}

.group-btn{
	width:75%;
	max-height:58px;
	padding:19px 0 17px 0;
	background-color: #e1164b;
	border-radius: 3px;
	color: white;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 700;
	display: inline-block;
	text-transform: uppercase;
	-webkit-transition: .3s all;
	transition: .3s all;
	position:absolute;
	bottom:33px;
	left:12.5%;
}
.group-btn:hover{
	background: #9c071d;
}
/*   END CONTENT*/


/*    FOOTER        */

.footer-wrapper{
	background: #f7f7f7;
}
.footer-top{
    padding: 20px 0 40px 0;
    background: #f7f7f7;
    border-bottom: 1px solid #edecec;
}
.companies{
    height: 75px;
    margin: 0 auto;
    width: 100%;
    max-width:1345px;
    padding:0 0 5px 0;
    background: #f7f7f7;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex ;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
            justify-content: center;
    background-size: contain;
}
.companies > a:first-child{
	margin-left:9px;
}
.companies > a{
	float:left;
	display:block;
}
.companies > a img{
	width:100%;
}
.appGroup{
    margin-right: 25px;
    position: relative;
    top: -3px;
}
.cruisefusion{
	margin-right:35px;
}
.firstCruise{
	margin-right:18px;
}
.bayTravel{
	position:relative;
	top:-10px;
}
/*@media (max-width: 1400px){
	.single-trip-disclosure {
	    width: 95%;
	    text-align: center;
	    margin: 40px auto 60px auto;
	}
	.blocks-group {
	    width: 90%;
	    margin: 70px auto 0 auto;
	}
	.blocks-group-bl > div{
		min-width:auto;
	}
	.head-content-bl {
	    width: 90%;
	    margin: 40px auto 0 auto;
	}
	.benefits-bl {
	    width: 94%;
	    margin: 67px auto 0 auto;
	}
	.single-trip-disclosure {
	    width: 92%;
	}
}*/
.footer-bottom{
    padding: 20px 50px 45px 47px;
    background: #f7f7f7;
}
.footer-bottom-bl-wrap{
	max-width:1400px;
	margin:0 auto;
}
.foot-nav{
	padding:0;
	margin:0;
	list-style:none;
	font-family: 'Roboto';
}
.foot-nav li:first-child{
	margin-left:0;
}
.foot-nav li{
	float:left;
	margin-left:25px;
}
.foot-nav li a{
	color: #05587b;
}
.copyright{
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 400;
	color: #545454;
	margin:20px 0 0 0;
}
.socials a{
    height:64px;
    width:65px;
    display:inline-block;
    margin-left:25px;
}
.fb{
	background: url(../img/soc.png) no-repeat 0 0;
}
.tw{
	background: url(../img/soc.png) no-repeat -90px 0;
}
.inst{
	background: url(../img/soc.png) no-repeat -181px 0;
}
.goolge{
	background: url(../img/google-soc-desk.png) no-repeat 0 0;
}
/*    FOOTER END    */

/*    LEFT SIDE MENU           */

.left-side-menu{
	width:256px;
    max-width: 90%;
	background: #05587b;
	height:100%;
	position:absolute;
	left:-258px;
	top:0;
	z-index:999;
}

.close{
	background: url(../img/close.png) no-repeat 0 0;
	position:absolute;
	top:13px;
	right:15px;
	width: 12px;
	height: 12px;
}

.left-side-nav{
	padding:30px 0 0 0;
	margin:0;
	list-style:none;
}

.left-side-nav li a{
	color: white;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	padding:14px 0 13px 23px;
	display:block;
}
.left-side-nav li a:hover{
	background: #107099;
}

/*    END OF LEFT SIDE MENU    */

/*    POPUP         */

.popup-wrapper{
	width:100%;
	height:100%;
	display: none;
	position:absolute;
	left:0;
	top:0;
	z-index:1000;
	background: rgba(88,93,96,0.5);
}
.popup-close-bg{
	position:absolute;
	height:950px;
	width:100%;
}
.popup{
	position:relative;
	top:113px;
	padding:37px 30px 49px 30px;
	margin:0 auto;
	width:345px;
	background: #fff;
	min-height:627px;
	max-height:627px;
}
.popup .p-logo{
	height:42px;
	background: url(../img/popup-logo.png) no-repeat 50% 0;
}

.p-content{
	margin:35px 0 0 0;
}
.p-content-btns{
	position:relative;
}
.p-content-btns a{
	font-family: 'Roboto';
	font-size: 18px;
	font-weight: 700;
	width:50%;
	display:block;
	float:left;
	text-align:center;
	color: #535353;
	padding-bottom:10px;
	border-bottom:5px solid #e5e9ec;
}
.bottom-line{
	position:absolute;
	background: #e1164b;
	height:5px;
	width:50%;
	left:0;
	bottom:0;
}
.p-content-btns a.clicked{	
	color:#e1164b;
}
.p-content-btns a:not(.clicked):hover{
	color:#00c7fa;
}
.p-tabs{
	margin:25px 0 0 0;
}
.tab-header{
	text-align: center;
}
.tab-header h2{
	color: #585d60;
	font-size: 30px;
	font-weight: 400;
    margin:0 0 0 0;
}
.tab-header p{
	color: #5a5a5a;
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 400;
    margin:5px 0 0 0;
}
.tab-header a{
	color:#00a6d1;
}
.tab-header a:hover{
	color:#e3355d;
}
.tab-form{
	margin-top:28px;
}
.p-inputs{
	display:block;
	width:306px;
	padding:15px 25px 14px 14px;
	background-color: white;
	border: 1px solid #dadada;
	border-radius: 3px 4px 4px 3px;
	text-overflow:ellipsis;
	outline:none;
	color: #182939;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 700;
}
.tab-form .p-inputs::-webkit-input-placeholder {
	color: #828282;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
}
.tab-form .p-inputs:-ms-input-placeholder {
	color: #828282;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
}
.tab-form .p-inputs:input-placeholder {
	color: #828282;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
}

.tab-form .p-inputs:first-child{
	margin-top:0;
}
.tab-form .p-inputs{
	margin:11px 0 0 0;
}
.p-cbox-label{
	margin:25px 0 0 0;
	display:block;
	color: #5a5a5a;
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 400;
	cursor:pointer;
}
.remember,.receive{
	cursor:pointer;
}
.p-cbox-label > *{
	vertical-align: 27%;
}

.p-submit{
	display:block;
	text-align:center;
	background-color: #e1164b;
	border-radius: 3px;
	color: white;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 700;
	padding:16px 0;
	outline:none;
	border:none;
	width: 345px;
	cursor:pointer;
	text-transform: uppercase;
	margin-top:25px;
}
.p-submit:hover{
	background: #9c071d;
}
.forgot{
	color: #00a6d1;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	position:absolute;
	bottom:49px;
	display:block;
	width:345px;
	text-align:center;
}
.tab{
	display:none;
}
.tab.visible{
	display:block;
}
.by-pressing{
	margin:20px 0 0 0;
	color: #5a5a5a;
	font-family: Roboto;
	font-size: 13px;
	font-weight: 400;
}
.by-pressing a{
	color: #02abd6;
}


.jq-selectbox {
	vertical-align: middle;
	cursor: pointer;
    width: 74px;
}

.jq-selectbox__select {
	padding: 13px 0px 14px 15px;
    border-radius: 3px;
	background-color: #fff;
	outline:none;
    font-family: 'Roboto', sans-serif;
	color: #576470;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}
.opened .jq-selectbox__select{
	color:#1d2e3d;
	background-color:#fff;
	opacity:1;
}

.jq-selectbox.focused .jq-selectbox__select {
	border: none;
}
.jq-selectbox.disabled .jq-selectbox__select {
	border-color: #CCC;
    background: #f8f8f8;
	box-shadow: none;
	color: #000;
}
.jq-selectbox__select-text {
	display: block;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #1d2e3d;
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 400;

}
.jq-selectbox .placeholder {
	color: #888;
}
.jq-selectbox__trigger {
	position: absolute;
	top: 17px;
	right: 0;
	width: 34px;
    height: calc(100% - 34px);	
}
.jq-selectbox__trigger-arrow {
	position: absolute;
	top: -2px;
	right: 12px;
	width: 0;
	height: 0;
	overflow: hidden;
	width:20px;
	height:19px;
	background: url(../img/arr.png) no-repeat 0 0;
	filter: alpha(opacity=30);
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow {
	opacity: 1;
	filter: alpha(opacity=100);
}
.jq-selectbox.disabled .jq-selectbox__trigger-arrow {
	opacity: 0.1;
	filter: alpha(opacity=30);
}
.jq-selectbox__dropdown {
	width: 347px;
    box-sizing: border-box;
    margin: -1px 0 0 -1px;
    padding: 0px;
    border-radius: 0 0 3px 3px;
    border: 1px solid;
    background: #fff;
    font: 14px/18px Arial, sans-serif;
    bottom: auto !important;
    border: 1px solid #dadada;
}
.jq-selectbox__search {
	margin: 5px;
}

.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
	-webkit-appearance: none;
}
.jq-selectbox__not-found {
	margin: 5px;
	padding: 5px 8px 6px;
	background: #F0F0F0;
	font-size: 13px;
}
.jq-selectbox ul {
	margin: 0;
	padding: 0;
}
.jq-selectbox li:first-child{
	padding-top:11px;
}
.jq-selectbox li {
	min-height: 18px;
	padding: 7px 10px 8px 16px;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	     -o-user-select: none;
	white-space: nowrap;
    font-family: 'Roboto', sans-serif;
	color: #1d2e3d;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
}
.jq-selectbox li:hover{
	background: rgba(206,206,206,0.3);
}
.jq-selectbox li.disabled {
	color: #AAA;
}
.jq-selectbox li.disabled:hover {
	background: none;
}
.jq-selectbox li.optgroup {
	font-weight: bold;
}
.jq-selectbox li.optgroup:hover {
	background: none;
	color: #231F20;
	cursor: default;
}
.jq-selectbox li.option {
	padding-left: 25px;
}


.jq-select-multiple {
	box-sizing: border-box;
	padding: 1px;
	border: 1px solid #CCC;
	border-bottom-color: #B3B3B3;
	border-radius: 4px;
	box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0,0,0,0.1);
	background: #FFF;
	color: #333;
	font: 14px/18px Arial, sans-serif;
	cursor: default;
}
.jq-select-multiple.focused {
	border: 1px solid #5794BF;
}
.jq-select-multiple.disabled {
	border-color: #CCC;
	background: #F5F5F5;
	box-shadow: none;
	color: #888;
}
.jq-select-multiple ul {
	margin: 0;
	padding: 0;
}
.jq-select-multiple li {
	padding: 3px 9px 4px;
	list-style: none;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	     -o-user-select: none;
	        user-select: none;
	white-space: nowrap;
}
.jq-select-multiple li:first-child {
	border-radius: 3px 3px 0 0;
}
.jq-select-multiple li:last-child {
	border-radius: 0 0 3px 3px;
}
.jq-select-multiple li.selected {
	background: #08C;
	color: #FFF;
}
.jq-select-multiple li.disabled {
	color: #AAA;
}
.jq-select-multiple.disabled li.selected,
.jq-select-multiple li.selected.disabled {
	background: #CCC;
	color: #FFF;
}
.jq-select-multiple li.optgroup {
	font-weight: bold;
}
.jq-select-multiple li.option {
	padding-left: 25px;
}
.jq-selectbox{
	margin:11px 0 0 0;
	width:345px;
	border: 1px solid #dadada;
	border-radius: 3px 4px 4px 3px;
}


/*	  POPUP END     */

.float-left{
	float:left;
}
.float-right{
	float:right;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
        -webkit-box-align: center;
            align-items: center;
}
.footer-logo{
	margin-right:20px;
}
.header::after,.head-content-bl-form::after,.head-content-bl-form::after,.benefits-bl::after,
.blocks-group-bl::after,.foot-nav::after,.footer-bottom-bl-wrap::after,.p-content-btns::after{
	content:'';
	clear:both;
	display:block;
}

#ui-datepicker-div{

    float: left;
    min-width: 190px;
    display:none;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
 	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#ui-datepicker-div::before{
	content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0,0,0,.2);
    position: absolute;
    top: -7px;
    left: 6px;
}
#ui-datepicker-div::after{
	content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    position: absolute;
    top: -6px;
    left: 7px;
}
.ui-datepicker-div-higher::before,.ui-datepicker-div-higher::after{
	display:none !important;
}
.ui-datepicker-header{
	display:block;
    color: #2e3c47;
    font-size: 16px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.ui-datepicker-prev{
	float:left;
}
.ui-datepicker-next{
	float:right;
}
.ui-datepicker-prev,.ui-datepicker-next{
    text-align: center;
    width: 30px;
    height: 40px;
    border-radius:4px;
    cursor:pointer;	
    color: #2e3c47;
    font-size:22px;
    font-weight:bold;
}
.ui-datepicker-prev span,.ui-datepicker-next span{
    vertical-align: -29%;
}
.ui-datepicker-next:hover,.ui-datepicker-prev:hover{
	background: #eee;
}
.ui-datepicker-title{
	text-align:center;
    font-weight: bold;
}
.ui-datepicker-title > *{
	vertical-align: -66%;
}
.ui-datepicker-calendar{
	width:100%;
}
.ui-datepicker-calendar th{
	padding:5px;
    color: #2e3c47;
    font-size: 16px;
}
.ui-datepicker-calendar td a,.ui-datepicker-calendar td span{
	padding:5px;
	font-size: 14px;
	color: #636363;
	border-radius:4px;
    width: 20px;
    display:inline-block;
    text-align:center;
    height: 18px;
    cursor:pointer;
}
.ui-state-disabled span{
	opacity:0.5;
}
.ui-state-hover{
	background: #eee;
}
.ui-state-highlight{
    background-image: -webkit-linear-gradient(top,#08c,#04c);
    background-image: linear-gradient(to bottom,#08c,#04c);
	color:#fff !important;	
}
.ui-state-active-date{
    background-image: -webkit-linear-gradient(top,#08c,#04c);
    background-image: linear-gradient(to bottom,#08c,#04c);
	color:#fff !important;
}

.personal{
	padding:0 26px 0 0;
	position:relative;
}
.personal-link{
    color: #05587b;
    font-family: Roboto;
    font-size: 16px;
    padding-top: 10px;
    display: inline-block;
    font-weight: 700;
    position:relative;
}
.personal-link::before{
    display: inline-block;
    content: '';
    background: url(../img/personal-icon.png) no-repeat 0 0;
    width: 19px;
    height: 20px;
    position: relative;
    margin: 0px 10px 0 0;
    top: 3px;
    cursor: pointer;
}
.personal-link:hover,.clicked-personal{
	color:#00c7fa;
}
.personal-link:hover::before,.clicked-personal::before{
    background: url(../img/personal-clicked.png) no-repeat 0 0 !important;
}

.personal-dropdown{
    position: absolute;
    background-color: #05587b;
    list-style: none;
    padding: 39px 31px 32px 31px;
    width: 205px;
    margin: 0 0 0 0;
    right: 19px;
    top: 43px;
    display:none;
    z-index:55;
}
.personal-dropdown li{
	margin:0 0 24px 0;
}
.personal-dropdown li:last-child{
	margin-bottom:0;
}
.personal-dropdown li.separator{
	margin-bottom:15px;
	height:1px;
	display:block;
	background: #107099;
}
.personal-dropdown li a{
	color: white;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
}

.block-input-item input[type='text']{
	width:calc(100% - 30px);
}
.input-item{
	position:relative;
	margin-top:10px;
}
.input-item label{
	color: #8e8e8e;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    display:block;
    margin-bottom:4px;
    cursor:pointer;
}
.input-item input[type='text']{
    background-color: white;
    border: 1px solid #dadada;
    border-radius: 3px 4px 4px 3px;
    text-overflow: ellipsis;
    padding: 13px 15px 14px 15px;
    color: #182939;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
}
.input-item input[type='text']:focus{
	outline:none;
	border:1px solid #00c6f9;
}
.input-item input[type='text'].invalid{
	border-bottom:1px solid #e42f5e !important;
	border-top:1px solid #f5aec0 !important;
	border-left:1px solid #f08aa5 !important;
	border-right:1px solid #f298b0 !important;
}
.inp-group > div {
    float: left;
}
.inp-group > div:first-child input{
	margin-right:10px;
}
.name{
    width: 114px;
}
.surname{
    width: 155px;	
}
.passport{
    width: 97px;
}
.city{
    width: 165px;
}
.zip-code{
	width: 106px;
}
.datepicker-input-item input{
	width: 117px;
    cursor: pointer;
    padding:13px 13px 14px 14px;
}
.form-column{
    float: left;
	width: 345px;
}
.form-column-right{
    padding-left: 32px;
}
.form-cont{
	width: 740px;
    margin: 0 auto;
}
.form-content{
	width: 1125px;
    margin: 60px auto 65px auto;
}
.form-select{
	margin-top:0 !important;
}
.form-block{
	padding: 25px 0 33px 0;
    border-bottom: 1px solid #dadada;
}
.form-button-default{
	cursor: pointer;
    background-color: #f7f7f7;
    border: 1px solid #edecec;
    border-radius: 3px;
    color: #585d60;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    width: 160px;
    text-align: center;
    padding: 13px 0 12px 0;
    outline: none;
    margin: 0 auto;
}
.form-button-default:hover{
	background-color: #ebebeb;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
}
.update-container{
	text-align: center;
    margin-top: 47px;
}
.bigger-bottom-offset label{
	margin-bottom: 8px;
}

.form-select .jq-selectbox__select-text{
	color: #182939;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    text-transform: none;
}
.radio-group {
    margin: 12px 0;
}
.radio-group label, .radio-group input[type=radio] {
    cursor: pointer;
}
.radio-group label input[type=radio] {
    vertical-align: -5%;
}
.radio-group label{
	display:inline-block;
}
.radio-group label:last-child{
	margin-left:12px;
}
.medical-form-part input[type='text']::-webkit-input-placeholder{
	color: #8e8e8e;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
}
.medical-form-part input[type='text']::-ms-input-placeholder{
	color: #8e8e8e;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
}
.datepicker-input-item .ui-datepicker-trigger{
	display: inline-block;
    width: 54px;
    height: 47px;
    border: 1px solid #edecec;
    border-radius: 3px 4px 4px 3px;
    position: relative;
    left: 8px;
    cursor: pointer;
    outline: none;
    background: #f7f7f7 url(../img/picker.png) no-repeat 50% 50%;
}
.datepicker-input-item .ui-datepicker-trigger:hover{
	background-color: #ebebeb;	
}
.ui-datepicker-title select{
    position: relative;	
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: 2px;
    padding: 3px 4px 5px 4px;
    outline: none;
    -webkit-appearance: none;
    -ms-appearance: none;
	-moz-appearance:none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #1d2e3d;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    background: url(../img/appereance.png) no-repeat 95% 40%;
}
.ui-datepicker-month {
    left: -4px;
    width: 90px;
}
.ui-datepicker-year {
    left: 4px;
    width: 90px;
}
.ui-datepicker-title > * {
    vertical-align: -66%;
}
.p-form-reg .jq-selectbox{
	margin-top:11px !important;
}
.p-form-reg .jq-selectbox__select-text{
    color: #1d2e3d;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
}
.inp-group::after,.form-top-part-block::after,.form-block::after{
	content:'';
	clear:both;
	display:block;
}


/*WHITE LABELS STYLE*/

.white-labels-wrapper{
	padding:55px 0 70px 0;
	width:345px;
	margin:0 auto;
}
.white-labels-container{
	margin-top:35px;
}
.group-header:first-child{
	margin-top:0;
}
.group-header{
	margin-top:35px;
}
.group-header h3{
	color: #585d60;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 500;
	margin:0 0 15px 0;
	text-transform: uppercase;
}
.group-input-wrap:first-of-type{
	margin-top:0;
}
.group-input-wrap{
	margin-top:10px;
}
.group-input-wrap label{
	color: #8e8e8e;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
}
.group-input-wrap input{
	display:block;
	margin-top:5px;
	background-color: white;
    border: 1px solid #dadada;
    border-radius: 3px 4px 4px 3px;
    text-overflow: ellipsis;
    padding: 13px 15px 14px 15px;
    color: #182939;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    display: block;
    width:calc(100% - 30px);
}
.group-input-wrap input:focus{
	outline:none;
	border:1px solid #00c6f9;
}
input.invalid{
	border-bottom:1px solid #e42f5e !important;
	border-top:1px solid #f5aec0 !important;
	border-left:1px solid #f08aa5 !important;
	border-right:1px solid #f298b0 !important;
}

.group-logo-wrapper{
	margin-top:15px;
}
.group-logo-wrapper h4{
	color: #5a5a5a;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	margin:0;
}
.group-logo-wrapper p{
	color: #8e8e8e;
	font-family: Roboto;
	font-size: 13px;
	font-weight: 400;
	margin:3px 0 0 0;
}

.group-logo-icon-wrapper{
	border: 1px solid #eaeaea;
	height:164px;
	max-width:345px;
	margin-top:10px;
	text-align:center;
	position:relative;
}
.group-logo-icon-wrapper img{
	position:relative;
	top:15px;
}
.group-checkboxes{
	line-height:24px;
	margin-top:10px;
}
.group-checkboxes label{
	display:block;
	color: #5a5a5a;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	cursor:pointer;
}
.group-checkboxes label input{
	vertical-align: -8%;
	cursor:pointer;
}
.group-logo-upload{
	background-color: #f7f7f7;
	border: 1px solid #edecec;
	border-radius: 3px;
	width: 121px;
	text-align:center;
	padding:13px 0 12px 0;
	color: #585d60;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	cursor:pointer;
	position:relative;
	top:60px;
	display:inline-block;
}
.group-logo-upload:hover{
	background-color: #ebebeb;
	border: 1px solid #e2e2e2;
	border-radius: 3px;
}
.white-labels-buttons{
	text-align:center;
	margin-top:37px;
	padding-top:43px;
	border-top:1px solid #dadada;
}
.white-labels-button{
	width:130px;
	text-align:center;
	border-radius: 3px;
	padding:13px 0 12px 0;
	color: #585d60;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	border:none;
	cursor:pointer;
}
.white-labels-button:last-child{
	margin-left:20px;
}
.white-labels-preview-button{
	background-color: #f7f7f7;
	border: 1px solid #edecec;
}
/*.white-labels-preview-button:hover{
	background-color: #ebebeb;
    border: 1px solid #e2e2e2;
}*/
.white-labels-save-button{
	background-color: #00c6f9;
	color:#fff;
}
.group-logo-upload-default{
	height:46px;
	width:121px;
    position: absolute;
    top: 60px;
    left: 111px;
    opacity:0;
}

/*END OF WHITE LABELS*/


/*TABLE WRAPPER*/

.table-content {
    width: 1125px;
    margin: 60px auto 65px auto;
}

.statistic-content{
	width:1125px;
	margin:60px auto 65px auto;
}
.statistic-table{
	margin:0;
}
.statistic-table{

}
.statistic-table .statistic-table-container{
	width:1125px;
	border-collapse: collapse;
	padding:0;
	margin:0 auto;
}
.statistic-table .statistic-table-container, .statistic-table-container th, .statistic-table-container td {
    border:1px solid #e7e7e7;
}
.statistic-table .statistic-table-container {
    border-bottom:0;
    border-left:0;
}
.statistic-table .statistic-table-container thead tr th{
	background: #f7f7f7;
}
.statistic-table .statistic-table-container td{
    padding:16px 0 16px 0;
}
.statistic-table .statistic-table-container th{
    padding-top: 15px;
    padding-bottom: 15px;
}
.statistic-table .statistic-table-container td, .statistic-table .statistic-table-container th {
    border-top:0;
    border-right:0;
    text-align:left;
	color: #5a5a5a;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	text-align:center;
}
.statistic-table .statistic-table-container tbody tr:nth-child(even){
	background: #f7f7f7;
}
.statistic-table .statistic-table-container tr th:nth-child(1){
	width:115px;
	padding-left:18px;
	padding-right:5px;
	text-align:left;
}
.statistic-table .statistic-table-container tr td:nth-child(1){
	text-align:left;
	padding-left:18px;
}
.statistic-table .statistic-table-container tr th:nth-child(2){
	width:90px;
}
.statistic-table .statistic-table-container tr th:nth-child(3){
	width:270px;
}
.statistic-table .statistic-table-container tr th:nth-child(4){
	width:312px;
}
.statistic-table .statistic-table-container tr th:nth-child(5){
	width:312px;
}
.statistic-table .statistic-table-container tr td:nth-child(3),.statistic-table .statistic-table-container tr td:nth-child(4),
.statistic-table .statistic-table-container tr td:nth-child(5){
	font-weight:bold;
}

.statistic-panel{
	width:590px;
	margin:30px auto 0 auto;
}
.statistic-panel > div:not(.filter-panel){
	float:left;
}
.statistic-panel::after,.filter-panel::after{
	content:'';
	display:block;
	clear:both;
}
.total-table{
	margin:33px 0 0 0;
	padding-bottom:5px;
	border-bottom:1px solid #dadada;
}
.total-table tr td{
	color: #5a5a5a;
	font-family: 'Roboto';
	font-size: 18px;
	font-weight: 700;
	width:100px;
	text-align:center;
}
.total-table tr td:first-child{
	width:137px;
	text-align:left;
}
.total-table tr td:nth-child(2){
	width:93px;
}
.total-table tr td:nth-child(3){
	width:270px;
}
.total-table tr td:nth-child(4){
	width:312px;
}
.total-table tr td:nth-child(5){
	width:312px;
}
.total-table tr td:nth-child(6){
	width:312px;
}
.search-panel label{
	color: #8e8e8e;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
}
.search-panel{
	width:375px;
	margin-right:25px;
}
.search-panel input{
	display:block;
	width:calc(100% - 30px);
    margin-top: 8px;
    background-color: white;
    border: 1px solid #dadada;
    border-radius: 3px 4px 4px 3px;
    text-overflow: ellipsis;
    padding: 12px 15px 14px 15px;
    color: #182939;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
}
.statistic-picker label{
	color: #8e8e8e;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
}
.statistic-picker input{
    padding:12px 15px 14px 15px;
    width: 117px;
    cursor: pointer;
    text-overflow: ellipsis;
    border: 1px solid #dadada;
    border-radius: 3px 4px 4px 3px;
    color: #182939;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    display:block;
    margin:8px 0 0 0;
}
.panel-pickers > div{
	float:left;
}
.statistic-picker{
	position:relative;
}

.filter-panel{
	clear:both;
	padding-top:40px;
}
.filter-panel > div{
	float:left;
}

.filter-button{
	border: 1px solid #edecec;
	border-radius: 3px;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	padding:13px 0;
	width:123px;
	text-align:center;
	cursor:pointer;
}
.apply-filter{
	background-color: #00c6f9;
	color:#fff;
}
.clear-filter{
	background-color: #f7f7f7;
	color: #585d60;
}
.filter-buttons{
	margin: 24px 0 0 29px;
}


.graphic-widget{
	margin-top:40px;
}
.graphic-widget-buttons{
	text-align:center;
}
.graphic-widget-button:first-child{
	margin-left:0;
}
.graphic-widget-button{
	border:none;
	background-color: #f7f7f7;
	border: 1px solid #edecec;
	border-radius: 3px;
	color: #585d60;
	font-family: Roboto;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	margin-left:13px;
	width:107px;
	text-align:center;
	padding:11px 0 11px 0;
	cursor:pointer;
}
.graphic-widget-button.graphic-widget-button-active{
	background-color: #00c6f9;
	color: #fefefe;
}

.statistic-graphic{
	margin: 54px 0 0 0;

}

.panel-pickers .datepicker-input-item:last-child{
	margin-left:32px;
}
.panel-pickers .input-item{
	margin-top:0;
}





.customers-table .customers-table-container{
	width:1125px;
	border-collapse: collapse;
	padding:0;
	margin:0 auto;
}
.customers-table .customers-table-container, .customers-table-container th, .customers-table-container td {
    border:1px solid #e7e7e7;
}
.customers-table .customers-table-container {
    border-bottom:0;
    border-left:0;
}
.customers-table .customers-table-container thead tr th{
	background: #f7f7f7;
}
.customers-table .customers-table-container td{
    padding:16px 10px 16px 15px;
}
.customers-table .customers-table-container th{
    padding-top: 15px;
    padding-bottom: 15px;
	padding-left:15px;
	padding-right:10px;
}
.customers-table .customers-table-container td, .customers-table .customers-table-container th {
    border-top:0;
    border-right:0;
    text-align:left;
	color: #5a5a5a;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
}
.customers-table .customers-table-container tr th:nth-child(1){
	width:115px;
}
.customers-table .customers-table-container tr th:nth-child(2){
	width:115px;
}
.customers-table .customers-table-container tr th:nth-child(3){
	width:120px;
}
.customers-table .customers-table-container tr th:nth-child(4){
	width:90px;
}
.customers-table .customers-table-container tr th:nth-child(5){
	width:165px;
}
.customers-table .customers-table-container tr th:nth-child(6){
	width:168px;

}
.customers-table .customers-table-container tr th:nth-child(7){
	width:305px;
}
.customers-table .customers-table-container tr td:nth-child(7) i{
	padding-right:2px;
	vertical-align: -13%;
}
.customers-table .customers-table-container tr td:nth-child(4),.customers-table .customers-table-container tr th:nth-child(4){
	text-align:left;
}
.customers-table .customers-table-container tbody tr td:nth-child(5){
	text-align:left;
}

.customers-panel{
	margin-top:45px;
}
.customers-panel > div:not(.filter-panel){
	float:left;
}
.customers-panel::after,.filter-panel::after{
	content:'';
	display:block;
	clear:both;
}
.search-panel label{
	color: #8e8e8e;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
}
.search-panel{
	width:375px;
	margin-right:25px;
}
.search-panel input{
	display:block;
	width:calc(100% - 30px);
    margin-top: 5px;
    background-color: white;
    border: 1px solid #dadada;
    border-radius: 3px 4px 4px 3px;
    text-overflow: ellipsis;
    padding: 12px 15px 14px 15px;
    color: #182939;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
}
.customers-picker label{
	color: #8e8e8e;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
}
.customers-picker input{
    padding:12px 15px 14px 15px;
    width: 117px;
    cursor: pointer;
    text-overflow: ellipsis;
    border: 1px solid #dadada;
    border-radius: 3px 4px 4px 3px;
    color: #182939;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    display:block;
    margin:8px 0 0 0;
}
.filter-button:nth-child(2) {
    margin-left: 7px;
}

.customers-table{
	margin:55px 0 0 0;
}
@media (min-width:900px) and (max-width: 960px){
	.customers-panel {
	    margin-top: 45px;
	    margin: 0 auto;
	    width: 90%;
	    display: flex;
	    flex-flow: column wrap;
	    align-items: center;
	    line-height: 51px;
	}
}







.orders-table{
	margin:55px 0 0 0;
}
.orders-table{

}
.orders-table .orders-table-container{
	width:1125px;
	border-collapse: collapse;
	padding:0;
	margin:0 auto;
}
.orders-table .orders-table-container, .orders-table-container th, .orders-table-container td {
    border:1px solid #e7e7e7;
}
.orders-table .orders-table-container {
    border-bottom:0;
    border-left:0;
}
.orders-table .orders-table-container thead tr th{
	background: #f7f7f7;
}
.orders-table .orders-table-container td{
    padding:16px 24px;
}
.orders-table .orders-table-container th{
    padding:25px 24px;
}
.orders-table .orders-table-container td, .orders-table .orders-table-container th {
    border-top:0;
    border-right:0;
    text-align:center;
	color: #5a5a5a;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
}
.orders-table .orders-table-container tr th:nth-child(1){
	width:104px;
	padding-left:21px;
	padding-right:18px;
}
.orders-table .orders-table-container tr th:nth-child(2){
	width:77px;
	padding-left:30px;
	padding-right:30px;
}
.orders-table .orders-table-container tr th:nth-child(3){
	width:38px;
}
.orders-table .orders-table-container tr th:nth-child(4){
	width:210px;
}
.orders-table .orders-table-container tr th:nth-child(5){
	width:137px;
}
.orders-table .orders-table-container tr th:nth-child(6){
	width:100px;
	padding-left:24px;
	padding-right:24px;
}
.orders-table .orders-table-container tr th:nth-child(7){
	width:90px;
}
.orders-table .orders-table-container tr td:nth-child(7){
	background: url(../img/download.png) no-repeat 18px 35px;
	padding-left: 30px;
}
.orders-table .orders-table-container tr td:nth-child(7):hover{
	color:#02abd6;
	cursor:pointer;
}
.orders-table .orders-table-container tr td:nth-child(4),.orders-table .orders-table-container tr th:nth-child(4){
	text-align:left;
}
.orders-table .orders-table-container tbody tr td:nth-child(3),.orders-table .orders-table-container tbody tr td:nth-child(4),
.orders-table .orders-table-container tbody tr td:nth-child(5){
	font-weight:bold;
	color:#5a5a5a;
}
.orders-table .orders-table-container tbody tr td:nth-child(5){
	text-align:left;
}
.orders-table .orders-table-container tbody tr td span{
	font-weight:normal;
}

.orders-panel{
	margin-top:45px;
}
.orders-panel > div:not(.filter-panel){
	float:left;
}
.orders-panel::after,.filter-panel::after{
	content:'';
	display:block;
	clear:both;
}
.orders-wrapper .search-panel label{
	color: #8e8e8e;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
}
.orders-wrapper .search-panel{
	width:655px;
	margin-right:25px;
}
.orders-wrapper .search-panel input{
	display:block;
	width:calc(100% - 30px);

    margin-top: 8px;
    background-color: white;
    border: 1px solid #dadada;
    border-radius: 3px 4px 4px 3px;
    text-overflow: ellipsis;
    padding: 12px 15px 14px 15px;
    color: #182939;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
}
.orders-picker label{
	color: #8e8e8e;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
}
.orders-picker input{
    padding:12px 15px 14px 15px;
    width: 117px;
    cursor: pointer;
    text-overflow: ellipsis;
    border: 1px solid #dadada;
    border-radius: 3px 4px 4px 3px;
    color: #182939;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    display:block;
    margin:8px 0 0 0;
}
.orders-pickers > div{
	float:left;
}
.from-picker{
	margin-right:85px;
}
.orders-picker{
	position:relative;
}

.order-picker-trigger{
    display: inline-block;
	width: 54px;
	height: 47px;
	border: 1px solid #edecec;
	border-radius: 3px 4px 4px 3px;
    position: absolute;
    left: 155px;
    top: 27px;
    cursor:pointer;
    outline:none;
	background: #f7f7f7 url(../img/picker.png) no-repeat 50% 50%;
}
.order-picker-trigger:hover{
	background-color: #ebebeb;	
}

.filter-panel{
	clear:both;
	padding-top:40px;
}
.filter-panel > div{
	float:left;
}

.filter-button{
	border: 1px solid #edecec;
	border-radius: 3px;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	padding:13px 0;
	width:123px;
	text-align:center;
	cursor:pointer;
}
.orders-wrapper .apply-filter{
	background-color: #00c6f9;
	color:#fff;
}
.orders-wrapper .clear-filter{
	background-color: #f7f7f7;
	color: #585d60;
}
.orders-wrapper .filter-button:last-child{
	margin-left:10px;
}
.orders-wrapper .filter-widget{
	margin-right:30px;
	width:655px;
}
.orders-wrapper .filter-widget label{
	color: #8e8e8e;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
}
.orders-wrapper .filter-widget label span{
	font-weight:bold;
}
.orders-wrapper .filter-slider{
	height:8px;
	background: #ececec;
	position:relative;
	cursor:pointer;
	margin-top:21px;
}
.orders-wrapper .filter-slider .ui-slider-handle{
	width: 12px;
	height: 26px;
	background-color: #f7f7f7;
	border: 1px solid #e3e3e3;
	border-radius: 3px;
	display:inline-block;
	position:absolute;
	top:-9px;
	cursor:pointer;
	outline:none;
}
.orders-wrapper .filter-slider .ui-slider-range{
	height:8px;
	background: #00c6f9;
	position:relative;
}
.orders-wrapper .handler{
	position:absolute;
	top:23px;
	color: #5a5a5a;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 700;
}
.orders-wrapper .filter-buttons{
    position: relative;
    top: -4px;
}

/*END OF TABLE WRAPPER*/

.jq-selectbox__dropdown ul{
	height:215px;
}
.input-item .jq-selectbox__dropdown{
	width:347.547px !important;
}


/* STEPS Wrapper*/

.steps-wrapper2, .steps-wrapper3, .steps-wrapper4 {
    background: url(../img/steps-back.png) no-repeat center 61px;
    background-size: 1920px auto;
}
.steps-wrapper5{
    background: url(../img/steps-back.png) no-repeat center 0;
    background-size: 1920px auto;
}
@media (min-width: 1920px) {
    .steps-wrapper2, .steps-wrapper3, .steps-wrapper4, .steps-wrapper5 {
        background-size: 100% auto;
    }
}
.steps-content{
	width: 1125px;
    margin: 50px auto 60px auto;
}
.steps-inp label{
	color: #5a5a5a;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
}

.steps-inp .where-div{
	margin-top:8px;
}
.steps-inp input:not(#where){
	margin-top:8px;
}
.steps-content h2,.steps-content h3{
	margin:0 0 0 0;
	text-align:center;
}
.steps-content h5{
	color: #676a6c;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 300;
	text-transform: uppercase;
	text-align:center;
}
.steps-content h2{
	color: #05587b;
	font-size: 48px;
	font-weight: 700;
	margin-top:22px;
}
.plans-group-block{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
}
.plans-group-block > div:first-child{
	margin-left:0;
}
.plans-group-block > div{
    margin-left: 52px;
    background-color: #f7f7f7;
    border: 1px solid #edecec;
    border-radius: 3px;
    padding: 35px 25px 50px 25px;
    float: left;
    width: 288px;
    max-width:33%;
    height:450px;
    position:relative;
    text-align: center;
}
.plans-block .plan-name{
	color: #05587b;
	font-family: Roboto;
	font-size: 24px;
	font-weight: 700;
}
.plans-block .plan-val{
	margin-top:29px;
	color: #00c6f9;
	font-weight: 700;
	font-size: 51px;
}
.plans-block .plan-val.plan-val-active{
	color:#fff;
}
.plans-block .plan-val span{
	font-size: 34px;
}
.plans-block .plan-descr{
	margin-top:22px;
	color: #535353;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	min-height:120px;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex ;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
}
.plans-block .plan-quote{
	margin-top:35px;
    width: 151px;
    position: absolute;
    bottom: 144px;
    left: calc(50% - 75px);
	background-color: #00c6f9;
	border-radius: 3px;
	border:none;
	color: white;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	padding:14px 0 13px 0;
	cursor:pointer;
	outline:none;
}
.plans-block.active-plan-quote{
	background: #00c6f9;
}
.plans-block .plan-quote.red-quote{
	background: #e1164b url(../img/checked-plan-quote.png) no-repeat 12px 12px;
}
.plans-block .plan-quote.red-quote:hover{
	background: #9c071d url(../img/checked-plan-quote.png) no-repeat 12px 12px;
}
.plans-block .plan-quote:hover{
	background: #05587b;
}
.plans-block.red-plan-block .plan-quote:hover{
	background: #9c071d;
}
.who-else-block{
	margin-top:45px;
}
.plans-block{
	margin-top:63px;
}
.plans-block-a-qroup{
	position:absolute;
	bottom:32px;
	left: calc(50% - 103px);
}
.plans-block-a-qroup a{
	color: #02abd6;
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
	display:block;
}
.plans-block-a-qroup a:hover{
	color: #05587b;
}

.who-else-block h1{
	color: #585d60;
	font-size: 48px;
	font-weight: 400;
	text-align:center;
}
.ages-block{
	position:relative;
}
.ages-block > div,.ages-block > div > *{
	float:left;
}
.ages-block > div:last-child{
	position:absolute;
	right:0;
}
.added-age{
	background-color: white;
	border: 1px solid #dadada;
	border-radius: 3px 4px 4px 3px;
	color: #182939;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 700;
	text-align:center;
	width: 51px;
	padding:13px 0;
	text-overflow:ellipsis;
}
.add-age-button{
	width: 48px;
	height: 46px;
	margin:0 8px 5px 0;
	border: 1px solid #edecec;
	border-radius: 3px;
	background: #f3f3f3 url(../img/plus.png) no-repeat 50% 50%;
	cursor:pointer;
}
.add-age-button:hover{
	background: #ebebeb url(../img/plus.png) no-repeat 50% 50%;
}
.ages-block{
	width:370px;
	margin:0 auto 0 auto;
}
.ages-block > div{
	max-width:178px;
}
.ages-block > div p{
    clear: both;
    margin-bottom: 10px;
    float: none;
	color: #5a5a5a;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
}
.age-inp-wrap{
	position:relative;
}
.ages-block > div:last-child{
	margin-left:84px;
}
.age-inp-wrap .wrong{
	display: inline-block;
    position: absolute;
    top: -9px;
    right: -11px;
    width: 26px;
    height: 26px;
    background: url(../img/wrong-sprite.png) 0 0;
    position: absolute;
    cursor:pointer;
    z-index:2;
}
.wrong:hover{
    background: url(../img/wrong-sprite.png) no-repeat 0 -27px;   
}
.age-inp-wrap:last-of-type{
	margin-right:0;
}
.age-inp-wrap{
	margin:0 8px 5px 0;
}
.steps-line{
	background: url(../img/step-line-default.png) repeat-x 0 0;
	height:7px;
	position:relative;
	top:-1px;
	z-index:111;
}
.step-label{
	width:25%;
	text-align:center;
	height:100%;
	position:relative;
	float:left;
}
.step-label p{
	position:relative;
	top:25px;
	color: #676a6c;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}
.step-label-active p{
	color: #00c6f9 !important;
}
.fly{
	position:absolute;
	top:-11px;
	right:-15px;
	z-index:2;
	width: 33px;
	height: 30px;
	display:inline-block;
	background: url(../img/step-fly.png) no-repeat 0 0;
}
.step-label-active{
	background: url(../img/step-line-blue.png) repeat-x 0 0;
	
}
.change-button{
	width: 111px;
    background-color: #f7f7f7;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    text-align: center;
    color: #585d60;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 16px 0 16px 0 ;
    cursor: pointer;
    margin-left: 30px;
    position: relative;
    top: 27px;
    display: inline-block;
}
.change-button:hover{
	background: #ebebeb;
}
.cover-info .change-button{
	margin-left:14px;
}
.steps-content .where-div{
    width: 510px;
}
.steps-content .where-inp{
	width:auto;
}
.cover-info{
	margin:60px 0 50px 0;
}
.cover-info h2{
	color: #585d60;
	font-size: 48px;
	font-weight: 400;
}
.circle-cover-info{
	width: 165px;
	height: 165px;
	background-color: #e1164b;
	border-radius:50%;
	margin:25px auto 0 auto;
	text-align:center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex ;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
}
.circle-cover-info h2{
	color: white;
	font-weight: 700;
    font-size: 34px !important;
    padding: 0;
}
.circle-cover-info h2 span{
	font-size: 51px;
}
.circle-cover-info h3{
	color: white;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 700;
}
.change-button-wrapper{
	text-align:center;
	margin-top:40px;
    float: none !important;
}
.change-button-wrapper button{
	margin-left:0;
	top:0;
}
.details h1{
	color: #585d60;
	font-size: 48px;
	font-weight: 400;
	margin:0;
	text-align:center;
}
.details h3{
	color: #05587b;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 700;
	margin:40px 0 15px 0;
}
.details-form{
	width:635px;
	margin:0 auto 0 auto;
	position:relative;
}
.details-form h4 {
	text-align: center;
}
.details-form form > input,.details-form input{
	float:left;
}
.details-form .input-item{
	margin:0 0 0 0;
}
.details-form .datepicker-input-item{
	position:static;
}
.details-form .input-item input,.details-form input{
	background-color: white;
	border: 1px solid #dadada;
	border-radius: 3px 4px 4px 3px;
	padding:15px 10px 15px 15px;
	text-overflow:ellipsis;
    color: #182939;
	font-weight: normal;
    font-size: 16px;
}
.details-form input:focus{
	outline:none;
	border:1px solid #00c6f9;
	z-index:2;
	position:relative;
}
.details-form .ui-datepicker-trigger{
	display:none;
}
.adult-name{
	width:211px;
}
.adult-last-name{
	width:196px;
}
.details-form .adult-birth{
	width:95px;
}
.adult-email{
	width:275px;
}
.adult-email-confirm{
	width:271px;
}
.adult-phone{
	width:275px;
}
.adult-health-disorder-number{
	width:271px;	
}
.address1{
	width:275px;
}
.address2{
	width:272px;
}
.region{
	width:115px;
}
.state-select{
	width: 142px;
    float: left;
    margin-left: 16px;
}
.state-select .jq-selectbox__select-text{
	width:auto !important;
	text-transform: none;
}
.post-code{
	width:115px;
}
.details-form .form-select{
	width:142px;
	margin:11px 0 0 13px !important;
}
.details-form .jq-selectbox .jq-selectbox__dropdown{
	width:144px !important;
}
.details-form .jq-selectbox__select-text{
	color: #8e8e8e;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
}
.details-form .jq-selectbox__select {
    padding: 14px 0px 15px 15px !important;
}
.step3-inp-container{
	display:-ms-flexbox;
	display:-webkit-box;
	display:flex;
	-ms-flex-flow: row wrap;
	    flex-flow: row wrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;

}
.step3-inp-wrapper{
	padding-top:11px;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
    -ms-flex-flow: column wrap;
        flex-flow: column wrap;
}
.steps-wrapper3 .confirmation-info-wrapper {
    margin: 20px auto 0 auto;
}
.steps-wrapper3 .head-content-bl-form {
    width: 875px;
    padding: 0 31px 0 40px;
    margin: 38px auto 0 auto;
}
.step3-inp-wrapper input{
	width:calc(100% - 25px);
}
.step3-inp-wrapper p{
	clear:both;
	-ms-flex-positive: 1;
	    -webkit-box-flex: 1;
	        flex-grow: 1;
}
.step3-inp-wrapper .jq-selectbox,.step3-inp-wrapper select{
	margin:0 !important;
}
.step3-inp-wrapper-middle{
	width:235px;
}
.step3-inp-wrapper-big{
	width:302px;
}
.step3-inp-wrapper-verybig{
	width:354px;
}
.step3-inp-wrapper-small{
	width:122px;
}
.step3-inp-wrapper-lessmedium{
	width:142px;
}
.step3-inp-wrapper-177px{
	width:177px;
}
.payment-details .step3-inp-container p,.step3-inp-container p{
	margin:0;
	text-align:left;
}
.payment-container.step3-inp-container{
    -ms-flex-flow: column wrap;
        flex-flow: column wrap;
    -ms-flex-align: center;
        -webkit-box-align: center;
            align-items: center;
}
.payment-container.step3-inp-container .step3-inp-wrapper{
	padding:0;
}
.payment-container > div:first-child{
	margin-top:0;
}
.payment-container > div{
	margin-top:12px;
}
.payment-container input{
	margin-top:0 !important;
}
.save-details-for-future-p{
	margin:33px 0 0 0;
	text-align:center;
	color: #5a5a5a;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
}
.save-details-for-future-p input{
	vertical-align:-1px;
	margin-right:15px;
	cursor:pointer;
}
.save-details-for-future-p label{
	cursor:pointer;
}
.payment-details{
	margin-top:45px;
}
.payment-details h3{
	margin-top:30px;
}
.payment-details p{
	text-align:center;
	margin:0 0 25px 0;
	color: #535353;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
}
.payment-details input{
	width:327px;
	margin:0 auto;
	display:block;
	float:none;
	margin-top:12px;
}
.payment-inp-group .input-item{
	float:left;
}
.payment-inp-group .mmyy-card{
	border-radius:3px 0px 0px 3px;
	margin-left:0;
}
.payment-inp-group .cvc-card{
	border-radius:0px 4px 4px 0;	
	margin-left:-1px;
}
.payment-inp-group input{
	float:left;
	width:150px;
}
.payment-inp-group{
	width:353px;
	margin:3px auto 0 auto;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
}
.complete-card-wrapper{
	text-align:center;
	margin-top:35px;
}
.confirmation-info{
    width: 730px;
    margin: 55px auto 0 auto;
    position:relative;
    left:-50px;
    padding:0 0 78px 0;
}
.confirmation-info-left{
	float:left;
}
.confirmation-info-right{
	float:right;
}
.confirmation-countries{
	width:400px;
}
.confirmation-countries-block > div:first-child{
	margin-left:0;
}
.confirmation-countries-block > div{
	float:left;
	margin-left:10px;
}
span.confirmation-country-name{
	color: #182939;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 700;
	vertical-align:6px;
	margin-left:5px;
}
.confirmation-countries-block{
	margin-top:25px;
	text-align:left;
}
.confirmation-info-left .details:first-child{
	margin-top:0;
}
.confirmation-info-left .details{
	margin-top:50px;
}
.confirmation-arr{
	background: url(../img/conf-arr.png) no-repeat 0 0;
	width: 9px;
	height: 15px;
	display:inline-block;
	margin:0 25px 0 27px;
	vertical-align:-3px;
}
.confirmation-date-block{
	text-align:center;
    margin-top: 16px;
}
.confirmation-date-block span{
	color: #182939;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 700;
}
.details .circle-cover-info h3{
    color: #05587b;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    margin: 0px 0 15px 0;
    color:#fff;
}
.conformation-info-wrapper{
	border-bottom:1px solid #e0e0e0; 
}
.steps-wrapper.confirmation-steps-wrapper{
	width:auto;
}
.steps-wrapper.confirmation-steps-wrapper .steps-content{
	width:auto;
}
.details-confirm-columns .details-confirm-column{
	float:left;
	width:200px;
}
.details-confirm-columns{
	width:865px;
	margin:10px auto 0 auto;
}
.details-confirm-columns[data-columns]::before {
	content: '3 .column.size-1of3';
}

.column { float: left; }
.size-1of3 { 
    width: 200px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    margin-left: 131px;
    -ms-flex-align: center;
        -webkit-box-align: center;
            align-items: center;
    -ms-flex-flow: column nowrap ;
        flex-flow: column nowrap ;
}
.details-confirm-columns .size-1of3:nth-child(3n + 1){
	margin-left:0;
}

.details-confirm-column h3{
	text-align:left;
}
.details-confirm-column h4{
	font-family: 'Roboto';
	color: #182939;
	font-size: 16px;
	font-weight: 700;
	margin:0 0 15px 0;
}
.details-confirm-column p{
	font-family: 'Roboto';
	line-height:33px;
	color: #585d60;
	font-size: 15px;
	font-weight: 400;
}
.personal-details{
	border-bottom:1px solid #e0e0e0;
	padding:50px 0 60px 0;
}
.pay-complete-wrapper{
	text-align:center;
	margin-top:68px;
}
.complete-card,.pay-and-complete{
	width: 257px;
	background-color: #e1164b;
	border-radius: 4px;
	color: white;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	border:none;
	padding:17px 0 18px 0;
	cursor:pointer;
	-webkit-transition: all .2s;
	transition:all .2s;
}
.complete-card:hover,.pay-and-complete:hover{
    background: #9c071d;
}
.thanks-wrapper{
	margin-top:110px;
	padding:0 0 60px 0;
}
.thanks-content{
	width:620px;
	margin:0 auto;
}
.thanks-logo{
	height:164px;
	background: url(../img/thanks-logo.png) no-repeat 50% 0;
}
.thanks-text{
	text-align:center;
	margin-top:60px;
}
.thanks-text h1{
	color: #05587b;
	font-size: 60px;
	margin:0 0 0 0;
}
.thanks-text p{
	color: #585d60;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 300;
	margin:25px 0 0 0;
}
.thanks-info{
	margin:27px 0 0 0;
	text-align:center;
}
.thanks-info h4{
	color: #676a6c;
	font-family: 'Roboto';
	margin:0 0 0 0;
	font-size: 18px;
	font-weight: 300;
}
p.police-number{
	color: #e1164b;
	font-size: 24px;
	font-weight: 700;
	margin:8px 0 0 0;
}
.thanks-download-pdf-btn{
	border:none;
	outline:none;
	cursor:pointer;
    background: url(../img/download.png) no-repeat 0 1px;
    color: #02abd6;
    font-family: 'Roboto';
    padding-left: 24px;
	font-weight: 400;
	margin:7px 0 0 0;
}
.thanks-info p.detail-descr{
	font-family: 'Roboto';
	font-size: 16px;
	color: #676a6c;
	font-weight: 300;
}
.thanks-info p.detail-descr a{
	color: #02abd6;
	font-weight: 400;
}
.thanks-content-wrapper.content-wrapper,.thanks-blocks-group.blocks-group{
	padding-top:0;
	margin-top:0;
    margin-bottom: 70px;
}
.head-content-bl-form .quote-button-wrapper{
	float:none;
	text-align:center;
	clear: both;
	padding:52px 0 0 0;
}
.quote-button-wrapper .quote-button{
	background-color: #e1164b;
	border-radius: 4px;
	border:none;
	width:309px;
	text-align:center;
	color: white;
	font-family: Roboto;
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	padding:23px 0 22px 0;
	cursor:pointer;
	-webkit-transition: all .2s;
	transition:all .2s;
}
.quote-button-wrapper .quote-button:hover{
	background-color: #9c071d;
}
.disabled-select{
	display:none;
    color: #182939;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    text-transform: none;
    margin: 7px 0 0 0;
    width: 345px;
    border: 1px solid #dadada;
    border-radius: 3px 4px 4px 3px;
    padding:13px 0px 14px 15px;
    width:332px;
    background:#ebebeb url(../img/arr-disabled.png) no-repeat 95.7% 15px;
    cursor:pointer;
}
.subscribe{
	cursor:pointer;
    vertical-align: -1px;
    margin-right: 8px;
}
.selected-country span{
	position: relative;
    top: -1px;
}
.selected-country:not(.not-x-close)::after{
    content: 'X';
    font-size: 18px;
    position: absolute;
    font-weight: 400;
    display: inline-block;
    top: 4px;
    right: -24px;
    padding: 2px 4px 1px 4px;
    border-radius:5px;
    background: rgba(206, 206, 206, 0.38);
}
.contact-wrapper{
	padding:55px 0 90px 0;
}
.contact-content{
	width:320px;
	margin:0 auto;
}

.contact-content h2{
	color: #05587b;
	font-size: 30px;
	font-weight: 400;
	margin:35px 0 50px 0;
}
.contact-text{
	padding:145px 0 0 0;
	background: url(../img/contact-img.png) no-repeat 50% 0;
}
.contact-text .contact-tel{
	font-weight: 700;
	color: #535353;
	font-family: Roboto;
	font-size: 22px;
	display:block;
	text-align:center;
	margin-bottom:25px;
}
.contact-text .contact-tel span{
	color: #e1164b;
	font-size: 37px;
}
.contact-text p{
	color: #535353;
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 400;
	width:245px;
	margin:15px auto 0 auto;
	text-align:center;
}
.contact-text p a{
	color: #02abd6;
}
.contact-us-butt-wrapper{
	text-align:center;
	margin:25px 0 0 0;
}
.contact-us-butt{
	width:165px;
	text-align:center;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 700;
	color: white;
	text-transform: uppercase;
	background-color: #00c6f9;
	border-radius: 3px;
	border:none;
	cursor:pointer;
	padding:14px 0 16px 0;
}
.confirmation-countries-block .selected-country:first-child{
	margin-left:0;
}
.confirmation-countries-block .selected-country{
	color: #182939;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    margin-top:0;
    opacity:1;
    margin: 0 20px 0 0;
    cursor:text;
}
.confirmation-countries-block .selected-country span{
	margin-right:7px;
}
.confirmation-countries-block{
	font-weight:bold;
	text-align: center;
}
.form-column h2{
	font-family: 'Roboto';
	font-size:18px;
	color:#585d60;
	margin:0 0 0 0;
}
.confirmation-info .details{
	margin-bottom: 20px;
}
.confirmation-info .details h1{
	font-size: 24px;
}
.confirmation-info .details h2{
	font-size: 18px;
	font-weight: 700;
	margin:10px 0 5px 0;
}
.confirmation-info .details .trip-type-p{
	color: #05587b;
	font-family: 'Roboto';
	font-size: 16px;
	text-align:center;
	margin:0 0 0 0;
}
.confirmation-info-wrapper .head-content-bl-form{
	margin:30px 0 0 0;
}
.steps-wrapper3 .confirmation-info-wrapper{
    left: -130px;
}
.confirmation-info-wrapper{
    border-bottom: 1px solid #ececec;
    width:1125px;
    margin: 40px auto 0 auto;
    position:relative;
}
.confirmation-info-wrapper .confirmation-info{
	margin:0 auto;
	left:0;
	width:885px;
	float:none;
    padding: 0 0 45px 0;
}
.confirmation-info-wrapper .confirmation-info > div{
	float:left;
}
.confirmation-info-wrapper .confirmation-info-right{
	margin-left:90px;
}
.confirmation-info-wrapper .confirmation-info-left,.confirmation-info-wrapper .confirmation-countries{
	width:265px;
}
.confirmation-info-wrapper .circle-cover-info{
	background-color: #00c6f9;
}
.confirmation-info-wrapper .circle-cover-info h2 {
    padding: 0;
}
.confirmation-info-packs{
	margin-left:95px;
}
.details-pack:first-of-type{
	margin:27px 0 0 0;
}
.details-pack{
	width: 235px;
	padding:8px 10px 8px 15px;
	background-color: #f7f7f7;
	border: 1px solid #edecec;
	border-radius: 3px;
	margin:18px 0 0 0;
	position:relative;
}
.undef{
	margin:15px 0 0 0 !important;
	color: #05587b;
	font-family: 'Roboto';
	font-size: 17px;
	font-weight: 700;
	text-align:center;
}
.packs-name{
	color: #05587b;
	font-family: Roboto;
	font-size: 16px;
}
.details-pack h4,.total-prem h4{
	font-size: 34px;
	color: #00c6f9;
	margin:5px 0 0 0;
	text-align:left;
}
.details-pack h4 span,.total-prem h4 span{
	font-size: 23px;
}
.total-prem p{
	color: #585d60;
	font-size: 24px;
	font-weight: 700;
}
.confirmation-info-wrapper .confirmation-info-left .details{
	margin-top:0;
}
.confirmation-info-wrapper .personal-details{
	padding-top:75px;
}
.confirmation-change-button-wrapper .change-button{
	padding: 17px 0 17px 0;
	width:131px;
	top:0;
    left: 30px;
}
.confirmation-info-wrapper .head-content-bl-form form > div{
	float:none;
}
.total-prem{
	display:inline-block;
    position: relative;
    top: 19px;
    right: 45px;
}
.confirmation-change-button-wrapper .change-button-wrapper{
	margin-top:7px;
}
.steps-wrapper4 .total-prem{
	right:0;
	top:0;
	text-align:center;
}
.steps-wrapper4 .total-prem h4{
	text-align:center;
}
.steps-wrapper4 .personal-details{
	border-bottom:none;
	padding-bottom:0;
}


.option-packets-wrapper{
	margin: 50px 0 0 0;
}
.option-packet{
	width:1135px;
	margin:50px auto 0 auto;
}
.option-packets-content > h1,.option-packets-content > h4{
	text-align:center;
}
.option-packets-content > h1{
	color: #585d60;
	font-size: 48px;
	font-weight: 400;
	margin:0;
}
.option-packets-content > h4{
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: 400;
	color: #535353;
	margin:19px 0 0 0;
}
.option-packets-content h4 a{
	color: #02abd6;
}
.option-packets{
	margin:25px 0 0 0;
}
.option-packets .details-pack:nth-child(4n+1){
	margin:13px 0 0 0;
}
.option-packets .details-pack{
	background: #f7f7f7 url(../img/add-packet.png) no-repeat 211px 27px;
	cursor:pointer;
	float:left;
	margin:13px 0 0 21px;
}
.option-packets .details-pack.added-details-pack{
	background: #e1164b url(../img/checked-plan-quote.png) no-repeat 211px 32px;
}
.option-packets .details-pack.added-details-pack p,.option-packets .details-pack.added-details-pack h4{
	color:#fff;
}
.confirmation-info-wrapper.step2-confirmation-info-wrap{
	margin:65px auto 0 auto;
}
.confirmation-info-wrapper.step2-confirmation-info-wrap .confirmation-info{
	width: 1040px;
}
.step2-confirmation-info-wrap .confirmation-info-right {
    margin-left: 18%;
}
.confirmation-info-wrapper.step2-confirmation-info-wrap .confirmation-info{
	width:auto;
}
.step2-confirmation-info-wrap .confirmation-info-packs {
    margin-left: 16%;
    width: 262px;
}
.uhaveselected{
	color: #585d60;
	font-size: 48px;
	text-align:center;
	font-weight: 400;
	margin:0 0 35px 0;
}
.pack-close{
	position:absolute;
    top: -9px;
    right: -11px;
    width: 26px;
    height: 26px;
    background: url(../img/wrong-sprite.png) 0 0;
    cursor:pointer;
}
.pack-close:hover{
    background: url(../img/wrong-sprite.png) 0 -27px;	
}
.buyNow{
	width: 197px;
	background-color: #e1164b;
	border-radius: 4px;
	color: white;
	font-family: 'Roboto';
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	text-align:center;
	border:none;
	outline:none;
	cursor:pointer;
	padding:17px 0;
	-webkit-transition: .2s all;
	transition:.2s all;
	margin-left:50px !important;
}
.buyNow:hover{
	background: #9c071d;
}
.buyWrapper{
	margin-top: 35px;
    padding-bottom: 25px;
}
.medical-conditions{
	background: #f7f7f7;
	padding:28px 35px 30px 37px;
	margin:25px 0;
	width:auto;
	border: 1px solid #edecec;
}
.medical-conditions-wrapper h1{
	color: #585d60;
	font-size: 48px;
	font-weight: 400;
	text-align:center;
}
.medical-conditions-wrapper > p{
	color: #5a5a5a;
	font-size: 16px;
	font-weight: 400;
	text-align:center;
    margin: 22px 0 0 0;
}
.medical-conditions-wrapper{
	margin:40px 0 0 0;
	font-family: 'Roboto';
}
.medical-conditions-wrapper label{
	text-align:center;
	color: #5a5a5a;
	font-size: 16px;
	display:block;
	font-weight: 400;
	margin: 23px 0 0 0;
	cursor:pointer;
}
.medical-conditions-wrapper label input{
	vertical-align: -1px;
	cursor:pointer;
}
.medical-conditions-text-block p{
	color: #676a6c;
	font-size: 16px;
	font-weight: 400;
	margin-top:9px;
}
.medical-conditions-text-block p.med-cond-bold{
	font-size: 18px;
	font-weight: 700;
	margin-bottom:11px;
}
.medical-conditions-text-block ul{
	list-style:none;
    margin: 12px 0 16px 0;
	padding:0 0 0 31px;
	color: #676a6c;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.traveller{
	cursor:pointer;
}

.back-btn-container{
	text-align:center;
}
.back-button{
	color: #585d60;
	width:93px;
	text-align:center;
	padding:6px 0 7px 0;
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: 400;
	display:inline-block;
	background: url(../img/back-btn-sprite.png) no-repeat 0 -2px;
}
.back-button:hover{
	background: url(../img/back-btn-sprite.png) no-repeat 0 -33px;
}
/*  BENEFITS */

.benefits-container{
	width:1125px;
	margin:40px auto 70px auto;
	text-align:center;
}
.benefits-container .benefits-toggle{
	color: #00c6f9;
	font-size: 48px;
	font-weight: 400;
	cursor:pointer;
	display:inline-block;
	position:relative;
}
.benefits-toggle::after{
	content:'';
	display:inline-block;
	width: 42px;
	height: 21px;
	background: url(../img/arrow-sprite.png) no-repeat 0 -23px;
	position:relative;
	left:18px;
	bottom:1px;
}
.closed-benefits::before{
	content:'';
	width: 98px;
	height: 32px;
	display:inline-block;
	background: url(../img/cl-ben-sprite.png) no-repeat 0 0;
	position:absolute;
	left:calc(50% - 54px);
	top:75px;
}
.benefits-toggle:hover{
	color:#05587b;
}
.benefits-toggle.closed-benefits:hover::before{
	background: url(../img/cl-ben-sprite.png) no-repeat 0 -33px;
}
.benefits-toggle.closed-benefits::after{
	background: url(../img/arrow-sprite.png) no-repeat 0 0;
}
.benefits-toggle.closed-benefits:hover::after{
	background: url(../img/arrow-sprite.png) no-repeat 0 -46px;
}
.benefits-toggle.opened-benefits:hover::after{
	background: url(../img/arrow-sprite.png) no-repeat 0 -46px;
}
a.closed-benefits{
	margin-bottom: 50px;
}
.benefits-table{
	width: 100%;
	text-align:center;
	margin:30px 0 0 0;
	border-collapse:collapse;
	display:none;
}
.benefits-table tr td:nth-child(2){
	border-left:1px solid #d9d9d9;
	border-right:1px solid #d9d9d9;
}
.benefits-table tbody tr:last-child{
	border-bottom:1px solid #d9d9d9;
}
.benefits-table .active-benefits,.benefits-table .active-benefits p{
	color: #e1164b !important;
}
.benefits-table thead tr td{
	line-height: 43px;
	padding:5px 0 30px 0;
}
.benefits-table thead tr td p.ben-name{
	color: #05587b;
	font-family: 'Roboto';
	font-size: 24px;
	font-weight: 700;
}
.benefits-table thead tr td p.ben-price{
	color: #00c6f9;
	font-size: 31px;
	font-weight: 700;
}
.benefits-table th{
	background: #f7f7f7;
	padding:24px 0 23px 0;
}
.benefits-table tbody p{
	color: #535353;
	font-family: 'Roboto';
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
}
.benefits-table tbody tr td{
	color: #535353;
	font-family: 'Roboto';
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	padding:30px 0;
}
/*.benefits-table tbody th p::after{*/
    /*content:'';*/
    /*display: inline-block;*/
    /*background: url(../img/qstn.png) no-repeat 0 0;*/
    /*width: 23px;*/
    /*height: 24px;*/
    /*position:relative;*/
    /*top:5px;*/
    /*left:5px;*/
/*}*/
/*END BENEFITS*/

.card-type-select.jq-selectbox{
	width:calc(100% - 2px);
}
.details-form .card-type-select .jq-selectbox__select-text{
	text-transform:none;
}
.details-form .card-type-select .jq-selectbox__dropdown{
	width:calc(100% + 2px) !important;
	min-width:auto;
}
.intl-tel-input *{
	box-sizing: initial;
}
.intl-tel-input.allow-dropdown input, .intl-tel-input.allow-dropdown input[type=text]{
	padding-left:60px;
}
.flag-container{
	z-index:10;
}
.intl-tel-input .selected-flag .iti-flag{
	left:13px;
}
input.adult-phone{
	width: calc(100% - 66px);
}
.flag-disabled{
	display:inline-block;
	position:absolute;
	z-index:11;
	width:56px;
	height:50px;
    background-color: rgba(248,248,248,0.75);
}
.flag-disabled .iti-flag{
	left: 14px;
    position: absolute;
    top: 20px;
}
.intl-tel-input .country-list .flag-box, .intl-tel-input .country-list .country-name {
    margin-right: 6px;
    font-family: 'Roboto';
}
.intl-tel-input .country-list{
	overflow-x:hidden;
	width:302px;
}
.card-type-select{
	text-align:left;
}
.card-type-select ul{
	height: 103px;
	width:calc(100% - 2px);
}

.when-inp input.step2-when-year{
	max-width:none;
	width:134px;
}
.head-content-bl-form.head-content-bl-main{
	padding:0;
    width: 870px;
    margin: 72px auto 0 auto;
}
.head-content-bl-container label a,.qstn-sign a{
	content:'';
	width:18px;
	display:inline-block;
	height: 18px;
	background: url(../img/qstn-sign-blue.png) no-repeat 0 0;
}
.head-content-bl-container label a{
	margin-top: 1px;
	position: absolute;
	margin-left: 8px;
}
.head-content-bl-main label a{
	margin-top:4px;
}
.qstn-sign a{
    vertical-align: -3px;
    position: relative;
    left: 8px;
}
.single-trip-disclosure{
	/*width:1125px;*/
    width: 93%;
	text-align:center;
	margin:40px auto 60px auto;
}
.single-trip-disclosure p{
	color: transparent;
	font-family: 'Roboto';
	font-size: 14px;
	color: #676a6c;
	font-weight: 300;
}
.single-trip-disclosure p a{
	color: #02abd6;
	font-weight: 400;
}
.benefits-top-p{
	/*width: 785px;*/
	width:70%;
	margin:27px auto 44px auto;
	color: #676a6c;
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 400;
	text-align:center;
}
.refresh-button-wrapper{
	text-align:center;
	margin: 35px 0 0 0;
}
.refresh-button{
	width: 151px;
	background-color: #00c6f9;
	border-radius: 3px;
	text-align:center;
	color: white;
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	border:none;
	padding:13px 0 14px 0;
	cursor:pointer;
}
p.invalid-label,.invalid-label{
	display:none;
	color: red;
}
/*tooltip*/
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 12px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity .3s;
  transition:opacity .3s;
  min-width:165px;
}
.tooltip.in {
  opacity: 1;
}
.tooltip.top {
  margin-top: -3px;
  padding: 5px 0;
}
.tooltip.right {
  margin-left: 3px;
  padding: 0 5px;
}
.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0;
}
.tooltip.left {
  margin-left: -3px;
  padding: 0 5px;
}
.tooltip-inner {
  /*max-width: 200px;
  padding: 3px 8px;*/
  width:200px;
  padding:8px 14px 9px 12px;
  color: #676a6c;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  background: #f7f7f7;
  border-radius: 9px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #f7f7f7;
}
.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  right: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #f7f7f7;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #f7f7f7;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #f7f7f7;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #f7f7f7;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #f7f7f7;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #f7f7f7;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #f7f7f7;
}
.chubb-insurance-textblock{
    padding: 45px 50px 30px 47px;
    margin: 0 auto;
    max-width: 1400px;
    box-sizing: border-box;
}
.chubb-insurance-textblock p{
	color: #676a6c;
	font-weight: 300;
	font-family: Roboto;
	font-size: 14px;
}
.chubb-insurance-textblock p a{
	color: #02abd6;
	font-weight: 400;
}
.footer-top .footer-label:first-child{
	margin:0 0 20px 0;
}
.footer-label{
	text-align:center;
	font-family:'Roboto';
	font-size:16px;
	margin:20px 0 25px 0;
	color:#676a6c;
}
.footer-label::after{
	content:'';
	height:1px;
	background: #676a6c;
	width:48px;
	display:block;
	margin:7px auto 0 auto;
}
.companies-supporting{
	text-align:center;
}
.iteora-pager{
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto';
    margin: 55px 0 100px 0;
}
.iteora-pager ul{
    list-style:none;
    padding:0;
    display:-ms-flexbox;
    display:-webkit-box;
    display:flex ;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
    -ms-flex-pack: center ;
    -webkit-box-pack: center ;
            justify-content: center ;
    -ms-flex-flow:row nowrap;
    flex-flow:row nowrap;
}
.iteora-pager .page a{
    border: none;
    display:inline-block;
    background-color: #f7f7f7;
    border: 1px solid #edecec;
    border-radius: 3px;
    margin-left: 13px;
    width: 75px;
    text-align: center;
    padding: 8px 0 10px 0;
    cursor: pointer;
}
.iteora-pager .page.selected a{
    background-color: #00c6f9;
}
.iteora-pager .page.selected a{
    color: #fefefe;
}
.iteora-pager li:not(.page){
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin:0 3px;
}
.iteora-pager li:not(.page) a{
    color: #2e3c47;
    font-size: 17px;
    font-family: 'Roboto';
}
.iteora-pager li:not(.page) a:hover{
    color:#585d60;
}
.iteora-pager li.next{
    margin-left:15px;
}
.iteora-pager .page a{
    color: #585d60;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.iteora-pager .hidden {
    display: none;
}
.dependents-column h4{
	margin: 0px 0 4px 0;
}
.dependents-column p{
	line-height: 24px;
}



/*   ITEORA PAGE INFORMATION  */

.iteora-page-information ul,.iteora-page-information ol{
	list-style:none;
}
.iteora-page-information > p{
	color: #585d60;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 300;
    margin: 25px 0 0 0;
}

.iteora-page-information > ul li p{
	color: #585d60;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
}

.iteora-page-information a{
	color: #02abd6;
    font-weight: 400;
    font-size: 17px;
}

.iteora-page-information{
	width:1125px;
	margin: 60px auto 65px auto;
}

.iteora-page-information h1{
	color: #585d60;
    font-family: 'Melbourne Reg';
    margin: 0 0 0 0;
    text-align: center;
    font-size: 48px;
    font-weight: 400;
}
.iteora-page-information table{
	border-bottom: 0;
    border-left: 0;
}

.iteora-page-information table, .iteora-page-information table th, .iteora-page-information table td {
    border: 1px solid #e7e7e7;
}

.iteora-page-information table {
    width: 100%;
    border-collapse: collapse;
    padding: 0;
    margin: 25px auto;
}
.iteora-page-information table td{
	text-align:center;
	padding:14px 15px;
}
.iteora-page-information table td p{
	color: #5a5a5a;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.iteora-page-information table td p strong{
	display:inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
	font-size: 17px;
}
.iteora-page-information > p strong{
	display:inline-block;
	margin-top:10px;
	margin-bottom:10px;
	font-size: 22px;
}

.iteora-page-information h2{
    font-size: 35px;
	color: #585d60;
    font-family: 'Melbourne Reg';
    margin: 40px 0;
    text-align: center;
    font-weight: 400;
}

.iteora-page-information ul li{
	line-height:24px;
}
/*.iteora-page-information table p strong{
	color: #585d60;
    font-size: 48px;
    font-weight: 400;
    display:block;
    margin: 0;
    text-align: center;
}*/


/**/

@media (min-width:900px) and (max-width: 1145px){
	.steps-content {
	    width: 100%;
	}
	.plans-group-block{
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	.plans-group-block > div{
		margin-left:auto;
	    max-width: 26%
	}
	.option-packets {
	    display: flex;
	    flex-flow: row wrap;
	    justify-content: space-around;
	    width: 97%;
    	margin: 25px auto 0 auto!important;
    	padding-left:1.5%;
	}
	.option-packets .details-pack:nth-child(4n+1){
		margin-left:0;
	}
	.option-packets .details-pack{
		margin-left:auto;
	}
	.confirmation-info-wrapper{
		width:auto;
	}
	.confirmation-info-wrapper.step2-confirmation-info-wrap .confirmation-info{
		width:900px;
	}
	.step2-confirmation-info-wrap .confirmation-info-right {
	    margin-left: 11%;
	}
	.step2-confirmation-info-wrap .confirmation-info-packs {
	    margin-left: 12%;
	    width: 262px;
	}
	.head-content-bl-form{
		padding:0;
	}
	.benefits-container{
		width:auto;
	}
	.steps-wrapper3 .confirmation-info-wrapper{
		left:0;
	}
	.steps-wrapper2, .steps-wrapper3, .steps-wrapper4 {
	    background: url(../img/steps-back.png) no-repeat center 61px;
	    background-size: 1020px auto;
	}
	.customers-panel {
	    margin-top: 45px;
	    padding-top: 20px;
	    margin: 0 auto;
	    width: 90%;
		justify-content: center;
	    display: flex;
	    flex-flow: row wrap;
	}
	.filter-buttons {
	    clear: both;
	    padding-top: 24px;
	    margin: 0 auto;
	    width: 100%;
	    text-align: center;
	}
	.table-content{
		width:100%;
	}
	.customers-table .customers-table-container,.orders-table .orders-table-container{
		width:100%;
	}
	.statistic-panel {
	    width: 590px;
	    margin: 30px auto 0 auto;
	    display: flex;
	    flex-flow: row wrap;
	    justify-content: center;
	}
	.statistic-table .statistic-table-container{
		width:100%;
	}
	.thanks-wrapper {
	    margin-top: 110px;
	    width: 70%;
	    margin: 110px auto 0 auto;
	    padding: 0 0 60px 0;
	}
	.form-content {
	    width: 100%;
	    margin: 60px auto 65px auto;
	}
}
@media (min-width:900px) and (max-width: 1215px){
	.orders-panel {
	    margin-top: 45px;
	    width: 90%;
	    margin-left: auto;
	    margin-right: auto;
	    display: flex;
	    justify-content: center;
	    flex-flow: row wrap;
	    line-height: 43px;
	}
	.orders-wrapper .filter-buttons {
	    position: relative;
	    top: 18px;
	}
	.orders-table {
	    margin: 90px 0 0 0;
	}
}
@media (min-width:900px) and (max-width: 1100px){
	.option-packets .details-pack {
		width:20%;
		background-position-x: 95% !important;
	}
}



.plans-group-block::after,.ages-block::after,.ages-block > *::after,.details-form::after,.details-form form::after,.payment-inp-group::after,
.confirmation-info::after,.confirmation-countries-block::after,.confirmation-info > div::after,.details-confirm-columns::after,.option-packets::after{
	content:'';
	clear:both;
	display:block;
}