.logout a {
    color: #676a6c;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    display:inline-block;
    padding:0 0 0 0;
}
.logout {
    padding:0 26px 0 0;
}
.logout a {
    display:inline-block;
    padding-top:15px;
}
.logout a:hover {
    color:#03b1de;
}

.ages-block {
    width: 870px;
    margin: 0 auto 0 auto;
}
.adult-block {
    margin-left: 251px;
}
.ages-block > div{
    max-width:400px;
}
.ages-block > div:last-child {
    position: inherit;
    right: 0;
}

.companies {
    text-align: center;
}

.companies > a {
    float: none;
    display: inline-block;
}


.popup-wrapper, .popup-close-bg {
    height: 100%;
}

.companies > a {
    vertical-align: top;
}

.errorMessage {
    color: red; margin-top: 5px; margin-bottom: 7px; font-weight: bold; font-size: 22px;
}

.medical-conditions a {
    color: #555;
    text-decoration: underline;
}

.policy-declaration {
    margin: 10px 0;
}
.policy-declaration input {
    width: inherit;
    margin: inherit;
    float: none;
    display: inherit;
}

.policy-declaration label {
    line-height: 1.2;
}

.head-content-bl h1 {
    font-size: 65px;
}

.header-content {
    padding-bottom: 278px;
}

.reset-password-button {
    width: 257px!important;
    margin-top: 20px;
    background-color: #e1164b!important;
    border-radius: 4px!important;
    color: white!important;
    font-family: Roboto!important;
    font-size: 18px!important;
    font-weight: 700!important;
    text-transform: uppercase!important;
    border: none!important;
    padding: 17px 0 18px 0!important;
    cursor: pointer!important;
    transition: all .2s!important;
    float: none!important;
}

.tooltip-custom {
    content: '';
    display: inline-block;
    background: url(../img/qstn.png) no-repeat 0 0;
    width: 23px;
    height: 24px;
    position: relative;
    top: 5px;
    left: 5px;
}

.iteora-page-information.about-page a {
    color: inherit;
}

.children-tooltip .tooltip-inner {
    width: 640px;
    text-align: left;
}

.iteora-page-information.about-page p {
    margin: 0;
    color: #585d60;
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 400;
}

.iteora-page-information.about-page .P1 {
    font-family: 'Roboto';
}
.iteora-page-information.about-page .T3 {
    color: #585d60;
}

.referral-select-block .jq-selectbox .jq-selectbox__dropdown {
    width: 100%!important;
}

.line-height-fix {
    padding: 5px 0px 5px 0px;
}