@media (min-width: 500px) and (max-width:990px){
	body{
		min-width:auto;
	}
body{
		width:100%;
	}
	.header{
		padding:13px 15px 0 15px;
		background: none;
		border-bottom:none;
	}
	.head-content-bl{
		width:100%;
	}
	.head-content-bl-form.head-content-bl-main {
	    width: auto;
	    margin: 30px auto 0 auto;
	}
	.head-cont-logo{
		background: url(../img/tablet-logo-main.png) no-repeat 50% 0;
		top:-15px;
		height: 117px;
	}
	.head-logo{
		display:none;
	}
	.head-content-bl-main label a{
		margin-top:0;
	}
	.head-content-bl-container label a {
	    margin-left: 5px;
	}
	.main-when {
	    margin-left: 0;
	}
	.head-logo.vis-mob-logo{
		display:block;
	}
	.header.vis-mob-border{
		border-bottom: 1px solid #e4e4e4;
		padding-bottom:10px;
	}
	.head-logo.vis-mob-logo a{
		background: url(../img/mobile-logo-top.png) no-repeat 0 0;
		width:157px;
		height:27px;
		margin-left: 14px;
	    position: relative;
	    top: 4px;
	}
	.sign{
		clear:both;
		padding: 0 25px 0 0;
	}
	.header-right div:last-child {
	    padding-left: 25px;
	}
	.logout {
	    padding: 0 12px 0 0;
	    font-size: 12px;
	    position: relative;
	    top: 0;
	}
	.adult-block{
		margin-left:0 !important
	}
	.sign a,.logout a{
		padding-top:0;
		font-size: 12px;
		font-weight: 400;
		color: #676a6c;
		font-weight: 500;
	}
	.header-right .number {
	    font-size: 18px;
	    font-weight: 700;
	    line-height: 0;
	    color: #676a6c;
	}
	.header-right .address {
	    font-size: 11px;
	    margin-top:4px;
	}
	.personal {
	    padding: 0 0px 0 0;
	    position: relative;
	}
	.personal-link{
		padding-top: 2px;
    	padding-right: 10px;

	}
	.head-content-bl{
		margin:5px auto 0 auto;
	}
	.head-content-bl h1{
		color: #05587b;
		font-size: 30px;
		font-weight: 700;
		line-height: 35px;
		width: 85%;
	    margin: 0 auto;
	}
	.header-content{
		padding:47px  15px 100px 15px;
	    background: url(../img/tablet-bg.png) no-repeat 50% 100%;
	    background-size: cover;
	    top: 0;
	}
	.header.header-main-page{
		position: absolute;
	    width: 100%;
	    box-sizing: border-box;
	}
	.head-content-bl-form, 
	.steps-wrapper4 .confirmation-info {
		width: 485px !important;
		margin:17px auto 0 auto;
   	 	padding: 0;
	}
	.steps-wrapper4 .confirmation-info{
		border-bottom: 1px solid #ececec;
	}
	.head-content-bl-form.head-content-bl-main{
		box-sizing:border-box;
		margin-left:auto;
		margin-right: auto;
	}
	.head-content-bl{
		width:485px;
	}
	.steps-content .where-inp {
	    width: 225px;
	}
	.head-content-bl-form form > div:first-child{
		margin-left:0;
	}
	.head-content-bl-form form > div{
		float:left;
	    margin-left: 9px;
	}
	.inp label{
		color: #05587b;
		font-family: 'Roboto';
		font-size: 13px;
		font-weight: 400;
	}
	.where-inp{
		padding:0;
	    width: 216px;
	}
	.where-div .easy-autocomplete{
		width:100% !important;
	}
	.where-div{
		width:205px;
		margin: 4px auto 0 auto;
	    padding: 1px 5px 4px 10px;
	}
	.where-div input{
		font-size:14px;
		width:80px;
	}
	.inp input{
		font-size:12px !important;
	}
	.inp input:not(#where){
		margin-top: 5px;
		padding: 8px 3px 9px 4px;
	}
	.when-inp input{
		width: 81px !important;
   		padding: 6px 3px 6px 4px;
	}
	.arr-r {
	    display: inline-block;
	    width: 6px;
	    height: 11px;
	    background: url(../img/arr-r-mobile.png) no-repeat 0 0;
	    vertical-align: -2px;
	    position: relative;
	    left: 2px;
	}
	.when-inp input:last-child {
	    margin-left: 3px;
	}
	.steps-inp .arr-r{
		margin:0 0 0 0;
	}
	.steps-inp.when-inp input{
		width:93px !important;
		font-size:13px;
	}
	.where-inp.steps-inp{
		font-size:13px;
	}
	.age-inp {
	    margin-left: 10px;
	}
	.age-inp input{
		padding:5px 0 7px 0;
	    width: 24px;
	}
	.age-inp input:last-child{
		margin-left:1px;
	}
	.head-content-bl-form .quote-button-wrapper{
		padding-top:25px;
	}
	.quote-button-wrapper .quote-button {
        width: 152px;
        font-size: 16px;
        padding:9px 0;
        height:auto;
	}
	.submit-bl {
	    padding-top: 25px;
	}

	.content-wrapper {
	    padding: 30px 0 0 0;
	}
	.benefits-bl-wrapper {
	    margin-bottom: 40px;
	    width: 90%;
	    margin-left:auto;
	    margin-right:auto;
	}
	.benefits-bl-wrapper h1{
		color: #585d60;
		font-size: 30px;
		font-weight: 400;
	}
	.benefits-bl {
	    width: 100%;
	    box-sizing:border-box;
	    margin:0 auto;
	    padding:0 9px;
	}
	.benefits-bl .column{
		margin-top:25px;
	}
	.size-1of4 {
	    width: 25%;
	}
	.benefits-block h3{
		color: #00c7fa;
	    font-size: 20px;
		font-weight: 700;
		line-height: 20px;
	    width: 95%;
	    margin: 5px auto 10px auto;
	}
	.benefits-block p{
	    font-family: 'Roboto';
		color: #676a6c;
		font-size: 12px;
	    font-weight: 400;
		margin: 15px auto 0 auto;
	}
	.blocks-group {
	    width: 95%;
	    margin: 40px auto 0 auto;
	}
	.ben-img-bl {
	    height: 92px;
	}
	.benefits-block h3::after {
	    content: '';
	    display: block;
	    width: 29px;
	    height: 1px;
	    margin: 10px auto 0 auto;
	    background: url(../img/ben-header-border.png) no-repeat 0 0;
	}
	.two-row-header {
	    margin: -5px auto -9px auto !important;
	}
	h3.two-row-header::after {
	    margin: 13px auto 0 auto;
	    position: relative;
	    top: -8px;
	}
	.benefits-block ul li {
	    margin: 10px 0 0 0;
	    font-family: 'Roboto';
		color: #676a6c;
		font-size: 12px;
	    font-weight: 400;
	    text-align: center;
	    width: 88%;
	    margin-left: auto !important;
	    margin-right: auto !important;
	}
	.benefits-block ul,.benefits-block p{
		width: 90%;
	}
	.proof-link{
		font-size:12px;
	}
	.blocks-group-bl > div:first-child{
		margin:0;
	}
	.blocks-group-bl > div{
		margin-left:18px;
		padding:25px 0 0 0;
	    width: calc(100% / 3 - 12px);
	    min-width: 0;
	    float: left;
	    height: 218px;
	}
	.blocks-group-bl .blocks-group-bl1{
		height:218px;
		background-size: 192px 109px;
	}
	.blocks-group > div h2{
		font-size:26px;
		width:165px;
		margin:0 auto;
		line-height: 29px;
	}
	.blocks-group .blocks-number{
		font-size:30px;
		margin-top:10px;
	}
	.blocks-group > div p{
		color: #545454;
		font-family: Roboto;
		font-size: 12px;
		font-weight: 400;
	    width: 203px;
		margin:38px auto 0 auto;
	}
	.blocks-group-bl1 p{
		width: 130px !important;
		left: -38px;
	    text-align:left;
	}
	.group-btn{
		width:197px;
		padding:14px 0 13px 0;
		font-size:14px;
		position: absolute;
	    left: calc(50% - 197px / 2);
	    bottom: 24px;
		margin:20px 0 0 0;
	}
	.companies{
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	.companies a{
		height:60px;
		margin:0;
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.appGroup img{
		width:200px;
		/*height:59px;*/
	}
	.cruisefusion img{
		width:176px;
		/*height:38px;*/
	}
	.firstCruise img{
		width:175px;
		/*height:31px;*/
	}
	.bayTravel img{
		width:179px;
		/*height:54px;*/
	}
	.companies-supporting img{
		width:160px;
	}
	.footer-label {
	    margin: 0 0 20px 0;
	}
	
	/*STEPS*/
	.steps-line{
		height:4px;
		top:8px;
	}
	.fly {
	    top: -12px;
	    right: -6px;
	}
	.step-label p{
	    font-size: 14px;
	    font-weight: 700;
		text-transform: uppercase;
		top:12px;
	}
	.steps-content{
		width:100%;
		margin:60px auto 40px auto;
	}
	.steps-content h5{
		font-size: 12px;
		font-weight: 300;
		margin: 0;
	}
	.steps-content h2{
		font-size: 24px;
		font-weight: 700;
		margin-top: 17px;
	}
	.head-content-bl-form{
		margin-top:22px;
	}
	.inp label{
		color: #707070;
		font-size: 13px;
		font-weight: 400;
	    min-width: 73px;
	}
	.steps-content .where-div {
	    width: calc(100% - 13px);
	}
	.steps-inp .where-div {
	    margin-top: 5px;
	}
	.steps-inp input{
		font-size:13px;
	}
	.steps-content .when-inp {
	    margin-top: 0;
		margin-left:14px;
	}
	.easy-autocomplete-container {
	    width: calc(100% - 2px);
	    margin-top: 3px
	}
	.easy-autocomplete-container ul li div {
	    padding: 5px 0 6px 15px;
	    font-size:13px;
	}
	.selected-country{
		font-size:13px;
		margin:0 10px 0 0;
		opacity:1;
	}
	.selected-country span {
	    position: relative;
	    top: 1px;
	}
	.where-div{
		padding: 2px 10px 6px 9px !important;
		width:100%  !important;
		box-sizing:border-box;
	}
	.change-button{
		display:block;
		margin:93px auto 0 auto;
		position:static;
		clear:both;
		width:122px;
		padding:8px 0;
		outline:none;
	}
	.change-button,.arr-r{
		z-index:-1;
	}
	.steps-content .easy-autocomplete-container {
	    width: 231px;
	    margin-top: 3px;
	}

	.steps-content .head-content-bl-form form::after{
		content:'';
		display:block;
		clear:both;
	}
	.steps-wrapper{
	    background: url(../img/tablets-mob-bg.png) no-repeat 50% 0;
	    background-size: 870px 150px;
	    position:relative;
	}
	.steps-wrapper2{
		background-position-y: 33px;
	}
	.steps-wrapper3{
	    background-position-y: 35px;
	}
	.steps-wrapper4{
	    background-position-y: 55px;
	}
	.who-else-block{
		position: absolute;
    	top: 360px;
		padding:0 30px 0 28px;
		width:auto;
	}
	.who-else-block h1{
		color: #585d60;
		font-size: 30px;
	    text-align: center;
		margin:0 0 10px 0;
	}
	.ages-block{
		width:auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	    -webkit-box-pack: center;
	        -ms-flex-pack: center;
	            justify-content: center;
	}
	.ages-block > div{
		float:left;
	}
	.ages-block > div:last-child{
		position:static;
		margin-left: 32px;
	}
	.ages-block > div p{
		font-size: 13px;
		margin-bottom:5px;
	}
	.add-age-button{
		width: 33px;
    	height: 31px;
    	background: #f3f3f3 url(../img/plus-mob.png) no-repeat 50% 50%;
	}
	.add-age-button:hover{
		background: #ebebeb url(../img/plus-mob.png) no-repeat 50% 50%;
	}
	.added-age{
		font-size:13px;
		width: 41px;
    	padding: 7px 0;
	}
	.age-inp-wrap .wrong{
		background: url(../img/mob-wrong.png) 0 0;
		width: 18px;
    	height: 18px;
	    top: -7px;
	    right: -8px;
	}
	.plans-group-block{
		margin: 32px 0 0 0;
    	padding: 0 30px 0 28px;
	}
	.refresh-button-wrapper {
	    margin: 21px 0 0 0;
	}
	.plans-block-a-qroup a{
		font-size:12px;
	    line-height: 23px;
	}
	.active-plan-quote .plans-block-a-qroup a, .active-plan-quote .plan-descr{
		color:#fff;
	}
	.refresh-button{
		width:122px;
		padding: 11px 0 12px 0;
		background: #edecec;
		color: #535353;
		font-size:13px;
	}
	.qstn-sign a {
	    left: 2px;
	}
	.refresh-button:active{
		background-color: #00c6f9;
		color:#fff;
	}
	.plans-group-block > div{
		height:auto;
	}
	.plans-block .plan-quote{
		position:static;
	}
	.plans-block-a-qroup{
		position:static;
		margin:11px 0 0 0;
	}
	.plans-block:first-child{
		margin-top:0;
	}
	.plans-block .plan-quote.red-quote{
	    background: #e1164b url(../img/checked-plan-quote.png) no-repeat 7px 11px;
	    background-size: 20px 16px;
	}
	.plans-block .plan-quote.red-quote:hover{
	    background: #9c071d url(../img/checked-plan-quote.png) no-repeat 7px 11px;
	    background-size: 20px 16px;
	}
	.plans-group-block > div p{
		position:static !important;
	}
	.plans-group-block > div{
		padding:20px 30px 25px 28px;
		margin:0 0 0 2%;
	}
	.plans-block .plan-name{
		font-size:19px;
	}
	.plans-block .plan-val{
		font-size: 39px;
		margin-top:13px;
	}
	.plans-block .plan-val span{
		font-size: 29px;
	}
	.tooltip-inner{
		font-size:11px !important;
		max-width:350px;
	}
	.tooltip-inner ul{
		padding:0px;
	}
	.plans-block .plan-descr{
		font-size: 13px;
		margin-top:15px;
		min-height:0;
		display:block;
	}
	.plans-block .plan-quote{
		margin-top:17px;
		width:122px;
		padding:9px 0 9px 0;
	}
	.steps-wrapper3 .when-inp{
		float:none;
		clear:both;
	}
	.steps-wrapper3 .age-inp{
		margin-left:0;
	}
	.steps-wrapper3 .head-content-bl-form,
	.steps-wrapper4 .head-content-bl-form{
		margin-bottom: 40px;
    	padding-bottom: 0;
	}
	.cover-info {
	    margin: 40px 0 0 0;
	}
	.circle-cover-info{
	    width: 152px;
    	height: 152px;
	}
	.circle-cover-info h2{
		font-size: 27px;
		padding: 30px 0 0 0;
	}
	.circle-cover-info h2 span{
		font-size:inherit;
		font-size:40px;
		margin-left:2px;
	}
	.pack-close{
		position: absolute;
	    top: 16px;
	    right: 10px;
	    z-index: 2;
	}
	.circle-cover-info h3{
		font-size:12px;
		font-weight:normal;
		margin:2px 0 0 0;
	}
	.change-button-wrapper {
	    margin-top: 10px;
	}
	.change-button-wrapper a{
		display:inline-block;
		margin:0 0 0 0;
	    vertical-align: 15px;
	    padding: 9px 0 10px 0;
	}
	.confirmation-change-button-wrapper .change-button{
		width: 107px;
	    font-size: 14px;
	    vertical-align: 15px;
	    padding: 9px 0 10px 0;
	    margin-left: 55px;
	}
	.steps-wrapper3 .total-prem{
		margin:0 0 0 0;
	}
	.details-pack h4 span, .total-prem h4 span {
	    font-size: 18px;
	}
	.cover-info .change-button {
	    margin-left: 0;
	}
	.details-form{
		position:static;
	    width: 510px;
		margin:0 auto;
	}
	.details h1{
		font-size: 30px;
		font-weight: 400;
	}
	.details h3{
		margin: 24px 0 19px 0;
		font-size: 14px;
	}
	.state-select {
	    width: 108px;
	    float: left;
	    margin-left: 16px;
	}
	.referral-select{
		width:250px;
	}
	.buyWrapper{
		padding-bottom:0;
	}
	.details-form input,.details-form select{
		margin:7px 0 0 0;
		font-size: 13px;
		padding:7px 10px 7px 9px;
	}
	.details-form > input{
		width:calc(100% - 21px);
		max-width:215px;
		margin-left:auto;
		margin-right:auto;
	}
	.details-form .datepicker-input-item input{
		width:73px;
		margin:7px 0 0 0;
		font-size: 13px;
		padding:7px 10px 7px 9px;
	}
	.intl-tel-input.allow-dropdown input, .intl-tel-input.allow-dropdown input[type=text] {
	    padding-left: 46px;
	}
	input.adult-phone {
	    width: calc(100% - 58px);
	}
	.intl-tel-input .country-list .country-name, .intl-tel-input .country-list .country .dial-code{
		font-size:13px;
	}
	.details-form .jq-selectbox__select-text{
		font-size:13px;
	}
	.details-form .form-select{
	    margin: 0px 0 0 0 !important;
	    width: 95%;
	}
	.details-form .jq-selectbox .jq-selectbox__dropdown {
	    width: 101% !important;
	}
	.details-form .jq-selectbox li{
		font-size:13px;
		padding-left:9px;
	}
	.details-form .jq-selectbox__select {
	    padding: 6px 0px 8px 9px !important;
	}
	.jq-selectbox__trigger {
	    top: 8px;
	}
	.personal-details {
	    margin: 135px 0 0 0;
	    padding-top: 0;
	    border-bottom: none;
	}
	.steps-wrapper3 .steps-content{
		margin-bottom:0;
	}
	.save-details-for-future-p{
		margin:25px 0 0 0;
		font-size: 13px;
	}
	.save-details-for-future-p input {
	    margin-right: 5px;
	    vertical-align: -2px;
	}
	.payment-details{
	    margin-top: 35px;	
	}
	.payment-details h3{
		margin:16px 0 10px 0;
	}
	.medical-conditions-wrapper {
	    margin: 39px 0 0 0;
	}
	.medical-conditions-wrapper h1{
		font-size:30px;
	    font-family: 'Melbourne Reg';
	}
	.payment-details p{
		color: #535353;
		font-family: Roboto;
		font-size: 13px;
		font-weight: 400;
		margin-bottom:10px;
	}
	.payment-inp-group{
		width: 284px;
		margin:0 auto 0 auto;
	}
	.payment-inp-group input{
		width:calc(50% - 21px)
	}
	.jq-selectbox li:first-child {
	    padding-top: 7px;
	}
	.jq-selectbox li{
		padding: 4px 10px 6px 16px;
	}
	.card-type-select ul {
	    height: 87px;
	    width: calc(100% - 0px);
	}
	.jq-selectbox__trigger{
		right:-4px;
	}
	.complete-card-wrapper{
		margin-top:25px;
	}
	.complete-card-wrapper button {
	    width: 132px;
	    padding: 9px 0 10px 0;
	    font-size: 16px;
	}
	.personal-details {
	    padding: 10px 0 35px 0;
	    margin: 0 0 0 0;
	}
	.confirmation-info{
		width:220px;
		position:static;
		padding-bottom:60px;
	}
	.confirmation-info > div{
		float:none;
	}
	.confirmation-countries{
		width:auto;
	}
	.confirmation-info-left .details{
		margin-top:14px;
	}
	.confirmation-info-right{
		margin:3px 0 0 0;
	}
	.steps-wrapper4 .personal-details{
		margin-left:auto;
		margin-right:auto;
	    margin-top: 10px;
		padding-bottom:0;
	}
	.details-confirm-columns > div{
		margin-left:0;
		float:left;
		width: 33%;
		min-width: 170px;
		max-width: 200px;
	}
	.details-confirm-columns .details-confirm-column{
	    width: 100%;	
	}
	.details-confirm-column h4{
		margin:0;
	}
	.details-confirm-column h4,.details-confirm-column p{
		font-size: 13px;
	}
	.details-confirm-column p{
		margin:4px 0 0 0;
	}
	.pay-complete-wrapper{
		margin-top:27px;
	}
	.pay-complete-wrapper button{
		width:212px;
	    padding: 13px 0 14px 0;
	    font-size: 14px;
	}
	.steps-wrapper4 .steps-content{
		margin-bottom:45px;
	}
	.details-confirm-columns{
	    width: 90%;
    	margin-left: auto;
    	margin-right:auto;
        -ms-flex-pack: distribute;
            -webkit-box-pack: justify;
                justify-content: space-between;
    	display: -webkit-box;
    	display: -ms-flexbox;
    	display: flex;
	    position: relative;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	    left: 4%;
	}
	.column > div {
	    margin-top: 0;
	}
	.steps-wrapper5{
	    background: url(../img/tablets-mob-bg.png) no-repeat 50% 80px;
	    background-size: 100% 150px;
	    position: relative;
	}
	.thanks-wrapper{
		margin:0;
	    padding: 60px 0 30px 0;
	}
	.thanks-logo {
	    height: 132px;
	    background: url(../img/logo-tablet-thanks.png) no-repeat 50% 0;
	}
	.thanks-content.steps-content{
		margin:0;
	}
	.thanks-text{
		margin:40px 0 0 0;
	}
	.thanks-text h1{
		color: #05587b;
	    font-size: 48px;
		font-weight: 700;
	}
	.thanks-text p{
		width: 80%;
		font-size: 14px;
		font-weight: 300;
	    margin: 22px auto 0 auto;
	}
	/*ORDERS*/
	
	.orders-table .orders-table-container{
		width:auto;
	}
	.orders-table .orders-table-container td,
	.orders-table .orders-table-container th{
		padding-left:0 !important;
		padding-right:0 !important;
		font-size:12px !important;
		text-align:center !important;
	}
	.orders-table .orders-table .orders-table-container{
		width:auto;
	}
	.orders-table .orders-table-container tr td:nth-child(1),
	.orders-table .orders-table-container tr th:nth-child(1){
		width:10%;
	}
	.orders-table .orders-table-container tr td:nth-child(2),
	.orders-table .orders-table-container tr th:nth-child(2){
		width:10%;
	}
	.orders-table .orders-table-container tr td:nth-child(1),
	.orders-table .orders-table-container tr td:nth-child(2){

	}
	.orders-table .orders-table-container tr td:nth-child(3),
	.orders-table .orders-table-container tr th:nth-child(3){
		width:6%;
	}
	.orders-table .orders-table-container tr td:nth-child(7),
	.orders-table .orders-table-container tr th:nth-child(7){
		width:6%;
	}
	.orders-table .orders-table-container tr td:nth-child(7){
		color:transparent;
	    background-position: 50%;
	}
	.orders-table .orders-table-container tbody tr td:nth-child(7):hover{
		color:transparent;	
	}

	.orders-table .orders-table-container tr td:nth-child(4),
	.orders-table .orders-table-container tr th:nth-child(4){
		width:19%;
	}

	.orders-table-container tr td:nth-child(5),
	.orders-table-container tr th:nth-child(5){
		width:22%;
	}
	.orders-table-container tr td:nth-child(6),
	.orders-table-container tr th:nth-child(6){
		width:17%;
	}

	.orders-wrapper .search-panel{
	
    	margin-right: 1.5%;
    	margin-top: 15px;
	    width:397px;
	}
	.orders-wrapper .panel-pickers{
	    width:350px;
	}
	.orders-wrapper .search-panel label{
		font-size:13px;
	}
	.orders-wrapper .search-panel input{
	    padding: 10px 15px 11px 15px;
	    font-size:13px;	
	    margin-top:6px;
	}
	.panel-pickers .datepicker-input-item input{
		margin-top:8px;
	}
	.orders-panel {
	    margin-top: 25px;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	    -webkit-box-pack: center;
	        -ms-flex-pack: center;
	            justify-content: center;
	}
	.orders-wrapper .panel-pickers{
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
	    margin-top: 15px;
	}
	.panel-pickers .datepicker-input-item:last-child{
		margin-left:0 !important;
	}
	.filter-panel{
		width:100%;
	    padding-top: 20px;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
    	-ms-flex-pack: distribute;
    	    justify-content: space-around;
	}
	.orders-wrapper .filter-widget {
	    width: 68%;
	    margin: 0 0 0 1%;
	}
	.orders-wrapper .filter-buttons{
		width:211px;
	    position: relative;
    	top: 8px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
	    -webkit-box-align: center;
	        -ms-flex-align: center;
	            align-items: center;
	    -webkit-box-pack: center;
	        -ms-flex-pack: center;
	            justify-content: center;
	}
	.orders-wrapper .filter-widget label{
		font-size:13px;
	}
	.orders-wrapper .filter-slider{
		height:7px;
	}
	.orders-wrapper .filter-slider .ui-slider-handle {
	    width: 9px;
	    height: 19px;
	    top: -7px;
	}
	.orders-wrapper .handler{
		font-size:13px;
		top:20px;
	}
	/*EDIT PERSONAL DATA*/

	.form-content,.form-cont{
		width:auto;
	}
	.form-content{
		margin:30px auto 50px auto;
		width:578px;
	}
	.pages-header{
		font-size: 38px;
	}
	.form-block{
		padding:15px 0 25px 0;
	}
	.form-column{
		float:left;
		margin-left:0;
		padding-left:0;
		width:50%;
	}
	.form-column div input:not(.hasDatepicker),.form-column select,.medical-form-part input[type='text']{
		/*width: calc(100% - 17px);*/
	    margin-left: auto;
	    margin-right: auto;
	    margin: 4px 0 0 0;
	    font-size: 13px;
	    padding: 10px 10px 11px 9px;
	}

	.form-column .datepicker-input-item input{
	    font-size: 13px;
	    padding: 10px 10px 11px 9px;	
	    margin: 4px 0 0 0;
	    width:97px;
	    font-weight: normal;
	}
	.inp-group > div{
		float:left;
	}
	.inp-group > div:last-child{
		margin-left:8px;
	}
	.name {
	    width: 96px;
	}
	.surname{
		width:130px;
	}
	.input-item {
	    margin-top: 7px;
	}
	.input-item label{
		margin-bottom:0;
		font-size: 13px;
	}
	.datepicker-input-item .ui-datepicker-trigger {
	    display: inline-block;
	    width: 43px;
    	height: 38px;
	    background: #f7f7f7 url(../img/tablets-picker.png) no-repeat 50% 50%;
	    left:5px;
	}
	.form-cont .jq-selectbox{
		width: calc(100% - 15px);
		z-index: 95 !important
	}
	.form-column h2 {
	    font-family: 'Roboto';
	    font-size: 14px;
	    color: #585d60;
	    font-weight: 500;
	    padding: 0 0 5px 0;
	}
	.form-cont {
	    margin: 20px auto 0 auto;
	}
	.bigger-bottom-offset .jq-selectbox{
		width:274px;
	}
	.form-cont .jq-selectbox__select{
	    padding: 10px 10px 11px 9px;	
	}
	.form-cont .jq-selectbox__select-text{
		font-size:13px;
		font-weight:bold;
	}
	.form-cont .jq-selectbox__dropdown{
		width: calc(100% - -2px) !important;
		left:0;
	}
	.form-cont .jq-selectbox li{
		font-size:13px;
		padding-left:9px;
	}
	.form-block .form-select{
		margin-top:4px !important;

	}
	.radio-group {
	    margin: 8px 0 5px 0;
	}
	.medical-form-part.block-input-item input[type='text']{
		width: calc(100% - 21px) !important;
	}
	.update-container {
	    margin-top: 36px;
	}
	.update-container button{
		width: 129px;
	    padding: 8px 0 9px 0;
	    font-size: 14px;
	}
	.bigger-bottom-offset label{
		margin-bottom:8px;
		width: 275px;
	}
	.medical-form-part input[type='text']::-webkit-input-placeholder{
		font-size: 13px;
	}
	.medical-form-part input[type='text']::-ms-input-placeholder{
		font-size: 13px;
	}
	.subscribe {
	    vertical-align: -2px;
	}
	.disabled-select{
		width: 255px;
	    margin-top: 12px;
	    position: relative;
	    z-index: 100;
	    padding: 10px 10px 11px 9px;
	    font-size: 13px;
	    background: #ebebeb url(../img/arr-disabled.png) no-repeat 96.7% 8px;
	}

	/*POPUP WRAPPER*/

	.popup{
		width:252px;
   	    padding: 37px 23px 49px 18px;
   	    height:418px;
   	    max-height:auto;
   	    min-height:auto;
	}
	.tab-form {
	    margin-top: 22px;
	    width: 232px;
	    margin-left: auto;
	    margin-right: auto;
	}
	.popup .p-logo {
    	height: 42px;
	    background: url(../img/popup-logo-mob.png) no-repeat 50% 0;
	}
	.p-content {
	    margin: 15px 0 0 0;
	}
	.p-content-btns a{
		font-size:13px;
		padding-bottom: 7px;
	}
	.p-tabs{
		margin:19px 0 0 0;
	}
	.tab-header h2{
		font-size: 21px;
		font-weight: 400;
	}
	.tab-header p{
		font-size: 13px;
	}
	.p-inputs{
		font-size: 13px;
		padding:7px 10px 7px 9px;
		width:calc(100% - 19px);
		margin:6px 0 0 0 !important;
	}
	.p-inputs::-webkit-input-placeholder{
		font-size:13px !important;
	}
	.p-inputs::-ms-input-placeholder{
		font-size:13px !important;
	}
	.p-cbox-label{
		font-size:13px;
		margin:14px 0 0 0;
	    text-align: center;
	}
	.p-cbox-label span{
		position:relative;
		top:-2px;
	}
	.p-sign-submit{
		margin:43px 0 0 0;
	}
	.p-join-submit{
		margin-top:15px;
	}
	.p-submit{
		width:235px;
		padding:9px 0;
	}
	.forgot{
		position:static;
		text-align: center;
		font-size:13px;
		margin:23px 0 0 0;
		width:auto;
	}
	.tab-form .jq-selectbox{
		width:224px;
		padding: 7px 0px 7px 9px;
	    margin-top: 6px !important;
	}
	.tab-form .jq-selectbox__select-text{
		font-size:13px;
	}
	.tab-form .jq-selectbox__select{
		padding:0;
	}
	.tab-form .jq-selectbox__trigger{
		top:0;
	}
	.tab-form .jq-selectbox__dropdown{
		left:0;
		margin:5px 0 0 -1px;
		width:235px;
	}
	.tab-form .jq-selectbox li{
		padding-left:9px;
		font-size:13px;
	}
	.by-pressing{
		font-size:11px;
		margin-top:13px;
	}
	.close-popup-mob{
		width:23px;
		height:21px;
		position:absolute;
		right:9px;
		top:14px;
		background: url(../img/popup-mob-close.png) no-repeat 0 0;
	}
	.close-popup-mob:active{
		background: url(../img/popup-mob-close-active.png) no-repeat 0 0;
	}

	.head-content-bl-container label a, .qstn-sign a{
		width:15px;
		height:15px;
		background-size:contain;
	}
	.benefits-top-p {
		width: auto;
	    margin: 15px auto 15px auto;
	    font-family: 'Roboto';
	    font-size: 14px;
		color: #676a6c;
	    font-weight: 400;
	    text-align: center;
	}
	.content-bl {
	    padding: 0;
	    margin:0 auto;
	    max-width: 767px;
	}
	.benefits-bl .column:first-of-type img{
		width:68px;
	}
	.benefits-bl .column:nth-of-type(2) img{
		width:64px;
	}
	.benefits-bl .column:nth-of-type(3) img{
		width:72px;
	}
	.benefits-bl .column:last-of-type img{
		width:82px;
	}
	.single-trip-disclosure{
		color: #acadad;
	    font-family: 'Roboto';
	    font-weight: 400;
	    width: 95%;
		max-width: 767px;
	    margin: 25px auto 32px auto;
	}
	.chubb-insurance-textblock p, .single-trip-disclosure p{
		text-align:center;
		font-family: 'Roboto';
		font-size: 11px;
		color: #676a6c;
		font-weight: 300;
	}
	.chubb-insurance-textblock p a, .single-trip-disclosure p a{
		color: #02abd6;
		font-weight: 400;
	}
	.content-wrapper {
	    padding: 0;
	    margin-bottom: 25px;
	    margin-top: 29px;
	}

	.chubb-insurance-textblock {
	    width: 95%;
		max-width: 767px;
	    padding: 27px 0 40px 0;
	}
	p.police-number{
		color: #e1164b;
	    font-family: 'Melbourne Reg';
		font-size: 20px;
		font-weight: 700;
	    margin: 8px auto 5px auto;
	}
	.thanks-download-pdf-btn{
		font-size:13px;
		background: url(../img/download.png) no-repeat 0 0px;
	    margin: 7px 0 0 0;
	    padding: 2px 0 1px 20px;
	}
	.thanks-info p.detail-descr {
	    font-family: 'Roboto';
	    font-size: 13px;
	    color: #676a6c;
	    font-weight: 300;
	}
	.who-else-block {
	    position:static;
	    margin: 33px auto 0 auto;
	}
	.back-btn-container {
	    margin: 0 0 20px 0;
	}
	.benefits-container{
		width:auto;
	}
	.benefits-container .benefits-toggle{
		font-size: 30px;
	}
	.closed-benefits::before {
	    content: '';
	    width: 78px;
	    height: 32px;
	    display: inline-block;
	    background: url(../img/cl-ben-sprite.png) no-repeat 0 0;
	    position: absolute;
	    left: calc(50% - 47px);
	    top: 44px;
	    background-size: 100% 63px;
	}
	.benefits-toggle.closed-benefits:hover::before{
		background: url(../img/cl-ben-sprite.png) no-repeat 0 -31px;
		background-size: 100% 63px;
	}
	.benefits-toggle::after {
	    content: '';
	    display: inline-block;
	    width: 42px;
	    height: 16px;
	    background: url(../img/arrow-sprite.png) no-repeat 0 -23px;
	    background-size: 30px;
	    position: relative;
	    left: 13px;
	    bottom: 1px;
	}
	.benefits-toggle.closed-benefits::after {
	    background: url(../img/arrow-sprite.png) no-repeat 0 0;
    	background-size: 30px;
	}
	.benefits-toggle.closed-benefits:hover::after{
		background: url(../img/arrow-sprite.png) no-repeat 0 -32px;
		background-size: 30px;
	}
	.benefits-toggle.opened-benefits:hover::after{
		background: url(../img/arrow-sprite.png) no-repeat 0 -32px;
		background-size: 30px;
	}
	.benefits-toggle.opened-benefits::after{
		background: url(../img/arrow-sprite.png) no-repeat 0 -16px;
		background-size: 30px;
	}

	.benefits-table thead tr td p.ben-name {
	    color: #05587b;
	    font-family: 'Roboto';
	    font-size: 16px;
	    font-weight: 700;
	}
	.benefits-table thead tr td {
	    line-height: initial;
	    padding: 0 0 12px 0;
	}
	.benefits-table tbody p {
	    font-size: 14px;
	}
	.benefits-table thead tr td p.ben-price {
	    font-size: 21px;
    	margin: 7px 0 0 0;
	}
	.benefits-table tbody th p::after {
	    width: 20px;
	    height: 21px;
	    top: 5px;
	    left: 6px;
	    background-size: contain;
	}
	.benefits-table tbody tr td {
	    font-size: 14px;
	    padding: 20px 0;
	}
	.benefits-table th {
	    padding: 20px 0;
	}
	.benefits-container {
	    width: auto;
	    margin: 40px auto 25px auto;;
	}
	.option-packets-wrapper {
	    margin: 40px 0 0 0;
	}
	.option-packets-content > h1 {
	    font-size: 30px;
	}
	.option-packets-content > h4 {
	    margin: 19px auto 0 auto;
	    font-size: 14px;
	}
	.option-packets {
	    margin: 20px 0 0 0;
	}
	.option-packets .details-pack{
		margin: 10px 0 0 11px !important;
		float:left;
	}
	.packs-name {
	    color: #05587b;
	    font-family: Roboto;
	    font-size: 13px;
	    font-weight: 700;
	    position:relative;
	}
	.steps-wrapper3 .confirmation-info .confirmation-info-left,
	.steps-wrapper4 .confirmation-info .confirmation-info-left{
		width: 335px !important;
	    float: none;
	    margin-left: auto;
	    margin-right: auto;
	}
	.steps-wrapper3 .confirmation-info-right,
	.steps-wrapper4 .confirmation-info-right{
		width:191px !important;
		margin-left:28px !important;
	}
	.steps-wrapper3 .confirmation-info-packs,
	.steps-wrapper4 .confirmation-info-packs{
		margin-left:33px;
	}
	.steps-wrapper3 .confirmation-info-packs h1,
	.steps-wrapper4 .confirmation-info-packs h1{
		text-align:left;
	}
	.steps-wrapper3 .details-pack,
	.steps-wrapper4 .details-pack{
		padding:4px 10px 4px 15px;
	}
	.steps-wrapper3 .confirmation-info-wrapper,
	.steps-wrapper4 .confirmation-info-wrapper{
		float:none;
		width:100%;
	}
	.steps-wrapper3 .confirmation-info .confirmation-info-left .confirmation-countries > h1{
		text-align: center;
		margin-left:auto;
		float:none;
	}
	.steps-wrapper3 .confirmation-info .confirmation-info-left > div{
		float:none !important;
	}
	.steps-wrapper4 .circle-cover-info,.steps-wrapper3 .circle-cover-info{
		margin:0 auto 0 auto;
	}
	.steps-wrapper4 .confirmation-info-packs,.steps-wrapper3 .confirmation-info-packs{
	    margin-top: 24px;
	}
	.steps-wrapper3 .confirmation-info .confirmation-info-left .confirmation-countries .details-plan-block,
	.steps-wrapper4 .confirmation-info .confirmation-info-left .confirmation-countries .details-plan-block{
		float:left;
	}
	/*.steps-wrapper3 .confirmation-info .confirmation-info-left .confirmation-countries .confirmation-countries-block{
	    margin-left: 72px;
		float:none;
	}*/
	.steps-wrapper4 .circle-cover-info{
		margin-top:0 !important;
	}
	.steps-wrapper4 .confirmation-info-packs{
	    margin-top: 20px;
	}
	.confirmation-cover h3{
	    margin: 15px 0 1px 0;
	    font-size: 14px;
	    text-align: left;
	}
	.steps-wrapper4 .packs-name{
		text-align:left;
		margin-right:5px;
	}
	.details-pack h4, .total-prem h4 {
	    font-size: 30px;
	    margin: 2px 0 0 0;
	}
	.option-packets .details-pack {
	    padding: 4px 10px 4px 10px;
        background: #f7f7f7 url(../img/add-packet.png) no-repeat 95% 14px;
		background-size: 20px 20px;
	    min-height: 51px;
		width: calc(100% / 4 - 35px);
	}
	.details-pack h4{
		position: relative;
    	top: 0px;
    	font-size:21px;
	}
	.option-packets .details-pack.added-details-pack {
	    background: #e1164b url(../img/checked-plan-quote.png) no-repeat 95% 20px;
	}
	.confirmation-info-wrapper{
		width:auto;
	}
	.confirmation-info-wrapper.step2-confirmation-info-wrap {
	    margin: 40px auto 0 auto;
	}
	.uhaveselected {
	    font-size: 30px;
	    margin: 0 0 20px 0;
	}
	.confirmation-info .details h2 {
	    font-size: 27px !important;
	    font-weight: 700;
	    margin: 7px 0 7px 0;
	}
	.confirmation-info .details .trip-type-p {
	    font-size: 13px;
	}
	.confirmation-countries-block .selected-country{
		font-size:13px;
	}
	.selected-country:not(.not-x-close)::after{
		font-size:15px;
	}
	.confirmation-info .details h1 {
	    font-size: 22px;
	}
	.confirmation-countries-block {
	    margin-top: 15px;
	}
	.confirmation-date-block span {
	    font-size: 13px;
	}
	.details.confirmation-cover .details-pack{
		width:157px;
	}
	.confirmation-arr {
	    height: 14px;
	    margin: 0 12px 0 12px;
	}
	.confirmation-info{
		display: -ms-flexbox;
		display: -webkit-box;
		display: flex;
	    -ms-flex-flow: column wrap;
	        flex-flow: column wrap;
	    -ms-flex-align: center;
	        -webkit-box-align: center;
	            align-items: center;
	}
	.step2-confirmation-info-wrap .confirmation-info-right{
		margin-left:0 !important;
	}
	.confirmation-info-packs {
	    margin-left: 0;
	}
	.confirmation-info-wrapper .confirmation-info > div{
		float:left;
	}
	.confirmation-info-wrapper .confirmation-info > div:first-of-type{
		width:29%;
	    width: 150px;
	}
	.confirmation-info-wrapper .confirmation-info > div:nth-of-type(2){
		width:38%;
	}
	.steps-wrapper2 .confirmation-info-left{
	    margin-left: 3%;
	}
	.steps-wrapper2 .confirmation-info-right{
		position: relative;
		width:48% !important;
    	left: 2%;
	}
	.confirmation-info-wrapper .confirmation-info > div:last-of-type{
		width:33%;
		width:185px;
	}
	.step2-confirmation-info-wrap .confirmation-info-packs{
		margin-left:0;
	} 
	.confirmation-info-wrapper .confirmation-countries{
		width:100%;
	}
	.total-prem {
	    display: inline-block;
	    position: static;
	    top: 0;
	    right: 0;
	    margin-bottom: 25px;
	}
	.total-prem h4 {
	    text-align: center;
	    margin: 3px 0 0 0;
	    font-size: 27px;
	}
	.change-button-wrapper{
		display: block;
		text-align: center;
	}
	.buyNow{
		margin-left:34px !important;
		width: 142px;
	    font-size: 14px;
	    padding: 13px 0;
		vertical-align: 15px;
	}
	.steps-wrapper3 .confirmation-info-wrapper{
		left:0;
	}
	.confirmation-info-wrapper .confirmation-info{
		width:auto;
		padding:0 10px 35px 10px;
	    max-width: 700px;
	}
	.confirmation-info-wrapper .confirmation-info-right{
		margin-left:0;
	}
	.confirmation-info-wrapper {
	    width: auto;
	    margin: 17px auto 0 auto;
	    border-bottom:none;
	}
	.details-pack{
		margin-top:10px;
	}
	.step3-inp-wrapper.input-item input{
		font-size: 13px;
	    padding: 7px 7px 7px 6px;
	    margin: 4px 0 0 0;
	    width: 75px;
	    text-align: center;
		color: #8e8e8e;
		font-family: Roboto;
		font-size: 13px;
	    font-weight: normal;
	}
	.passport{
		width:82px;
	}
	.city{
		width:140px;
	}
	.zip-code {
	    width: 86px;
	}
	.form-block .block-input-item input[type='text'] {
	    width: calc(100% - 34px);
	}
	.flag-disabled {
	    width: 40px;
	    height: 31px;
	}
	.form-block .jq-selectbox__trigger-arrow{
		top:0;
	}
	.intl-tel-input .selected-flag .iti-flag{
		left:5px;
	}
	.intl-tel-input .selected-flag .iti-arrow{
		right:8px;
	}
	.intl-tel-input.allow-dropdown .selected-flag, .intl-tel-input.separate-dial-code .selected-flag {
	    width: 37px;
	}
	.flag-disabled .iti-flag {
	    left: 6px;
	    position: absolute;
	    top: 11px;
	}
	.step3-inp-wrapper-middle{
		width:189px;
	}
	.step3-inp-wrapper-small{
		width: 96px;
	}
	.step3-inp-wrapper-big {
	    width: 240px;
	}
	.step3-inp-wrapper-verybig {
	    width: 284px;
	}
	.step3-inp-wrapper-lessmedium{
		width: 114px;
	}
	.step3-inp-wrapper{
		padding-top: 9px;
	}
	.details-form input, .details-form select,.step3-inp-wrapper.input-item input{
		margin:0;
	}
	.medical-conditions-wrapper > p {
	    font-size: 13px;
	    margin: 20px 0 0 0;
	}
	.medical-conditions-wrapper label:first-of-type{
		text-align:center;
	}
	.medical-conditions-wrapper label {
	    text-align: left;
	    font-size: 13px;
	    margin: 17px auto 0 auto;
	    width: 226px;
	}
	.payment-container{
		margin:23px 0 0 0;
	}
	.medical-conditions {
		text-align:left;
		padding: 25px 30px 25px 24px;
		margin: 30px 0 15px 0;
	}
	.payment-container > div {
	    margin-top: 7px;
	}
	.medical-conditions-text-block p.med-cond-bold {
	    font-size: 14px;
	}
	.medical-conditions-text-block p {
	    font-size: 12px;
	}
	.medical-conditions-text-block ul{
		padding:0;
		font-size:12px;
	}
	.medical-conditions-text-block ul span{
		padding-left:10px;
	}
	.medical-conditions-wrapper label input {
	    vertical-align: -2px;
	    cursor: pointer;
	}
	.payment-details input {
	    width: calc(100% - 21px);
	}
	.statistic-table {
	    margin: 35px 0 0 0;
	}
	.statistic-table .statistic-table-container td, .statistic-table .statistic-table-container th {
	    font-size: 13px;
	    padding-left:0;
	    padding-right:0;
	}
	.statistic-table .statistic-table-container tr th:first-child{
		width:16%;
	}
	.statistic-table .statistic-table-container tr th:nth-child(2){
		width:20%;
	}
	.statistic-table .statistic-table-container tr th:nth-child(3){
		width:20%;
	}
	.statistic-table .statistic-table-container tr th:nth-child(4){
		width:22%;
	}
	.statistic-table .statistic-table-container tr th:nth-child(5){
		width:22%;
	}
	.total-table{
		width:100%;
	}
	.total-table tr td{
		font-size: 14px;
	}
	.total-table tr td:first-child{
		width:16%;
		padding-left:1%;
		text-align:left;
	}
	.total-table tr td:nth-child(2){
		width:20%;
	}
	.total-table tr td:nth-child(3){
		width:20%;
	}
	.total-table tr td:nth-child(4){
		width:22%;
	}
	.total-table tr td:nth-child(5){
		width:22%;
	}
	.total-table tr td:nth-child(6){
		width:312px;
	}
	.statistic-table .statistic-table-container{
		width:100%;
	}
	.statistic-panel{
	    width: 80%;
	    min-width: 460px;
	    max-width: 520px;
		-webkit-box-align: end;
		    -ms-flex-align: end;
		        align-items: flex-end;
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
	}
	.filter-buttons {
	    margin: 16px 0 0 29px;
	}
	.panel-pickers .datepicker-input-item input {
	    width: 96px;
	    padding: 10px 10px 11px 10px;
	    font-size: 13px;
	}
	.panel-pickers .datepicker-input-item:last-child {
	    margin-left: 20px;
	}
	.statistic-panel .panel-pickers .datepicker-input-item:first-child {
	    margin-right: 20px !important;
	}
	.filter-buttons{
		margin-left:15px;
	}
	.filter-button{
		padding: 10px 0;
    	width: 98px;
    	font-size:13px;
	}
	.total-table{
		margin:33px 0 0 0;
		padding-bottom:5px;
		border-bottom:1px solid #dadada;
	}
	.total-table tr td{
		color: #5a5a5a;
		font-family: 'Roboto';
		font-size: 13px;
		font-weight: 700;
		width:100px;
		text-align:center;
	}
	.statistic-graphic{
		display:none;
	}
	.graphic-widget-button{
		margin-left: 10px;
	    width: 85px;
	    font-size:10px;
	    text-align: center;
	    padding: 7px 0 8px 0;
	}
	.graphic-widget{
		display:block;
		margin-top:30px;
	}
	/*CUSTOMERS*/

	.table-content{
		width: auto;
		margin: 47px auto 50px auto;
	}
	.customers-panel .search-panel{
    	margin-right: 1.5%;
    	margin-top: 15px;
        width: 300px;
	}
	.customers-panel .panel-pickers{
	    min-width:350px;
	}
	.customers-panel .search-panel label{
		font-size:13px;
	}
	.customers-panel .search-panel input{
	    padding: 10px 15px 11px 15px;
	    font-size:13px;	
	    margin-top:6px;
	}
	.customers-panel .filter-buttons{
		margin-top:26px;
	}
	.panel-pickers .datepicker-input-item input{
		margin-top:8px;
	}
	.customers-panel {
	    margin-top: 25px;
	    max-width: 672px;
		margin: 25px auto 0 auto;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	    -webkit-box-pack: center;
	        -ms-flex-pack: center;
	            justify-content: center;
	}
	.customers-panel .panel-pickers{
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
	    margin-top: 15px;
	}
	.panel-pickers .datepicker-input-item:last-child{
		margin-left:0 !important;
	}
	
	.customers-table .customers-table-container{
		width:100%;
	}
	.customers-table .customers-table-container td, .customers-table .customers-table-container th{
		padding-left:0;
		padding-right:0;
		font-size:12px;
		text-align:center !important;
	}
	.customers-table-container tr td:nth-child(1), 
	.customers-table .customers-table-container tr th:nth-child(1){
		width:12%;
	}
	.customers-table-container tr td:nth-child(2), 
	.customers-table .customers-table-container tr th:nth-child(2){
		width:15%;	
	}
	.customers-table-container tr td:nth-child(3), 
	.customers-table .customers-table-container tr th:nth-child(3){
		width:13%;	
	}
	.customers-table-container tr td:nth-child(4), 
	.customers-table .customers-table-container tr th:nth-child(4){
		width:10%;		
	}
	.customers-table-container tr td:nth-child(5), 
	.customers-table .customers-table-container tr th:nth-child(5){
		width:22%;
	}
	.customers-table-container tr td:nth-child(6), 
	.customers-table .customers-table-container tr th:nth-child(6){
		width:10%;
	}
	.customers-table-container tr td:nth-child(7), 
	.customers-table .customers-table-container tr th:nth-child(7){
		width:24%;
	}
	/*customers end*/

    /*   ITEORA PAGE INFO*/
	
	.iteora-page-information{
		padding:0 15px;
	    margin: 35px auto 20px auto;
	}
	.iteora-page-information,.iteora-page-information table{
		width:auto !important;
		text-align: center;
	}
	.iteora-page-information ul{
		padding:0;
	}
	.iteora-page-information p{
		line-height:27px;
	}
	.iteora-page-information h2 {
	    font-size: 32px;
	    margin: 15px 0 20px 0;
	}
	.iteora-page-information > ul li p {
	    font-size: 15px;
	}
	.iteora-page-information > p {
	    font-size: 15px;
	    margin: 15px 0 0 0;
	}
	.iteora-page-information a {
	    font-size: 15px;
	}
	.iteora-page-information table td p {
	    font-size: 14px;
	}
	.iteora-page-information table td p strong {
	    font-size: 15px;
	}
	.iteora-page-information table tr td{
		width:50%;
	}
    /*ITEORA INFO END*/
	
	/* WHITE LABELs*/

	.white-labels-wrapper{
		width:auto;
	    padding: 40px 0 40px 0;
	}
	.white-labels-container {
	    margin-top: 25px;
	}
	.white-labels-container input{
	    margin-left: auto;
	    margin-right: auto;
	    margin: 4px 0 0 0;
	    font-size: 13px !important;
	    padding: 10px 10px 11px 9px !important;
	    width: calc(100% - 21px) !important;
	    vertical-align: -13% !important;
	}
	.white-labels-container input[type='checkbox']{
		width:auto !important;
		padding:auto !important;
	}
	.group-header h3{
		font-size:14px;
		margin:10px 0 10px 0;
	}
	.group-header{
		width:276px;
		margin:0 auto;
	}
	.group-checkboxes label {
	    font-size: 13px;
	}
	.group-logo-icon-wrapper img {
	    width: 170px;
	}
	.group-logo-wrapper p{
		font-size:10px;
	}
	.logo-icon-close{
		display: inline-block;
	    position: absolute;
	    top: -9px;
	    right: -11px;
	    width: 26px;
	    height: 26px;
	    background: url(../img/wrong-sprite.png) 0 0;
	    position: absolute;
	    cursor: pointer;
	    z-index: 2;
	}
	.logo-icon-close:hover{
	    background: url(../img/wrong-sprite.png) 0 -27px;	
	}
	.group-logo-wrapper h4 {
	    font-size: 13px;
	}
	.white-labels-buttons{
	    padding-top: 35px;
	    width: 276px;
	    margin: 20px auto 0 auto;
	}
	.white-labels-button {
		width: 104px;
	    padding: 10px 0 10px 0;
	    font-size: 13px;
	}
	.white-labels-button:last-child {
	    margin-left: 17px;
	}
	input.group-logo-upload-default {
	    height: 21px;
	    width: 78px !important;
	    position: absolute;
	    top: 57px;
	    left: 88px;
	    opacity: 0;
	}
	.group-logo-upload{
		font-size:13px;
		width:96px;
	}
	/*LABELS END*/


	/*STATISTIC*/

	.pager {
	    margin: 41px 0 65px 0;
	}
	.pager .page a{
		font-size:13px;
	    width: 40px;
	   	margin-left:4px;
	}
	.pager li:not(.page) a {
	    font-size: 14px;
	}
	.pager li.next {
	    margin-left: 4px;
	}
	/*STATISTIC END*/

	/*CONTACT US*/
	
	.contact-wrapper {
	    padding: 35px 0 43px 0;
	}	
	.contact-content {
	    width: 260px;
	    margin: 0 auto;
	}
	.contact-content h2{
		text-align:center;
	    margin: 25px 0 26px 0;
	    font-size: 24px;
	}
	.contact-text .contact-tel {
	    font-size: 18px;
	    display: block;
	    margin-bottom: 10px;
	}
	.contact-text .contact-tel span {
	    color: #e1164b;
	    font-size: 30px;
	}
	.contact-text {
	    padding: 131px 0 0 0;
	}
	.contact-us-butt {
	    width: 132px;
	    padding: 12px 0 12px 0;
	    font-size: 14px;
	}
	.contact-us-butt-wrapper {
	    text-align: center;
	    margin: 25px 0 0 0;
	}
	.contact-text p{
		font-size:13px;
		color: #535353;
	}
	.footer-top{
		padding: 25px 0 35px 0;
	}
	.footer-label{
		font-size: 12px;
	}
	.footer-label::after {
	    width: 32px;
	}
	/*CONTACT US END*/

	.back-button{
		background: url(../img/back-btn-mob.png) no-repeat 0 0;
		width:77px;
		padding:4px 0;
	}
	.back-button:hover{
		background: url(../img/back-btn-mob.png) no-repeat 0 0;
	}
	.plans-group-block {
	    -ms-flex-flow: row nowrap;
	        flex-flow: row nowrap;
	    width:100%;
	    max-width:770px;
	    padding: 0 5px 0 5px;
	    box-sizing: border-box;
	    margin:32px auto 0 auto;
	}
	.plans-group-block > div{
		max-width:none;
	    width: calc(100% / 3)
	}

	.confirmation-info{
		display:-webkit-box;
		display:-ms-flexbox;
		display:block;
		-ms-flex-flow:column nowrap;
		    flex-flow:column nowrap;
	}
	.total-prem p {
	    font-size: 18px;
	}
	.thanks-info {
	    margin: 23px 0 0 0;
	}
	.thanks-info h4{
		font-size:14px;
	}
	.foot-nav li a {
	    font-size: 12px;
	}
	.copyright {
	    font-size: 12px;
	    margin: 8px 0 0 0;
	}
	.socials a{
		width:36px;
		height:36px;
		margin-left:11px;
	}
	.fb{
		background:url(../img/soc-tablet.png) no-repeat 0 0;
	}
	.tw{
		background:url(../img/soc-tablet.png) no-repeat -51px  0;
	}
	.inst{
		background:url(../img/soc-tablet.png) no-repeat -102px 0;
	}
	.goolge{
		background:url(../img/soc-tablet.png) no-repeat -153px 0;
	}
	.footer-bottom{
		padding:26px 28px 31px 24px;
		max-width:950px;
	}
}
@media (min-width: 500px) and (max-width:770px){

	.companies {
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    width: 500px;
	    -webkit-box-pack: center;
	        -ms-flex-pack: center;
	            justify-content: center;
	    height: 124px;
	    -ms-flex-flow:row wrap;
	        flex-flow:row wrap;
	}
	.companies a{
		width: 220px;
	    text-align: center;
	    -webkit-box-pack: center;
	        -ms-flex-pack: center;
	            justify-content: center;
	}
	.footer-label {
	    text-align: center;
	    font-family: 'Roboto';
	    font-size: 16px;
	    margin: 15px 0 20px 0;
	    color: #676a6c;
	}
	.steps-wrapper4 .confirmation-info-wrapper{
		border-bottom:none;
	}
	.sign {
	    padding: 0 10px 0 0;
	}
	.header-right div:last-child {
	    padding-left: 10px;
	}
	.blocks-group > div h2 {
	    font-size: 23px;
	    margin: 0 auto;
	    line-height: 29px;
	}
	.blocks-group .blocks-number {
	    font-size: 24px;
	    margin-top: 10px;
	}
	.blocks-group-bl1 p {
	    width: 130px !important;
	    left: -11%;
	    text-align: left;
	}
	.blocks-group > div p{
		width:89%;
	}
	.group-btn{
		left:5%;
		width:90%
	}

}
@media (min-width: 500px) and (max-width: 600px){
	.plans-group-block{
		margin: 32px 0 0 0;
    	padding: 0 30px 0 28px;
	}
	.plans-group-block > div:first-child {
	    margin-top: 0;
	    margin-left: auto;
	}
	.plans-group-block > div{
		width: auto;
	    padding: 20px 30px 25px 28px;
	    margin-left: auto;
	    margin-top: 27px;
	    margin-right: auto;
	    max-width: 265px !important;
	}
	.plans-group-block {
	    -ms-flex-flow: row nowrap;
	    flex-flow: column nowrap;
	}
	.footer-bottom{
		padding:42px 0 40px 0;
		width:255px;
		margin:0 auto;
		position:relative;
	}
	.footer-bottom-bl-wrap .float-left,.footer-bottom-bl-wrap .float-right{
		float:none;
	}
	.foot-nav{
		color: #05587b;
		font-family: 'Roboto';
		font-size: 12px;
		font-weight: 400;
	}
	.foot-nav li{
		margin-left:20px;
	}
	.copyright{
		color: #545454;
		font-family: 'Roboto';
		font-size: 12px;
		font-weight: 400;
		text-align:center;
		margin:15px auto 0 auto;
		width:229px;
	}
	.socials{
		text-align:center;
		margin-bottom: 30px;
	}
	.socials a:first-child{
		margin-left:0;
	}
	.socials a{
		height:40px;
		width:40px;
		margin-left:12px;
		background-size:cover;
	}
	.tw {
	    background: url(../img/soc.png) no-repeat -57px 0;
	}
	.inst {
	    background: url(../img/soc.png) no-repeat -113px 0;
	}
	.goolge{
		background:url(../img/soc-tablet.png) no-repeat -170px 0;
	}
	.footer-bottom-bl-wrap {
	    max-width: 1400px;
	    margin: 0 auto;
	    display: -ms-flexbox;
	    display: -webkit-box;
	    display: flex ;
	    -ms-flex-align: center;
	        -webkit-box-align: center;
	            align-items: center;
	    -ms-flex-flow: column-reverse wrap;
	        flex-flow: column-reverse wrap;
	}

	.footer-top .footer-label:first-child {
	    margin: 0 0 15px 0;
	}
	.companies{
	    padding: 3px 0 10px 0;
	    height: auto;
	    width: 219px;
	    text-align: center;
	    -ms-flex-flow: column wrap;
	    flex-flow: column wrap;
	}
	.companies > a {
	    text-align: center;
	    position: static;
	    width: 220px;
	    float: none;
	    margin: 13px 0 0 0 !important;
	}
}
@media (min-width: 500px) and (max-width: 583px){
	.details-confirm-columns{
		width: 69%;
	}
	.steps-wrapper3 .head-content-bl-form{
		padding-left:0;
		padding-right:0;
	}

}
@media (min-width: 615px) and (max-width: 720px){
	.steps-wrapper2 .confirmation-info-left {
	    margin-left: 4%;
	}
	.steps-wrapper2 .confirmation-info-right {
	    position: relative;
	    width: 42% !important;
	    left: 1.5%;
	}
	.confirmation-info-wrapper .confirmation-info > div:last-of-type {
	    width: 28%;
	}
	.details.confirmation-cover .details-pack {
	    width: 100%;
	    box-sizing: border-box;
	}
}
@media (min-width: 500px) and (max-width: 614px){
	.confirmation-info-wrapper.step2-confirmation-info-wrap .confirmation-info {
	    width: auto;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	}
	.confirmation-info-wrapper .confirmation-info > div:last-of-type {
	    position: relative;
	    left: 2%;
	}
}
