@media (max-width:499px){
	body{
		width:100%;
		min-width:250px;
	}
	.header{
		padding:13px 15px 0 15px;
		background: none;
		border-bottom:none;
	}
	.head-content-bl{
		width:100%;
	}
	.head-content-bl-form.head-content-bl-main {
	    width: auto;
	    margin: 22px auto 0 auto;
	}
	.head-cont-logo{
		background: url(../img/mobilelogo.png) no-repeat 50% 0;
		top:-15px;
		height: 88px;
	}
	.logout {
	    padding: 0 0 0 0;
	    font-size: 12px;
	    position: relative;
	    top: 10px;
	}
	.adult-block{
		margin-left:0 !important
	}
	.logout a{
		padding-top:0;
		font-size: 12px;
		font-weight: 400;
		color: #676a6c;
		font-weight: 500;
	}
	.head-logo{
		display:none;
	}
	.head-content-bl-main label a{
		margin-top:0;
	}
	.head-content-bl-container label a {
	    margin-left: 6px;
	}
	.main-when {
	    margin-left: 0;
	}
	.head-logo.vis-mob-logo{
		display:block;
	}
	.header.vis-mob-border{
		border-bottom: 1px solid #e4e4e4;
		padding-bottom:10px;
	}
	.head-logo.vis-mob-logo a{
		background: url(../img/mobile-logo-top.png) no-repeat 0 0;
		width:157px;
		height:27px;
		margin-left: 14px;
	    position: relative;
	    top: 4px;
	}
	.contacts{
		display:none;
	}
	.sign{
		clear:both;
		padding:0;
	}
	.sign a{
		padding-top:9px;
		font-size: 12px;
		font-weight: 400;
		color: #a6a6a6;
	}
	.personal {
	    padding: 0 0px 0 0;
	    position: relative;
	}
	.personal-link{
		padding-top:5px;
	}
	.head-content-bl{
		margin:5px auto 0 auto;
	}
	.head-content-bl h1{
		color: #05587b;
		font-size: 24px;
		font-weight: 700;
		line-height: 24px;
	}
	.header-content{
		padding:0 15px 100px 15px;
		background: url(../img/head-bg-mobile.png) no-repeat 0 100%;
		background-size: contain;
		top:0;
	}
	.head-content-bl-form {
		width:225px;
		margin:17px auto 0 auto;
   	 	padding: 0;
	}
	.head-content-bl-form.head-content-bl-main{
		width:226px;
		box-sizing:border-box;
		margin-left:auto;
		margin-right: auto;
	}
	.inp label{
		color: #05587b;
		font-family: 'Roboto';
		font-size: 13px;
		font-weight: 400;
	}
	.where-inp{
		padding:0;
		width:100%;
	}
	.where-div .easy-autocomplete{
		width:100% !important;
	}
	.where-div{
		width:205px;
		margin: 4px auto 0 auto;
	    padding: 1px 5px 4px 10px;
	}
	.where-div input{
		font-size:14px;
		width:80px;
	}
	.head-content-bl-form .where-inp {
    	float: none;
	}
	.inp input:not(#where){
		font-size:14px;
		margin-top: 4px;
	}
	.when-inp{
		margin-top:12px;
	}
	.when-inp input{
		width: 104px !important;
   		padding: 6px 3px 6px 4px;
	}
	.arr-r {
	    display: inline-block;
	    width: 6px;
	    height: 11px;
	    background: url(../img/arr-r-mobile.png) no-repeat 0 0;
	    vertical-align: -2px;
	    position: relative;
	    left: 2px;
	}
	.when-inp input:last-child {
	    margin-left: 4px;
	}
	.age-inp {
	    margin: 12px 0 0 0px;
	}
	.age-inp input{
		padding:5px 0 7px 0;
		width:39px;
	}
	.age-inp input:last-child{
		margin-left:1px;
	}
	.head-content-bl-form .quote-button-wrapper{
		padding-top:25px;
	}
	.quote-button-wrapper .quote-button {
        width: 122px;
        font-size: 16px;
        padding:9px 0;
        height:auto;
	}
	.submit-bl {
	    padding-top: 25px;
	}

	.content-wrapper {
	    padding: 30px 0 0 0;
	}
	.benefits-bl-wrapper {
	    margin-bottom: 40px;
	}
	.benefits-bl-wrapper h1{
		color: #585d60;
		font-size: 24px;
		font-weight: 400;
	}
	.benefits-bl {
	    width: 100%;
	    box-sizing:border-box;
	    margin:0 auto;
	    padding:0;
	}
	.benefits-bl .column{
		margin-top:25px;
	}
	.size-1of4 {
	    width: 50%;
	}
	.benefits-block h3{
		color: #00c7fa;
		font-size: 16px;
		font-weight: 700;
		line-height: 16px;
	    width: 125px;
	    margin: 5px auto 10px auto;
	}
	.benefits-block p{
	    font-family: 'Roboto';
		color: #676a6c;
		font-size: 12px;
	    font-weight: 400;
	}
	.blocks-group {
		width: 262px;
	    margin: 40px auto 0 auto;
	}
	.ben-img-bl {
	    height: 83px;
	}
	.benefits-block h3::after {
	    content: '';
	    display: block;
	    width: 29px;
	    height: 1px;
	    margin: 10px auto 0 auto;
	    background: url(../img/ben-header-border.png) no-repeat 0 0;
	}
	.two-row-header {
	    margin: -5px auto -9px auto !important;
	}
	h3.two-row-header::after {
	    margin: 13px auto 0 auto;
	    position: relative;
	    top: -8px;
	}
	.benefits-block ul li {
	    margin: 10px 0 0 0;
	    font-family: 'Roboto';
		color: #676a6c;
		font-size: 12px;
	    font-weight: 400;
	    text-align: center;
	    width: 88%;
	    margin-left: auto !important;
	    margin-right: auto !important;
	}
	.benefits-block ul,.benefits-block p{
		width:80%;
	}
	.selected-country:not(.not-x-close)::after{
		top:3px;
	}
	.proof-link{
		font-size:12px;
	}
    .blocks-group-bl {
        display: block;
    }
	.blocks-group-bl > div:first-child{
		margin:0 auto;
	}
	.blocks-group-bl > div{
		margin:14px auto 0 auto;
		padding:25px 0 0 0;
		min-width: 249px;
	    float:none;
	    height: 190px;
	}
	.blocks-group-bl .blocks-group-bl1{
		height:218px;
		background-size: 192px 109px;
	}
	.blocks-group > div h2{
		font-size:28px;
		width:165px;
		margin:0 auto;
		line-height: 29px;
	}
	.blocks-group .blocks-number{
		font-size:32px;
		margin-top:10px;
	}
	.blocks-group > div p{
		color: #545454;
		font-family: Roboto;
		font-size: 12px;
		font-weight: 400;
		width: 218px;
		margin:25px auto 0 auto;
	}
	.blocks-group-bl1 p{
		width: 130px !important;
		left:-45px;
	    text-align:left;
	}
	.group-btn{
		width:197px;
		padding:14px 0 13px 0;
		font-size:14px;
		position:static;
		margin:20px 0 0 0;
	}


	.companies{
	    padding: 3px 0 10px 0;
	    height: auto;
	    width: 219px;
	    text-align: center;
	    -ms-flex-flow: column wrap;
	        flex-flow: column wrap;
	}
	.companies > a:first-child{
		margin:0 !important;
	}
	.companies > a{
		text-align:center;
		position:static;
		width:220px;
		float:none;
		margin:13px 0 0 0 !important;
	}
	.companies > a img{
		width:100%;
	}
	.companies::after{
		content:'';
		clear:both;
		display:block;
	}
	.footer-top .footer-label:first-child {
	    margin: 0 0 15px 0;
	}
	.footer-bottom{
		padding:42px 0 40px 0;
		width:255px;
		margin:0 auto;
		position:relative;
	}
	.footer-bottom-bl-wrap .float-left,.footer-bottom-bl-wrap .float-right{
		float:none;
	}
	.foot-nav{
		color: #05587b;
		font-family: 'Roboto';
		font-size: 12px;
		font-weight: 400;
	}
	.foot-nav li{
		margin-left:20px;
	}
	.copyright{
		color: #545454;
		font-family: 'Roboto';
		font-size: 12px;
		font-weight: 400;
		text-align:center;
		margin:15px auto 0 auto;
		width:229px;
	}
	.socials{
		text-align:center;
		margin-bottom: 30px;
	}
	.socials a:first-child{
		margin-left:0;
	}
	.socials a{
		height:40px;
		width:40px;
		margin-left:12px;
		background-size:cover;
	}
	.tw {
	    background: url(../img/soc.png) no-repeat -57px 0;
	}
	.inst {
	    background: url(../img/soc.png) no-repeat -113px 0;
	}
	.goolge {
	    background: url(../img/google-soc.png) no-repeat 0 0;
	    background-size:contain;
	}
	.footer-bottom-bl-wrap {
	    max-width: 1400px;
	    margin: 0 auto;
	    display: -ms-flexbox;
	    display: -webkit-box;
	    display: flex ;
	    -ms-flex-align: center;
	        -webkit-box-align: center;
	            align-items: center;
	    -ms-flex-flow: column-reverse wrap;
	        flex-flow: column-reverse wrap;
	}
	
	/*STEPS*/
	.steps-line{
		height:4px;
		top:8px;
	}
	.fly{
		background: url(../img/mobile-circe.png) no-repeat 0 0;
		width:9px;
		height:9px;
		top: -3px;
    	right: -6px;
	}
	.step-label p{
		font-size: 11px;
		font-weight: 400;
		text-transform: uppercase;
		top:12px;
	}
	.steps-content{
		width:100%;
		margin:60px auto 30px auto;
	}
	.steps-content h5{
		font-size: 12px;
		font-weight: 300;
		margin: 0;
	}
	.steps-content h2{
		font-size: 24px;
		font-weight: 700;
		margin-top: 17px;
	}
	.head-content-bl-form{
		margin-top:14px;
	}
	.inp label{
		color: #707070;
		font-size: 13px;
		font-weight: 400;
	}
	.steps-content .where-div {
	    width: calc(100% - 13px);
	}
	.steps-inp .where-div {
	    margin-top: 5px;
	}
	.steps-inp input{
		font-size:13px;
	}
	.steps-content .when-inp {
	    margin-top: 10px;
	}
	.easy-autocomplete-container {
	 	width: calc(100% - 2px);
	    margin-top: 3px;
	}
	.easy-autocomplete-container ul li div {
	    padding: 5px 0 6px 15px;
	    font-size:13px;
	}
	.selected-country{
		font-size:13px;
		margin:0 30px 0 0;
		opacity:1;
	}
	.selected-country span {
	    position: relative;
	    top: 1px;
	}
	.where-div{
		padding: 0 10px 4px 9px !important;
		width:100%  !important;
		box-sizing:border-box;
	}
	.change-button{
		display:block;
		margin:93px auto 0 auto;
		position:static;
		clear:both;
		width:122px;
		padding:8px 0;
		outline:none;
	}
	.change-button,.arr-r{
		z-index:-1;
	}
	.steps-content .easy-autocomplete-container {
	    width: 231px;
	    margin-top: 3px;
	}

	.steps-content .head-content-bl-form form::after{
		content:'';
		display:block;
		clear:both;
	}
	.steps-content .head-content-bl-form{
	    padding-bottom: 117px;
	}
	.steps-wrapper{
	    background: url(../img/step2bg.png) no-repeat 0 0;
	    background-size: contain;
	    position:relative;
	}
	.steps-wrapper2{
		background-position-y: 253px;
	}
	.steps-wrapper3{
	    background-position-y: 1022px;
	}
	.steps-wrapper4{
	    background-position-y: 933px;
	}
	.who-else-block{
		position: absolute;
    	top: 360px;
		padding:0 30px 0 28px;
		max-width: 325px;
	    margin: 0 auto;
	}
	.who-else-block h1{
		color: #585d60;
		font-size: 20px;
		text-align:left;
		margin:0 0 10px 0;
	}
	.ages-block{
		width:auto;
	}
	.ages-block > div{
		float:none;
	}
	.ages-block > div:last-child{
		position:static;
		margin-left:0;
	}
	.ages-block > div p{
		font-size: 13px;
		margin-bottom:5px;
	}
	.add-age-button{
		width: 33px;
    	height: 31px;
    	background: #f3f3f3 url(../img/plus-mob.png) no-repeat 50% 50%;
	}
	.add-age-button:hover{
		background: #ebebeb url(../img/plus-mob.png) no-repeat 50% 50%;
	}
	.added-age{
		font-size:13px;
		width: 41px;
    	padding: 7px 0;
	}
	.age-inp-wrap .wrong{
		background: url(../img/mob-wrong.png) 0 0;
		width: 18px;
    	height: 18px;
	    top: -7px;
	    right: -8px;
	}
	.plans-group-block{
		margin: 32px 0 0 0;
    	padding: 0 30px 0 28px;
	}
	.refresh-button-wrapper {
	    margin: 21px 0 0 0;
	}
	.plans-block-a-qroup a{
		font-size:14px;
	}
	.active-plan-quote .plans-block-a-qroup a, .active-plan-quote .plan-descr{
		color:#fff;
	}
	.head-content-bl-container label a, .qstn-sign a{
		display:inline-block;
	}
	.tooltip-inner{
		font-size:11px;
		padding:3px;
		max-width:250px;
	}
	.tooltip-inner ul{
		padding:2px;
		margin:2px;
		list-style-position: inside;
	}
	.refresh-button{
		width:122px;
		padding: 11px 0 12px 0;
		background: #edecec;
		color: #535353;
		font-size:13px;
	}
	.refresh-button:active{
		background-color: #00c6f9;
		color:#fff;
	}
	.steps-wrapper2{
		background: none;
	}
	.steps-wrapper2 .head-content-bl-form{
		width:auto;
	    background: url(../img/step2bg.png) no-repeat 0 100%;
	    background-size: 100% auto;
	}
	.steps-wrapper2 .head-content-bl-form > div{
		float:none;
		width:225px;
		margin-left:auto;
		margin-right:auto;
	}
	.plans-group-block > div{
		height:auto;
	}
	.plans-block .plan-quote{
		position:static;
	}
	.plans-block-a-qroup{
		position:static;
		margin:11px 0 0 0;
	}
	.plans-group-block > div:first-child{
		margin-top:0;
		margin-left:auto;
	}
	.plans-block .plan-quote.red-quote{
	    background: #e1164b url(../img/checked-plan-quote.png) no-repeat 7px 11px;
	    background-size: 20px 16px;
	}
	.plans-block .plan-quote.red-quote:hover{
	    background: #9c071d url(../img/checked-plan-quote.png) no-repeat 7px 11px;
	    background-size: 20px 16px;
	}
	.plans-group-block > div p{
		position:static !important;
	}
	.plans-group-block > div{
		width:auto;
		padding:20px 30px 25px 28px;
	    margin-left: auto;
	    margin-top: 27px;
	    margin-right: auto;
	    max-width: 265px !important;
	}
	.plans-block .plan-name{
		font-size:19px;
	}
	.plans-block .plan-val{
		font-size: 39px;
		margin-top:13px;
	}
	.plans-block .plan-val span{
		font-size: 29px;
	}
	.plans-block .plan-descr{
		font-size: 13px;
		margin-top:15px;
		min-height:0;
		display:block;
	}
	.plans-block .plan-quote{
		margin-top:17px;
		width:122px;
		padding:9px 0 9px 0;
	}
	.steps-wrapper3 .when-inp{
		float:none;
		clear:both;
	}
	.steps-wrapper3 .age-inp{
		margin-left:0;
	}
	.steps-wrapper3{
		background:none;
	}
	.steps-wrapper3 .head-content-bl-form {
	    width: auto;
	    background: url(../img/step2bg.png) no-repeat 0 100%;
	    background-size: 100% auto;
	    padding-bottom: 120px !important;
	}
	.cover-info {
	    margin: 40px 0 0 0;
	}
	.circle-cover-info{
		width:117px;
		height:117px;
	    margin: 0px auto 0 auto;
	}
	.circle-cover-info h2{
		font-size: 27px;
		padding: 30px 0 0 0;
	}
	.circle-cover-info h2 span {
	    font-size: inherit;
	    font-size: 30px;
	    margin-left: 2px;
	}
	.pack-close{
		position: absolute;
	    top: 20px;
	    right: 10px;
	    z-index: 2;
	}
	.circle-cover-info h3{
		font-size:12px;
		font-weight:normal;
		margin:2px 0 0 0;
	}
	.change-button-wrapper {
	    margin-top: 22px;
	}
	.change-button-wrapper a{
		display:inline-block;
		margin:0 0 0 0;
	}
	.cover-info .change-button {
	    margin-left: 0;
	}
	.details-form{
		position:static;
		width:auto;
	}
	.details h1{
		font-size: 24px;
		font-weight: 400;
	}
	.details h3{
		margin:18px 0 12px 0;
		font-size: 13px !important;
	}
	.details-form{
		width:236px;
		margin:0 auto;
	}
	.details-form input,.details-form select{
		margin:7px 0 0 0;
		font-size: 13px;
		padding:7px 10px 7px 9px;
	}
	.details-form > input{
		width:calc(100% - 21px);
		max-width:215px;
		margin-left:auto;
		margin-right:auto;
	}
	.details-form .datepicker-input-item input{
		width:73px;
		margin:7px 0 0 0;
		font-size: 13px;
		padding:7px 10px 7px 9px;
	}
	.details-form .jq-selectbox__select-text{
		font-size:13px;
	}
	.details-form .form-select{
		margin:7px 0 0 0 !important;
		width:99%;
	}
	.details-form .jq-selectbox .jq-selectbox__dropdown {
	    width: 101% !important;
	}
	.details-form .jq-selectbox li{
		font-size:13px;
		padding-left:9px;
	}
	.details-form .jq-selectbox__select {
	    padding: 8px 0px 8px 9px !important;
	}
	.jq-selectbox__trigger {
	    top: 8px;
	}
	.personal-details {
		margin: 40px 0 0 0;
	    padding: 0 0 35px 0;
	    padding-top: 0;
	    border-bottom: none;
	}
	.steps-wrapper3 .steps-content{
		margin-bottom:0;
	}
	.save-details-for-future-p{
		margin:25px 0 0 0;
		font-size: 13px;
	}
	.save-details-for-future-p input {
	    margin-right: 5px;
	    vertical-align: -2px;
	}
	.payment-details{
	    margin-top: 35px;
	    width: 236px;	
	}
	.payment-details h3{
		margin:11px 0 9px 0;
	}
	.medical-conditions-wrapper {
	    margin: 30px 0 0 0;
	    padding-bottom: 20px;
    	border-bottom: 1px solid #dadada;
	}
	.medical-conditions-wrapper h1{
		font-size:22px;
	    width: 90%;
    	margin: 10px auto 0 auto;
	}
	.payment-details p{
		color: #535353;
		font-family: Roboto;
		font-size: 13px;
		font-weight: 400;
		margin-bottom:10px;
	}
	.payment-inp-group{
		width:236px;
		margin:0 auto 0 auto;
	}
	.payment-inp-group input{
		width:calc(50% - 21px)
	}
	.complete-card-wrapper{
		margin-top:25px;
	}
	.complete-card-wrapper button{
		width:122px;
		padding: 13px 0 14px 0;
		font-size: 14px;
	}
	.confirmation-info{
		width:220px;
		position:static;
		padding-bottom:60px;
	}
	.confirmation-info > div{
		float:none;
	}
	.confirmation-countries{
		width:auto;
	}
	.confirmation-info-left .details{
		margin-top:14px;
	}
	.confirmation-info-right{
		margin:3px 0 0 0;
	}
	.steps-wrapper4{
		background:none;
	}
	.steps-wrapper4 .personal-details{
		width:auto;
		margin-left:auto;
		margin-right:auto;
	    margin-top: 25px;
    	padding-top: 33%;
		padding-bottom:0;
		background: url(../img/step2bg.png) no-repeat 0 0;
	    background-size: contain;
	    position: relative;
	}
	.details-confirm-columns > div{
		margin-left:0;
		float:none;
	}
	.details-confirm-column h4{
		margin:0;
	}
	.details-confirm-column h4,.details-confirm-column p{
		font-size: 13px;
	}
	.details-confirm-column p{
		margin:4px 0 0 0;
	}
	.pay-complete-wrapper{
		margin-top:27px;
	}
	.pay-complete-wrapper button{
		width:212px;
	    padding: 13px 0 14px 0;
	    font-size: 14px;
	}
	.steps-wrapper4 .steps-content{
		margin-bottom:45px;
	}
	.steps-wrapper4 .details-confirm-columns{
		width: 212px;
	    margin-left: auto;
	    margin-right: auto;
	}
	.column > div {
	    margin-top: 0;
	}
	.steps-wrapper5{
	    background: url(../img/step2bg.png) no-repeat 0 96%;
	    background-size: contain;
	    position:relative;
	}
	.thanks-wrapper{
		margin:0;
	    padding: 60px 0 130px 0;
	}
	.thanks-logo {
	    height: 95px;
	    background: url(../img/thanks-mob-logo.png) no-repeat 50% 0;
	}
	.thanks-content.steps-content{
		margin:0;
	}
	.thanks-wrapper{
	}
	.thanks-text{
		margin:5px 0 0 0;
	}
	.thanks-text h1{
		color: #05587b;
		font-size: 30px;
		font-weight: 700;
	}
	.thanks-text p{
		width: 274px;
		font-size: 13px;
		font-weight: 300;
	    margin: 17px auto 0 auto;
	}

	/*ORDERS*/
	.orders-panel{
		display:none;
	}
	.table-content{
		width:auto;
	}
	.orders-table .orders-table-container{
		width:auto;
	}
	.orders-table-container thead tr{
		display:none;
	}
	.orders-table .orders-table-container td{
		padding:0;
	}
	.orders-table-container tbody{
		border-bottom:1px solid #e7e7e7;
	}
	.orders-table-container tbody tr{
		display: block;
		position:relative;
		clear: both;
	}
	.orders-table-container tbody tr td{
		display:inline-block;
		font-size: 14px;
		padding:0;
		border:none;
	}
	.orders-table-container tbody tr td:nth-child(1){
		font-weight:bold;
		text-align:left;
		padding:16px 0 16px 15px;
	}
	.orders-table-container tbody tr td:nth-child(2){
		text-align:right;
		font-size: 13px;
		font-weight: 400;
		padding:18px 15px 18px 0;
	}
	.orders-table-container tbody tr td:nth-child(1),.orders-table-container tbody tr td:nth-child(2){
		background: #f7f7f7;
	    width: calc(50% - 15px);
	    float: left;
		border:none;
	}
	.orders-table-container tbody tr td:nth-child(3){
		color: #00c6f9 !important;
		font-family: Roboto;
		font-size: 21px;
		font-weight: 700;
		text-align:center;
		width:80px;
		padding:10px 0 35px 0;
		height:83px;
		float:left;
		border-right:1px solid #e7e7e7;
	}
	.orders-table-container tbody tr td:nth-child(7){
		background: url(../img/download-bg.png) no-repeat 0 0 !important;
		width:44px;
		height:44px;
		position: absolute;
	    left: 21px;
	    top: 99px;
		color:transparent;
	}
	.orders-table-container tbody tr td:nth-child(7):hover{
		color:transparent !important;
	}

	.orders-table-container tbody tr td:nth-child(4){
	    font-weight: bold !important;
	    font-size: 13px;
	    width: 160px;
	    margin: 13px 0 0 15px;
	}

	.orders-table-container tbody tr td:nth-child(5){
	    font-size: 13px;
	    color: #5a5a5a;
	    width: 110px;
	    margin: 7px 0 0 15px;
	}
	.orders-table-container tbody tr td:nth-child(6){
	    font-size: 13px;
	    margin: 8px 0 0 -1px;
	    text-align: left;
	    width: 171px;
	    border-left: 1px solid #e7e7e7;
	    padding: 0 0 5px 15px;
	}
	/*EDIT PERSONAL DATA*/

	.form-content,.form-cont{
		width:auto;
	}
	.form-content{
		margin:30px auto 50px auto;
		width:236px;
	}
	.pages-header{
		font-size: 24px;
	}
	.form-block{
		padding-top:15px;
	}
	.form-column{
		float:none;
		margin-left:0;
		padding-left:0;
		width:auto;
	    margin-top: 25px;
	}
	.form-column div input:not(.hasDatepicker),.form-column select,.medical-form-part input[type='text']{
		width: calc(100% - 17px);
	    max-width: 215px;
	    margin-left: auto;
	    margin-right: auto;
	    margin: 4px 0 0 0;
	    font-size: 13px;
	    padding: 7px 10px 7px 9px;
	}
	.form-column .datepicker-input-item input{
	    font-size: 13px;
	    padding: 7px 10px 7px 9px;	
	    margin: 4px 0 0 0;
	    width:95px;
	    font-weight: normal;
	}
	.inp-group > div{
		float:none;
	}
	.input-item {
	    margin-top: 5px;
	}
	.input-item label{
		margin-bottom:0;
		font-size: 13px;
	}
	.datepicker-input-item .ui-datepicker-trigger {
	    display: inline-block;
	    width: 37px;
	    height: 31px;
	    background: #f7f7f7 url(../img/mob-picker.png) no-repeat 50% 50%;
	    left:5px;
	}
	.form-cont .jq-selectbox{
		width: 236px;

	}
	.form-cont .jq-selectbox__select{
	    padding: 7px 10px 7px 9px;	
	}
	.form-cont .jq-selectbox__select-text{
		font-size:13px;
		font-weight:bold;
	}
	.form-cont .jq-selectbox__dropdown{
		width:238px !important;
		left:0;
	}
	.form-cont .jq-selectbox li{
		font-size:13px;
		padding-left:9px;
	}
	.form-block .form-select{
		margin-top:4px !important;
	}
	.radio-group {
	    margin: 3px 0;
	}
	.update-container {
	    margin-top: 36px;
	}
	.update-container button{
		width:122px;
		padding:8px 0;
	}
	.bigger-bottom-offset label{
		margin-bottom:8px;
	}
	.subscribe-label span{
	    margin-left: 25px;
	    display: inline-block;
	    top: -9px;
	    position: relative;	
	}
	.medical-form-part input[type='text']::-webkit-input-placeholder{
		font-size: 13px;
	}
	.medical-form-part input[type='text']::-ms-input-placeholder{
		font-size: 13px;
	}
	.subscribe {
	    vertical-align: -10px;
	}
	.disabled-select{
	    width: 219px;
	    margin-top: 12px;
	    padding: 7px 10px 7px 9px;
	    font-size:13px;
	    background: #ebebeb url(../img/arr-disabled.png) no-repeat 93.7% 6px;
	}

	/*POPUP WRAPPER*/

	.popup{
		width:233px;
   	    padding: 37px 23px 49px 18px;
   	    height:418px;
   	    max-height:auto;
   	    min-height:auto;
	}
	.popup .p-logo {
    	height: 42px;
	    background: url(../img/popup-logo-mob.png) no-repeat 50% 0;
	}
	.p-content {
	    margin: 15px 0 0 0;
	}
	.p-content-btns a{
		font-size:13px;
		padding-bottom: 7px;
	}
	.p-tabs{
		margin:19px 0 0 0;
	}
	.tab-header h2{
		font-size: 21px;
		font-weight: 400;
	}
	.tab-header p{
		font-size: 13px;
	}
	.p-inputs{
		font-size: 13px;
		padding:7px 10px 7px 9px;
		width:calc(100% - 19px);
		margin:6px 0 0 0 !important;
	}
	.p-inputs::-webkit-input-placeholder{
		font-size:13px !important;
	}
	.p-inputs::-ms-input-placeholder{
		font-size:13px !important;
	}
	.p-cbox-label{
		font-size:13px;
		margin:14px 0 0 0;
	}
	.p-cbox-label span{
		position:relative;
		top:-2px;
	}
	.p-submit{
		margin:10px 0 0 0;
		width:235px;
		padding:9px 0;
	}
	.forgot{
		position:static;
		text-align: center;
		font-size:13px;
		margin:11px 0 0 0;
		width:auto;
	}
	.tab-form .jq-selectbox{
		width:224px;
		padding: 7px 0px 7px 9px;
	}
	.tab-form .jq-selectbox__select-text{
		font-size:13px;
	}
	.tab-form .jq-selectbox__select{
		padding:0;
	}
	.tab-form .jq-selectbox__trigger{
		top:0;
	}
	.tab-form .jq-selectbox__dropdown{
		left:0;
		margin:5px 0 0 -1px;
		width:235px;
	}
	.tab-form .jq-selectbox li{
		padding-left:9px;
		font-size:13px;
	}
	.by-pressing{
		font-size:11px;
		margin-top:13px;
	}
	.close-popup-mob{
		width:23px;
		height:21px;
		position:absolute;
		right:9px;
		top:14px;
		background: url(../img/popup-mob-close.png) no-repeat 0 0;
	}
	.close-popup-mob:active{
		background: url(../img/popup-mob-close-active.png) no-repeat 0 0;
	}

	.head-content-bl-container label a, .qstn-sign a{
		width:15px;
		height:15px;
		background-size:contain;
	}
	.benefits-top-p {
		width: 85%;
	    margin: 15px auto 15px auto;
	    font-family: 'Roboto';
	    font-size: 12px;
		color: #676a6c;
	    font-weight: 400;
	    text-align: center;
	}
	.benefits-bl .column:first-of-type img{
		width:68px;
	}
	.benefits-bl .column:nth-of-type(2) img{
		width:64px;
	}
	.benefits-bl .column:nth-of-type(3) img{
		width:72px;
	}
	.benefits-bl .column:last-of-type img{
		width:82px;
	}
	.single-trip-disclosure{
		color: #acadad;
	    font-family: 'Roboto';
	    font-weight: 400;
	    min-width: 260px;
	    width:85%;
	    margin: 25px auto 32px auto;
	}
	.chubb-insurance-textblock p, .single-trip-disclosure p{
		text-align:center;
		font-family: 'Roboto';
		font-size: 10px;
		color: #676a6c;
		font-weight: 300;
	}
	.chubb-insurance-textblock p a, .single-trip-disclosure p a{
		color: #02abd6;
		font-weight: 400;
	}
	.content-wrapper {
	    padding: 0;
	    margin-bottom: 25px;
	    margin-top: 29px;
	}

	.chubb-insurance-textblock {
	    min-width: 260px;
	    width:85%;
	    padding: 27px 0 40px 0;
	}
	p.police-number{
		color: #e1164b;
	    font-family: 'Melbourne Reg';
		font-size: 24px;
		font-weight: 700;
	    margin: 8px auto 5px auto;
	}
	.thanks-download-pdf-btn{
		font-size:12px;
		background: url(../img/download.png) no-repeat 0 0px;
	    margin: 7px 0 0 0;
	    padding: 2px 0 1px 20px;
	}
	.thanks-info p.detail-descr {
	    font-family: 'Roboto';
	    font-size: 11px;
	    color: #676a6c;
	    font-weight: 300;
	}
	.who-else-block {
	    margin-top: 30px;
	    position:static;
	}
	.back-btn-container {
	    margin: 0 0 20px 0;
	}
	.benefits-container{
		width:auto;
	}
	.benefits-container .benefits-toggle{
		font-size:27px;
	}
	.closed-benefits::before {
	    content: '';
	    width: 78px;
	    height: 32px;
	    display: inline-block;
	    background: url(../img/cl-ben-sprite.png) no-repeat 0 0;
	    position: absolute;
	    left: calc(50% - 47px);
	    top: 44px;
	    background-size: 100% 63px;
	}
	.benefits-toggle.closed-benefits:hover::before{
		background: url(../img/cl-ben-sprite.png) no-repeat 0 -31px;
		background-size: 100% 63px;
	}
	.benefits-toggle::after {
	    content: '';
	    display: inline-block;
	    width: 42px;
	    height: 16px;
	    background: url(../img/arrow-sprite.png) no-repeat 0 -23px;
	    background-size: 30px;
	    position: relative;
	    left: 13px;
	    bottom: 1px;
	}
	.benefits-toggle.closed-benefits::after {
	    background: url(../img/arrow-sprite.png) no-repeat 0 0;
    	background-size: 30px;
	}
	.benefits-toggle.closed-benefits:hover::after{
		background: url(../img/arrow-sprite.png) no-repeat 0 -32px;
		background-size: 30px;
	}
	.benefits-toggle.opened-benefits:hover::after{
		background: url(../img/arrow-sprite.png) no-repeat 0 -32px;
		background-size: 30px;
	}
	.benefits-toggle.opened-benefits::after{
		background: url(../img/arrow-sprite.png) no-repeat 0 -16px;
		background-size: 30px;
	}

	.benefits-table thead tr td p.ben-name {
	    color: #05587b;
	    font-family: 'Roboto';
	    font-size: 12px;
	    font-weight: 400;
	}
	.benefits-table thead tr td {
	    line-height: initial;
	    padding: 0 0 12px 0;
	}
	.benefits-table tbody p {
	    font-size: 11px;
	}
	.benefits-table thead tr td p.ben-price {
	    font-size: 18px;
    	margin: 6px 0 0 0;
	}
	.benefits-table tbody th p::after {
	    width: 20px;
	    height: 21px;
	    top: 5px;
	    left: 6px;
	    background-size: contain;
	}
	.benefits-table tbody tr td {
	    font-size: 11px;
	    padding: 15px 0;
	}
	.benefits-table th {
	    padding: 9px 0 9px 0;
	}
	.benefits-container {
	    width: auto;
	    margin: 40px auto 25px auto;;
	}
	.option-packets-wrapper {
	    margin: 20px 0 0 0;
	}
	.option-packets-content > h1 {
	    font-size: 27px;
	}
	.option-packets-content > h4 {
	    width: 265px;
	    margin: 19px auto 0 auto;
	    font-size: 12px;
	}
	.option-packets {
	    margin: 20px 0 0 0;
	}
	.option-packets .details-pack{
		margin: 10px auto 0 auto !important;
		float:none;
	}
	.packs-name {
	    color: #05587b;
	    font-family: Roboto;
	    font-size: 13px;
	    font-weight: 700;
	    text-align: center;
	    position:relative;
	    top:19px;
	    margin: 0 auto;
        max-width: 120px;
	}
	.referral-select-block,.referral-select{
		width:232px !important;
	}
	.steps-wrapper4 .packs-name{
		text-align:right;
		margin-right:5px;
	}
	.details-pack h4, .total-prem h4 {
	    font-size: 30px;
	    margin: 2px 0 0 0;
	}
	.option-packets .details-pack {
	    padding: 6px 10px 6px 15px;
        background: #f7f7f7 url(../img/add-packet.png) no-repeat 225px 21px;
		background-size: 20px 20px;
	    min-height: 51px;
	}
	.details-pack h4{
		position: relative;
    	top: -6px;
	}
	.option-packets .details-pack.added-details-pack {
	    background: #e1164b url(../img/checked-plan-quote.png) no-repeat 222px 20px;
	}
	.confirmation-info-wrapper{
		width:auto;
	}
	.confirmation-info-wrapper.step2-confirmation-info-wrap {
	    margin: 40px auto 0 auto;
	}
	.uhaveselected {
	    font-size: 27px;
	    margin: 0 0 20px 0;
	}
	.confirmation-info .details h2 {
	    font-size: 22px !important;
	    font-weight: 700;
	    font-family: 'Roboto';
	    margin: 7px 0 7px 0;
	}
	.confirmation-info .details .trip-type-p {
	    font-size: 13px;
	}
	.confirmation-countries-block .selected-country{
		font-size:13px;
		right: -21px;
	}
	.selected-country:not(.not-x-close)::after{
		font-size:15px;
	}
	.confirmation-info .details h1 {
	    font-size: 20px;
	}
	.confirmation-countries-block {
	    margin-top: 15px;
	}
	.confirmation-date-block span {
	    font-size: 13px;
	}
	.confirmation-arr {
	    height: 14px;
	    margin: 0 12px 0 12px;
	}
	.confirmation-info{
		display: -ms-flexbox;
		display: -webkit-box;
		display: flex;
	    -ms-flex-flow: column wrap;
	        flex-flow: column wrap;
	    -ms-flex-align: center;
	        -webkit-box-align: center;
	            align-items: center;
	}
	.step2-confirmation-info-wrap .confirmation-info-right{
		margin-left:0 !important;
	}
	.confirmation-info-packs {
	    margin-left: 0;
	}
	.confirmation-info-wrapper .confirmation-info > div{
		float:none;
	}
	.step2-confirmation-info-wrap .confirmation-info-packs{
		margin-left:0;
	}
	.total-prem {
	    display: inline-block;
	    position: static;
	    top: 0;
	    right: 0;
	    margin-bottom: 25px;
	}
	.total-prem h4 {
	    text-align: center;
	    margin: 8px 0 0 0;
	    font-size: 23px;
	}
	.change-button-wrapper{
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-ms-flex-flow:column wrap ;
		    flex-flow:column wrap ;
		    -webkit-box-align: center;
		        -ms-flex-align: center;
		            align-items: center;
	}
	.buyNow{
		margin-left:0 !important;
		width: 142px;
	    font-size: 14px;
	    padding: 13px 0;
	}
	.steps-wrapper3 .confirmation-info-wrapper{
		left:0;
	}
	.confirmation-info-wrapper .confirmation-info{
		width:auto;
	}
	.confirmation-info-wrapper .confirmation-info-right{
		margin-left:0;
	}
	.head-content-bl-form form > div{
		float:none;
	}
	.confirmation-info-wrapper {
	    width: auto;
	    margin: 17px auto 0 auto;
	}
	.details-pack{
		margin-top:10px;
	}
	.step3-inp-wrapper.input-item input{
		font-size: 13px;
	    padding: 7px 10px 7px 9px;
	    margin: 4px 0 0 0;
	    width: 75px;
	    text-align: center;
		color: #8e8e8e;
		font-family: Roboto;
		font-size: 13px;
	    font-weight: normal;
	}
	.flag-disabled {
	    width: 40px;
	    height: 31px;
	}
	.intl-tel-input .selected-flag .iti-flag{
		left:5px;
	}
	.intl-tel-input .selected-flag .iti-arrow{
		right:8px;
	}
	.intl-tel-input.allow-dropdown .selected-flag, .intl-tel-input.separate-dial-code .selected-flag {
	    width: 37px;
	}
	.flag-disabled .iti-flag {
	    left: 6px;
	    position: absolute;
	    top: 11px;
	}
	.step3-inp-wrapper {
	    width: 100% !important;
	}
	.intl-tel-input.allow-dropdown input, .intl-tel-input.allow-dropdown input[type=text] {
	    padding-left: 45px;
	}
	input.adult-phone {
	    width: calc(100% - 58px);
	}
	.steps-wrapper3 .details-form input, .details-form select,.details-form .form-select{
		margin:0 !important;
	}
	.steps-wrapper3 .details-form .form-select {
	    width: 98%;
	}
	.medical-conditions-wrapper > p {
	    font-size: 15px;
	    margin: 10px 0 0 0;
	    width: 90%;
    	margin: 10px auto 0 auto;
	}
	.medical-conditions-wrapper label:first-of-type{
		text-align:center;
	}
	.medical-conditions-wrapper label {
	    text-align: left;
	    font-size: 12px;
	    margin: 17px auto 0 auto;
	    width: 226px;
	}
	.payment-container{
		margin:17px 0 0 0;
	}
	.medical-conditions {
		text-align:left;
		padding: 20px 15px 10px 15px;
		margin: 25px 0 15px 0;
	}
	.payment-container > div {
	    margin-top: 7px;
	}
	.medical-conditions-text-block p.med-cond-bold {
	    font-size: 12px;
	}
	.medical-conditions-text-block p {
	    font-size: 12px;
	}
	.medical-conditions-text-block ul{
		padding:0;
		font-size:12px;
	}
	.medical-conditions-text-block ul span{
		padding-left:10px;
	}
	.medical-conditions-wrapper label input {
	    vertical-align: -2px;
	    cursor: pointer;
	}
	.payment-details input {
	    width: calc(100% - 21px);
	}

	/*CUSTOMERS*/

	.customers-panel{
		display:none;
	}
	.table-content{
		width:auto;
	}
	.customers-table .customers-table-container, .customers-table .customers-table-container tr{
		width:auto;
		display:-ms-flexbox;
		display:-webkit-box;
		display:flex;
		-ms-flex-flow:row wrap;
		    flex-flow:row wrap;
	}
	.customers-table-container tbody tr td:nth-child(6)::before{
		content:'Zip: ';
	}
	.customers-table-container tbody tr td:nth-child(7)::before{
		content:'Last Order: ';
	}
	.customers-table .customers-table-container thead tr{
		display:none;
	}
	
	.customers-table .customers-table-container tbody tr td,
	.customers-table .customers-table-container tbody tr td:nth-child(4){
		width:50%;
		box-sizing: border-box;
		text-align:center;
	}
	.customers-table .customers-table-container tbody tr td:first-child,
	.customers-table .customers-table-container tbody tr td:nth-child(2){
		background:#f7f7f7;
		border-left:none;
		border-right:none;
		font-weight:bold;
	}
	.customers-table .customers-table-container tbody tr td:first-child{
		text-align:right;
	}
	.customers-table .customers-table-container tbody tr td:nth-child(2){
		text-align:left;
	}

	.customers-table .customers-table-container tbody tr td:nth-child(5),
	.customers-table .customers-table-container tbody tr td:nth-child(6),
	.customers-table .customers-table-container tbody tr td:nth-child(7){
		width:100%;
	}
	.customers-table .customers-table-container tbody tr td:nth-child(5){
		text-align:center;
	}
	/*customers end*/

    /*   ITEORA PAGE INFO*/
	
	.iteora-page-information{
		padding:0 15px;
	    margin: 35px auto 20px auto;
	}
	.iteora-page-information,.iteora-page-information table{
		width:auto !important;
		text-align: center;
	}
	.iteora-page-information ul{
		padding:0;
	}
	.iteora-page-information p{
		line-height:27px;
	}
	.iteora-page-information h2 {
	    font-size: 32px;
	    margin: 15px 0 20px 0;
	}
	.iteora-page-information > ul li p {
	    font-size: 15px;
	}
	.iteora-page-information > p {
	    font-size: 15px;
	    margin: 15px 0 0 0;
	}
	.iteora-page-information a {
	    font-size: 15px;
	}
	.iteora-page-information table td p {
	    font-size: 14px;
	}
	.iteora-page-information table td p strong {
	    font-size: 15px;
	}
	.iteora-page-information table tr td{
		width:50%;
	}
    /*ITEORA INFO END*/
	
	/* WHITE LABELs*/

	.white-labels-wrapper{
		width:auto;
	    padding: 40px 0 55px 0;
	}
	.white-labels-container {
	    margin-top: 25px;
	}
	.white-labels-container input{
	    max-width: 215px;
	    margin-left: auto;
	    margin-right: auto;
	    margin: 4px 0 0 0;
	    font-size: 13px !important;
	    padding: 7px 10px 7px 9px !important;
	    width: calc(100% - 17px) !important;
	}
	.white-labels-container input[type='checkbox']{
		width:auto !important;
		padding:auto !important;
	}
	.group-header h3{
		font-size:16px;
		margin:10px 0 10px 0;
	}
	.group-header{
		width:236px;
		margin:0 auto;
	}
	.group-checkboxes label {
	    font-size: 14px;
	    text-align: center;
	}
	.group-logo-icon-wrapper img {
	    width: 170px;
	}
	.group-logo-wrapper h4 {
	    font-size: 15px;
	}
	.white-labels-buttons{
		margin-top: 20px;
		padding-top: 35px;
	}
	.white-labels-button {
	    width: 122px;
	    padding: 8px 0 7px 0;
	    font-size: 16px;
	}
	input.group-logo-upload-default {
		padding:0;
	    height: 46px;
	    width: 121px !important;
	    position: absolute;
	    top: 50px;
	    left: 46px;
	    opacity: 0;
	}
	/*LABELS END*/


	/*STATISTIC*/
	.statistic-table .statistic-table-container{
		/*width:100%;*/
		margin-top:40px;
	}
	.total-table{
		width:1125px;
	}
	.statistic-table .statistic-table-container tr{
		width:auto;
		display:-ms-flexbox;
		display:-webkit-box;
		display:flex;
		-ms-flex-flow:row wrap;
		    flex-flow:row wrap;
	    width: 100%;
	}
	.statistic-table tbody{
		width:100%;
	}
	.statistic-table .statistic-table-container thead tr{
		display:none;
	}
	
	.statistic-table .statistic-table-container tbody tr td,
	.statistic-table .statistic-table-container tbody tr td:nth-child(4){
		width:50%;
		box-sizing: border-box;
		text-align:center;
	}
	.statistic-table .statistic-table-container tbody tr td:first-child,
	.statistic-table .statistic-table-container tbody tr td:nth-child(2){
		border-left:none;
		border-right:none;
		background:#f7f7f7;
	}
	.statistic-table .statistic-table-container tbody tr td:first-child{
		text-align:center;
	}
	.statistic-table .statistic-table-container tbody tr td:nth-child(2){
		text-align:center;
	}
	.statistic-table .statistic-table-container tbody tr td:first-child::before{
		content:'Birth: ';
	}
	.statistic-table .statistic-table-container tbody tr td:nth-child(2)::before{
		content:'Visits: ';
	}
	.statistic-table .statistic-table-container tr td:nth-child(3)::before{
		content:'Sales: ';
	}
	.statistic-table .statistic-table-container tr td:nth-child(4)::before{
		content:'Revenues: ';
	}
	.statistic-table .statistic-table-container tr td:nth-child(5)::before{
		content:'Conversion: ';
	}
	.statistic-table .statistic-table-container tbody tr:nth-child(even) {
	    background: none;
	}
	.statistic-table .statistic-table-container tbody tr td:nth-child(5),
	.statistic-table .statistic-table-container tbody tr td:nth-child(6),
	.statistic-table .statistic-table-container tbody tr td:nth-child(7){
		width:100%;
		font-weight:normal;
	}
	.statistic-table .statistic-table-container tr td:nth-child(3), 
	.statistic-table .statistic-table-container tr td:nth-child(4), 
	.statistic-table .statistic-table-container tr td:nth-child(5) {
	    font-weight: normal;
	}
	.statistic-table .statistic-table-container {
	    width: 100%;
	    border-collapse: collapse;
	    padding: 0;
	    margin: 0 auto;
	}
	.statistic-panel,.graphic-widget{
		display:none;
	}
	.pager {
	    margin: 41px 0 65px 0;
	}
	.pager .page a{
		font-size:13px;
	    width: 40px;
	   	margin-left:4px;
	}
	.pager li:not(.page) a {
	    font-size: 14px;
	}
	.pager li.next {
	    margin-left: 4px;
	}
	/*STATISTIC END*/

	/*CONTACT US*/
	
	.contact-wrapper {
	    padding: 35px 0 43px 0;
	}	
	.contact-content {
	    width: 260px;
	    margin: 0 auto;
	}
	.contact-content h2{
		text-align:center;
	    margin: 25px 0 26px 0;
		font-size: 21px;
	}
	.contact-text .contact-tel {
	    font-size: 18px;
	    display: block;
	    margin-bottom: 10px;
	}
	.contact-text .contact-tel span {
	    color: #e1164b;
	    font-size: 31px;
	}
	.contact-text {
	    padding: 131px 0 0 0;
	}
	.contact-us-butt {
	    width: 133px;
	    padding: 13px 0 14px 0;
	    font-size: 14px;
	}
	.contact-us-butt-wrapper {
	    text-align: center;
	    margin: 30px 0 0 0;
	}
	.contact-text p{
		font-size:12px;
		color: #535353;
	}
	.footer-top{
		padding: 25px 0 35px 0;
	}
	.footer-label{
		font-size: 12px;
	}
	.footer-label::after {
	    width: 32px;
	}
	/*CONTACT US END*/

	.back-button{
		background: url(../img/back-btn-mob.png) no-repeat 0 0;
		width:77px;
		padding:4px 0;
	}
	.back-button:hover{
		background: url(../img/back-btn-mob.png) no-repeat 0 0;
	}
	.plans-group-block {
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
	}
	.plans-group-block > div{
		max-width:none;
	}

	.confirmation-info{
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-ms-flex-flow:column nowrap;
		    flex-flow:column nowrap;
	}
	.total-prem p {
	    font-size: 21px;
	}
	.thanks-info {
	    margin: 20px 0 0 0;
	}
	.thanks-info h4{
		font-size:12px;
	}
	.jq-selectbox li:first-child {
	    padding-top: 7px;
	}
	.jq-selectbox li{
		padding: 4px 10px 6px 16px;
	}
	.card-type-select ul {
	    height: 87px;
	    width: calc(100% - 0px);
	}
	.jq-selectbox__trigger{
		right:-4px;
	}
}
